<section class="features-banner">
    <div class="features-banner-image">
        <img src="../../assets/img/marketing_laptop.jpg"  alt=" ">
      </div>
  <div class="features-banner-text">
    <h1>Shrpr’s Education Platform and Marketplace</h1>
    <p>Connecting the world of Face to Face Learning</p>
    <a class="cta-banner" href="javascript:void(0);">Schedule a Demo</a>
  </div>
</section>
<!-- features banner end-->
<app-marketingnav></app-marketingnav>
<!-- features nav end-->
<section class="slider-image-content">
<carousel [interval]="NextPhotoInterval" [noWrap]="noLoopSlides">
  <slide *ngFor="let slidez of slides; let index=index"
         [active]="slidez.active">
         <img [src]="slidez.image" style="margin:auto;" class="slider-img">
      <div class="banner-content">
        <span class="slide_index">{{index + 1}}</span>
        <h4>{{slidez.title}}</h4>
        <p class="banner_text">{{slidez.detail}}</p>
      </div>
    <!--<div class="carousel-caption">
      <h3 style="background-color: transparent;color: white;">Slide {{index + 1}}</h3>
      <p  style="background-color: transparent;color: white;">{{slidez.text}}</p>
    </div>-->
  </slide>
</carousel>
</section>
<!-- Slider End -->
<app-marketingform></app-marketingform>
      <!-- Form end -->