/*features Banner start*/
.features-banner {
    background-color: #ec9332;
    text-align: center;
}

/*features nav start*/

:host /deep/ app-marketingnav .features-nav ul li:nth-of-type(9) a {
    color: #ec9332;
}
/*FAQ Bullet*/
.faq {
    padding: 30px 10px 30px 10px;
}
.faq ul {
    padding: 0 0 20px 0;
}
.faq ul li {
    padding: 0 0 5px 17px;
    font-family: 16px;
    line-height: 20px;
    color: #5c5c5c;
    position: relative;
}
.faq ul li::before{
    content: "";
    position: absolute;
    left: 0;
    top: 6px;
    height: 8px;
    width: 8px;
    background: #696c74;
    border-radius: 50%;
}