<section class="features-banner">
  <div class="features-banner-image">
      <img src="../../assets/img/bg_POShero_1x.jpg"  alt=" ">
    </div>
<div class="features-banner-text">
  <h1>Shrpr’s Education Platform and Marketplace</h1>
  <p>Connecting the world of Face to Face Learning</p>
  <a class="cta-banner" href="javascript:void(0);">Schedule a Demo</a>
</div>
</section>
<!-- features banner end-->
<app-marketingnav></app-marketingnav>
<!-- features nav end-->
<section class="faq">
<ul>
  <li>How are refunds to customers handled?</li>
  <li>What if we need to cancel a class due to low enrollments (or for any reason) after enrollments have already been taken?</li>
  <li>How do we get paid?</li></ul>
</section>
<!-- Faq End -->
<app-marketingform></app-marketingform>
      <!-- Form end -->