<!-- features banner end-->
<h2>shrpr's Features for Teachers and Education Administrators</h2>
<section class="features-nav">
  <ul>
    <li><a [routerLink]="['/marketing/digital']"><img src="../../assets/img/marketing-icon.svg"  alt="Digital Marketing">Digital Marketing</a></li>
    <li><a [routerLink]="['/marketing/online-payment']"><img src="../../assets/img/point-of-sale-icon.svg"  alt="Online Enrollments and Payments">Online Enrollments and Payments</a></li>
    <li><a [routerLink]="['/marketing/custom-branded']"><img src="../../assets/img/custom-web-pages-icon.svg"  alt="Custom Branded Web Pages">Custom Branded Web Pages</a></li>
    <li><a [routerLink]="['/marketing/automated-communication']"><img src="../../assets/img/automated-communication-icon.svg"  alt="Automated Communication">Automated Communication</a></li>
    <li><a [routerLink]="['/marketing/reports-dashboards']"><img src="../../assets/img/reports-and-dashboard-icon.svg"  alt="Reports and Dashboards">Reports and Dashboards</a></li>
    <li><a [routerLink]="['/marketing/reviews-feedback']"><img src="../../assets/img/review-nad-feedback-icon.svg"  alt="Reviews and Feedback">Reviews and Feedback</a></li>
    <li><a [routerLink]="['/marketing/free-training']"><img src="../../assets/img/training-icon.svg"  alt="Free Training">Free Training</a></li>
    <li><a [routerLink]="['/marketing/pricing']"><img src="../../assets/img/pricing-icon.svg"  alt="Pricing">Pricing</a></li>
    <li><a [routerLink]="['/marketing/faqs']"><img src="../../assets/img/faq-icon.svg"  alt="FAQs">FAQs</a></li>
  </ul>
  </section>
  <!-- features nav end-->