<!-- features banner end-->
<section class="features-nav">
  <ul>
    <li><a [routerLink]="['/marketing']"><img src="../../assets/img/marketing-icon.svg"  alt="Digital Marketing">Digital Marketing</a></li>
    <li><a [routerLink]="['/onlinepayment']"><img src="../../assets/img/point-of-sale-icon.svg"  alt="Online Enrollments and Payments">Online Enrollments and Payments</a></li>
    <li><a [routerLink]="['/custombranded']"><img src="../../assets/img/custom-web-pages-icon.svg"  alt="Custom Branded Web Pages">Custom Branded Web Pages</a></li>
    <li><a [routerLink]="['/automatedcommunication']"><img src="../../assets/img/automated-communication-icon.svg"  alt="Automated Communication">Automated Communication</a></li>
    <li><a [routerLink]="['/reportsdashboards']"><img src="../../assets/img/reports-and-dashboard-icon.svg"  alt="Reports and Dashboards">Reports and Dashboards</a></li>
    <li><a [routerLink]="['/reviewsfeedback']"><img src="../../assets/img/review-nad-feedback-icon.svg"  alt="Reviews and Feedback">Reviews and Feedback</a></li>
    <li><a [routerLink]="['/freetraining']"><img src="../../assets/img/training-icon.svg"  alt="Free Training">Free Training</a></li>
    <li><a [routerLink]="['/pricing']"><img src="../../assets/img/pricing-icon.svg"  alt="Pricing">Pricing</a></li>
    <li><a [routerLink]="['/faqs']"><img src="../../assets/img/faq-icon.svg"  alt="FAQs">FAQs</a></li>
  </ul>
  </section>
  <!-- features nav end-->
