/*features Banner start*/
.features-banner {
    background-color: #d03233;
    text-align: center;
}
/*features nav start*/

:host /deep/ app-marketingnav .features-nav ul li:nth-of-type(5) a {
    color: #d03233;
}
