<div class="lightbox">
  <article id="book" class="pop-up">
    <a class="close" (click)="close()" title="Close">x</a><!-- .close -->

    <form [formGroup]="bookForm" (ngSubmit)="updateBookonline()">
      <div>
          <label>Name*</label>
          <input type="text" formControlName="name">
          <input type="hidden" formControlName="coursename" value="{{coursename}}">
          <control-messages [control]="bookForm.controls.name"></control-messages>
      </div>

      <div>
        <label>Email*</label>
        <input formControlName="email" type="text">
        <control-messages [control]="bookForm.controls.email"></control-messages>
      </div>

      <div>
        <label>Phone*</label>
        <input formControlName="phone" type="text" maxlength="10" pattern="[0-9]+">
        <control-messages [control]="bookForm.controls.phone"></control-messages>
      </div>

      <!--<div class="checkbox">
        <label>Best way to contact you?</label>
        <span>
          <input type="radio" id="contactPhone" formControlName="contactselect" value="phone">Phone
        </span>

        <span>
          <input type="radio" id="contactemail" formControlName="contactselect" value="email">Email
        </span>
      </div>-->

      <div>
        <label>How long have you been driving for Uber?</label>
        <select formControlName="drivinguber">
          <option>---Select--</option>
          <option value="less than 1">Less than 1 Year</option>
          <option value="1">1 Year</option>
          <option value="2">2 Years</option>
          <option value="3">3 Years</option>
          <option value="4">4 Years</option>
          <option value="5">5 Years</option>
          <option value="6">6 Years</option>
          <option value="7">7 Years</option>
          <option value="8">8 Years</option>
          <option value="9">9 Years</option>
        </select>
      </div>

      <div>
        <label>What is your current driver rating?</label>
        <select formControlName="drivingrating">
          <option>---Select--</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>

      <div *ngIf="!loggedIn" class="create">
        <label>Would you like to create a user?</label> 
        <input type="checkbox" formControlName="create" name="create" id="create" />
      </div>
      <button type="submit" [disabled]="!bookForm.valid">Book</button>
    </form>
  </article><!-- #book.pop-up -->
</div><!-- .lightbox -->