<section id="profile-header">
<div class="profile-picture">
  <!--<img src="../../assets/img/profile-picture.jpg" alt="" title="">-->
  <img src="../../assets/img/{{instructors?.profile_img}}" alt="" title="">
  <div class="social-icon"><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></div>
</div>
<div><h2>{{instructors?.name}}</h2>
  <i aria-hidden="true" class="fa fa-map-marker"></i>  {{ instructors?.addresses[0]?.city }}, {{ instructors?.addresses[0]?.state }}
<div class="rating"><star-rating-comp [starType]="'svg'" [rating]="3"></star-rating-comp> |  <a href="#">33 reviews</a></div></div>
</section><!-- #profile header -->
<tabs *ngIf="width < 768" >
  <tab tabTitle="Courses">
  <h3>Upcoming Events with Triple Threat Training CT</h3>
  <article class="card-box" *ngFor="let card of courseCard; let i = index">
      <div class="img-ctn">
          <div class="price">
            ${{ card.semesters[0].amount }}
          </div>
          <figure>
              <img src="../../assets/img/court.jpg">
          </figure>
          <h3>{{card.title}}</h3>
      </div>
      <div class="card-info">
        <div class="group_info"><span class="group_rating"><star-rating-comp [starType]="'svg'" [rating]="3"></star-rating-comp></span></div>
        <p class="date">
          <i class="fa fa-calendar" aria-hidden="true"></i> 
            <span class="date_stamp">{{ card.semesters[0].start_date | date: 'MM/dd/yyyy' }}</span>
        </p>
        <p class="with-box"><span>With</span> {{card.instructor?.name}}</p>
        <a href="/course/{{card.id}}"  class="page-cta">View Course</a>
      </div>
  </article>
</tab>
<tab tabTitle="ABOUT">
  <article class="tab_content_para"><p>{{details?.description}}</p></article>
</tab>
<tab tabTitle="CONTACT">
        <div class="contact_box">
                <address>{{ instructors?.addresses[0]?.streetAddress }}<br>{{ instructors?.addresses[0]?.city }}, {{ instructors?.addresses[0]?.state }}, {{ instructors?.addresses[0]?.zip }}<br>{{ instructors?.addresses[0]?.country }}<br><br>Phone: {{ instructors?.phone }}<br>Email: {{ instructors?.email }}</address>
                <address>{{ instructors?.addresses[1]?.streetAddress }}<br>{{ instructors?.addresses[1]?.city }}, {{ instructors?.addresses[1]?.state }}, {{ instructors?.addresses[1]?.zip }}<br>{{ instructors?.addresses[1]?.country }}<br><br>Phone: {{ instructors?.phone }}<br>Email: {{ instructors?.email }}</address>
               </div>
</tab>
</tabs><!-- #Tab -->
<!-- desktop view -->
<section *ngIf="width > 767" id="desktopcourses">
  <h2>Courses</h2>
  <h3>Upcoming Events with Triple Threat Training CT</h3>
  <article class="card-box" *ngFor="let card of courseCard; let i = index">
    <div class="img-ctn">
        <div class="price">
          ${{ card.semesters[0].amount }}
        </div>
        <figure>
            <img src="../../assets/img/court.jpg">
        </figure>
        <h3>{{card.title}}</h3>
    </div>
    <div class="card-info">
      <div class="group_info"><span class="group_rating"><star-rating-comp [starType]="'svg'" [rating]="3"></star-rating-comp></span></div>
      <p class="date">
        <i class="fa fa-calendar" aria-hidden="true"></i> 
          <span class="date_stamp">{{ card.semesters[0].start_date | date: 'MM/dd/yyyy' }}</span>
      </p>
      <p class="with-box"><span>With</span> {{card.instructor?.name}}</p>
      <a href="/course/{{card.id}}"  class="page-cta">View Course</a>
    </div>
</article>
  
  <h2>ABOUT</h2>
  <p>{{details?.description}}</p>
  <h2>CONTACT</h2>
  <div class="contact_box">
        <address>{{ instructors?.addresses[0]?.streetAddress }}<br>{{ instructors?.addresses[0]?.city }}, {{ instructors?.addresses[0]?.state }}, {{ instructors?.addresses[0]?.zip }}<br>{{ instructors?.addresses[0]?.country }}<br><br>Phone: {{ instructors?.phone }}<br>Email: {{ instructors?.email }}</address>
        <address>{{ instructors?.addresses[1]?.streetAddress }}<br>{{ instructors?.addresses[1]?.city }}, {{ instructors?.addresses[1]?.state }}, {{ instructors?.addresses[1]?.zip }}<br>{{ instructors?.addresses[1]?.country }}<br><br>Phone: {{ instructors?.phone }}<br>Email: {{ instructors?.email }}</address>
      </div>
</section>
<!-- desktop view End -->
<!-- #reviews-->
<section id="reviews">
  <div class="reviews-rating"><star-rating-comp [starType]="'svg'" [rating]="5"></star-rating-comp> 5 | 33 reviews</div>
<dl>
  <dt><img src="../../assets/img/reviews-profile.jpg" alt="" title="">Megana H.</dt>
  <dd><h2>Balance Indoboard Yoga</h2>
  <p>Good Class. Fun for a yoga beginner to try something new. you'll definitely feel the burn.</p></dd>
</dl>
<p class="seeall-link"><a href="">see all related reviews</a></p>

</section><!-- #reviews -->

