<section id="profile-header">
<div class="profile-picture">
  <!--<img src="../../assets/img/profile-picture.jpg" alt="" title="">-->
  <img src="../../assets/img/{{instructors?.profile_img}}" alt="" title="">
  <div class="social-icon">
    <a *ngIf="details?.yelp.length > 0" href="{{details?.yelp}}" target="_blank" title="Yelp"><i class="fa fa-yelp" aria-hidden="true"></i></a>
    <a *ngIf="details?.twitter.length > 0" href="{{details?.twitter}}" target="_blank" title="Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
    <a *ngIf="details?.facebook.length > 0" href="{{details?.facebook}}" target="_blank" title="Facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
    <a *ngIf="details?.linkedin.length > 0" href="{{details?.linkedin}}" target="_blank" title="LinkedIn"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    <a *ngIf="details?.pinterest.length > 0" href="{{details?.pinterest}}" target="_blank" title="Pinterest"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a>
  </div>
</div>
<div><h2>{{instructors?.name}}</h2>
  <i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:{{instructors?.email}}">{{instructors?.email}}</a><br>
  <span *ngIf="details?.url.length > 0"><i class="fa fa-globe" aria-hidden="true"></i> <a href="{{details?.url}}" target="_blank">{{details?.url}}</a></span> 
  <!--<i aria-hidden="true" class="fa fa-map-marker"></i>  {{ instructors?.addresses[0]?.city }}, {{ instructors?.addresses[0]?.state }}-->
<div class="rating"><star-rating-comp [starType]="'svg'" [rating]="3"></star-rating-comp> |  <a href="#">33 reviews</a></div></div>
</section><!-- #profile header -->
<tabs *ngIf="width < 768" >
  <tab tabTitle="Courses">
  <h3>Upcoming Events with Triple Threat Training CT</h3>
  <article class="card-box" *ngFor="let card of courseCard; let i = index">
      <div class="img-ctn">
          <div class="price">
            ${{ card?.semesters[0]?.amount }}
          </div>
          <figure>
              <img src="../../assets/img/court.jpg">
          </figure>
          <h3>{{card?.title}}</h3>
      </div>
      <div class="card-info">
        <div class="group_info"><span class="group_rating"><star-rating-comp [starType]="'svg'" [rating]="3"></star-rating-comp></span></div>
        <p class="date">
          <i class="fa fa-calendar" aria-hidden="true"></i> 
            <span class="date_stamp">{{ card?.semesters[0]?.start_date | date: 'MM/dd/yyyy' }}</span>
        </p>
        <a [routerLink]="['/course', card?.id]"  class="page-cta">View Course</a>
      </div>
  </article>
</tab>
<tab tabTitle="ABOUT">
  <article class="tab_content_para"><p>{{details?.description}}</p></article>
</tab>
<tab tabTitle="CONTACT">
        <div class="contact_box">
            <div class="contact_instructor">
          <span *ngIf="instructors?.phone.length > 0"><i class="fa fa-phone-square" aria-hidden="true"></i> {{instructors?.phone}}</span><br>
          <span *ngIf="details?.url.length > 0"><i class="fa fa-globe" aria-hidden="true"></i> <a href="{{details?.url}}" target="_blank">{{details?.url}}</a></span> 
          </div>      
        </div>
</tab>
</tabs><!-- #Tab -->
<!-- desktop view -->
<section *ngIf="width > 767" id="desktopcourses">
  <h2>Courses</h2>
  <h3>Upcoming Events with Triple Threat Training CT</h3>
  <article class="card-box" *ngFor="let card of courseCard; let i = index">
    <div class="img-ctn">
        <div class="price">
          ${{ card?.semesters[0]?.amount }}
        </div>
        <figure>
            <img src="../../assets/img/court.jpg">
        </figure>
        <h3>{{card.title}}</h3>
    </div>
    <div class="card-info">
      <div class="group_info"><span class="group_rating"><star-rating-comp [starType]="'svg'" [rating]="3"></star-rating-comp></span></div>
      <p class="date">
        <i class="fa fa-calendar" aria-hidden="true"></i> 
          <span class="date_stamp">{{ card?.semesters[0]?.start_date | date: 'MM/dd/yyyy' }}</span>
      </p>
      <!--<p class="with-box"><span>With</span> {{card.instructor?.name}}</p>-->
      <a [routerLink]="['/course', card?.id]"  class="page-cta">View Course</a>
    </div>
</article>
  
  <h2>ABOUT</h2>
  <p>{{details?.description}}</p>
  <h2>CONTACT</h2>
  <div class="contact_instructor">
  <span *ngIf="instructors?.phone.length > 0"><i class="fa fa-phone-square" aria-hidden="true"></i> {{instructors?.phone}}</span><br>
  <span *ngIf="details?.url.length > 0"><i class="fa fa-globe" aria-hidden="true"></i> <a href="{{details?.url}}" target="_blank">{{details?.url}}</a></span>
</div>
</section>
<!-- desktop view End -->
<!-- #reviews-->
<section id="reviews">
  <div class="reviews-rating"><star-rating-comp [starType]="'svg'" [rating]="5"></star-rating-comp> 5 | 33 reviews</div>
<dl>
  <dt><img src="../../assets/img/reviews-profile.jpg" alt="" title="">Megana H.</dt>
  <dd><h2>Balance Indoboard Yoga</h2>
  <p>Good Class. Fun for a yoga beginner to try something new. you'll definitely feel the burn.</p></dd>
</dl>
<p class="seeall-link"><a href="javascript:void(0);">see all related reviews</a></p>

</section><!-- #reviews -->

