.tabs ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 14px 0;
    position: relative;
}

.tabs ul li {
    border: 1px solid #000000;
    display: inline-block;
    padding: 0;
    background-color: #fff;
    color: #414140;
    font-size: 11px;
    line-height: 1em;
    padding: 41px 15px 21px;
    margin: 0 4%;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    background-image: url('../../../assets/img/shrpr-logo.png');
    background-repeat: no-repeat;
    background-position: center 16px;
    width: 42%;
    background-size: 19px auto;
    max-width: 173px;
}

.tabs ul li:first-child {
    background-image: none;
}
.tabs ul li:first-child:before {
    font-family: FontAwesome;
    content: "\f002";
    font-size: 23px;
    left: 0;
    right: 0;
    position: absolute;
    top: 19px;
    vertical-align: middle;
}
.tabs ul li.active {
    -webkit-box-shadow: 1px 1px 7px 3px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 7px 3px rgba(0,0,0,0.2);
    color: #414140;
    background-color: #e1e1df;
}
