<section class="page-conent-area" *ngIf="mycourses">
<h1>Courses you Like</h1>
<section class="group-filter-row clearfix">
   <div class="sort-option">Sort by 
       <a href="javascript:void(0);" (click)="sortbyGroup(1)">Fun</a>
       <a href="javascript:void(0);" (click)="sortbyGroup(2)">Work</a>
       <a href="javascript:void(0);" (click)="sortbyGroup(3)">Kids</a>
    </div>
    <div class="like-count"><i class="fa fa-heart"></i> <span>{{allCourses?.length}}</span></div>
</section>
<div class="course-box">
<article class="card-box" *ngFor="let course of mycourses; let i = index">
            <div class="img-ctn">
                <figure><a [routerLink]="['/courses', course.id]">
                 <img *ngIf="course?.semesters[0]?.primary_img" src="../../assets/img/courses/{{ course?.semesters[0]?.primary_img }}" alt="" title="">
                 <img *ngIf="!course?.semesters[0]?.primary_img" src="../../assets/img/course-picture.jpg" alt="" title=""></a>
                </figure>
            </div><!-- .img-ctn -->
            <div class="card-info">
                <div class="group_info">
                    <span class="group_rating" *ngIf="course?.rating">
                        <star-rating-comp 
                            [starType]="'svg'" 
                            [showHalfStars]="true"
                            [readOnly]="true"
                            rating="{{ course?.rating || 0 }}"
                        ></star-rating-comp>
                    </span>
                    <span class="group_name">
                      {{ course?.categories[0]?.name }}
                    </span>
                </div><!-- .group_info-->
                <h3>
                    <a [routerLink]="['/courses', course?.id]">{{ course?.title | truncate : 70 : '...'}}</a>
                </h3><div class="location-wrap">
                <a class="course-cta" [routerLink]="['/courses', course.id]">View Course</a>
                    <p class="location">
                    <i class="fa fa-map-marker" aria-hidden="true"></i> 
                    <a href="javascript:void(0);">{{ course?.semesters[0]?.addresses[0]?.city }}, {{ course?.semesters[0]?.addresses[0]?.state }}</a>
                </p><!-- .location -->
                <p class="date">
                    <i class="fa fa-calendar" aria-hidden="true"></i> 
                    <time class="date_stamp" title="{{ course?.semesters[0]?.start_date | datex: 'LL' }}">{{ course?.semesters[0]?.start_date | datex: 'LL' }}</time>
                </p><!-- .date -->
                </div>
            </div><!-- .card-info -->
            
            <!--<div class="like_action">
                    <div>
                        <a 
                        class="hollow-icon thumbDown" 
                        (click)="removeLike(course, i)"
                    >
                    <i class="fa fa-times"></i>
                    </a></div>
                    <div>
                    <a class="hollow-icon thumbUp">
                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>-->
        </article>
    </div>
        <p *ngIf="filtercourses?.length > 6" class="ctr"><button class="view-more-btn" (click)="getData()" [disabled]="counter >= filtercourses?.length">view more</button></p> 
</section>

