section#course-list{
    padding: 20px 0;
}
.card-box {
    padding: 0 0 10px 0;
    background-color: #ffffff;
}
.img-ctn {
    position: relative;
}
.img-ctn figure {
    margin:0;
    height: 280px;
    overflow:hidden;
    border: 1px solid #f7f7f7;
    box-sizing: border-box;
    position: relative;
}
.img-ctn figure img {
    display:block;
    margin:0;
    width:100%;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari */
    transform: translate(-50%, -50%);
    min-width: 400px;
}
.price{
    background-color: #e7aa62;
    color: #272625;
    font-size: 16px;
    padding: 3px 20px 3px 5px;
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 9;
}
.price.free {
    background: #448a58;
    color: #ffffff;
}
.group_rating {
    float: right;
}
.date_stamp, .with-box, .location a {
    font-size:12px;
    line-height: 14px;
    color:#229bcb;
}
.with-box span {
    color: #414141;
}
.card-info {
    padding: 10px;
}
.card-info p {
    padding: 0 0 5px 0;
}
.img-ctn h3 {
    background: rgba(0, 0, 0, 0.5);
    bottom: 8px;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 18px;
    left: 0;
    line-height: 22px;
    padding: 10px;
    position: absolute;
    width: 100%;
}


@media only screen and (min-width: 769px) {
  
.card-box {
    display: inline-block;
    margin: 0 1.5% 20px;
    max-width: 444px;
    vertical-align: top;
    width: 30%;
}

}
