<section class="features-banner">
  <div class="features-banner-image">
      <img src="../../../assets/img/client-tools-masthead.png"  alt=" ">
    </div>
<div class="features-banner-text">
  <h1>Shrpr’s Education Platform and Marketplace</h1>
  <p>Connecting the world of Face to Face Learning</p>
  <a class="cta-banner" href="javascript:void(0);">Schedule a Demo</a>
</div>
</section>
<!-- features banner end-->
<app-marketing-nav></app-marketing-nav>
<!-- features nav end-->
<section class="slider-image-content">
    <carousel>
        <slide> <img src="../../assets/img/banner01.jpg" style="margin:auto;" class="slider-img">
          <div class="banner-content"> <span class="slide_index">1</span>
            <h4>Stop Flying Blind. Use Data to Make Decisions</h4>
          </div>
        </slide>
        <slide>
        <img src="../../assets/img/banner02.jpg" style="margin:auto;" class="slider-img">
          <div class="banner-content"> <span class="slide_index">2</span>
            <h4>Finance, Marketing and Ratings, all in one place</h4>
          </div>
        </slide>
        <slide>
        <img src="../../assets/img/banner03.jpg" style="margin:auto;" class="slider-img">
          <div class="banner-content"> <span class="slide_index">3</span>
            <h4>Leading Indicators</h4>
            <p class="banner_text">Will help you know where to put your marketing efforts</p>
          </div>
        </slide>
         <slide>
        <img src="../../assets/img/banner04.jpg" style="margin:auto;" class="slider-img">
          <div class="banner-content"> <span class="slide_index">4</span>
            <h4>Lagging Indicators</h4>
            <p class="banner_text">Will show you how you did and help you decide how to improve</p>
          </div>
        </slide>
</carousel>
</section>
<!-- Slider End -->
<app-marketing-form></app-marketing-form>
      <!-- Form end -->