<div *ngIf="addCourse">
  <add-course-instructor [instructors]="instructors"></add-course-instructor>
 </div> 
 <article *ngIf="user"> 
  <!-- Profile Header Start -->
  <section id="profile-header"> 
    <a (click)="showProfile = !showProfile" class="edit-btn">
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </a>

    <div class="profile-picture">
      <img *ngIf="!user?.profile_img" src="../../assets/img/user-picture.png"> 

      <img *ngIf="user?.profile_img" src="../../assets/img/{{ user?.profile_img }}">
      
      <div class="social-icon" *ngIf="user.instructor.details">
        <a 
          *ngIf="user.instructor.details?.yelp" 
          href="{{ user.instructor.details?.yelp }}" 
          target="_blank" 
          title="Yelp"
        >
          <i class="fa fa-yelp" aria-hidden="true"></i>
        </a> 

        <a 
          *ngIf="user.instructor.details?.twitter" 
          href="{{ user.instructor.details?.twitter }}" 
          target="_blank" 
          title="Twitter"
        >
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </a> 

        <a 
          *ngIf="user.instructor.details?.facebook" 
          href="{{ user.instructor.details?.facebook }}" 
          target="_blank" 
          title="Facebook"
        >
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a> 

        <a 
          *ngIf="user.instructor.details?.linkedin" 
          href="{{ user.instructor.details?.linkedin }}" 
          target="_blank" title="LinkedIn"
        >
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a> 

        <a 
          *ngIf="user.instructor.details?.pinterest" 
          href="{{ user.instructor.details?.pinterest }}" 
          target="_blank" 
          title="Pinterest"
        >
          <i class="fa fa-pinterest-square" aria-hidden="true"></i>
        </a>
      </div>
    </div>

    <div>
      <h2>{{ user.name }}</h2>

      <i class="fa fa-envelope-o" aria-hidden="true"></i>

      <a href="mailto:{{ user.email }}">{{ user.email }}</a> 

      <br />

      <span *ngIf="user.instructor.details?.url">
        <i class="fa fa-globe" aria-hidden="true"></i> 

        <a href="{{ user.instructor.details?.url }}" target="_blank">
          {{ user.instructor.details?.url }}
        </a>
      </span> 

      <span *ngIf="user.instructor?.addressses">
        <i aria-hidden="true" class="fa fa-map-marker"></i> 

        {{ user.instructor.addressses[0].city }}, {{ user.instructor.addressses[0].state }}
      </span>
      <div class="rating"><star-rating-comp [starType]="'svg'" [rating]="reviewRatingGross" [readOnly]="true"></star-rating-comp> |  <a (click)="goTo('reviews')" href="javascript:void(0);">{{reviewCount}} reviews</a></div>
    </div>
  </section>
  <!-- Profile Header End --> 

  <!-- Profile Header Edit Form Start -->
  <app-modal [(visible)]="showProfile">
    <h2>Edit Your Profile</h2>

    <div class="edit-form" *ngIf="user">
      <form id="instructorProfile" [formGroup]="profileForm" (ngSubmit)="updateProfile()">
        <div class="form-row">
          <label>Name:</label>

          <input type="text" formControlName="name" />

          <control-messages [control]="profileForm.controls.name"></control-messages>
        </div>
        <div class="form-row">
          <label>Update Profile Picture:</label>

          <input type="file" formControlName="profileImage" accept="image/x-png,image/gif,image/jpeg" />
        </div>

        <h2>Update Social Link</h2>

        <div>
          <div class="form-row">
            <label>URL:</label>

            <input type="text" formControlName="url" />
          </div>

          <div class="form-row">
            <label>Yelp Link:</label>

            <input type="text" formControlName="yelp" />
          </div>

          <div class="form-row">
            <label>Twitter Link:</label>

            <input type="text" formControlName="twitter" />
          </div>

          <div class="form-row">
            <label>Facebook Link:</label>

            <input type="text" formControlName="facebook" />
          </div>

          <div class="form-row">
            <label>LinkedIn Link:</label>

            <input type="text" formControlName="linkedin" />
          </div>

          <div class="form-row">
            <label>Pinterest Link:</label>

            <input type="text" formControlName="pinterest" />
          </div>
        </div>

        <div class="form-row">
          <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid"> 
            <i class="fa fa-check" aria-hidden="true"></i> 
          </button>

          <button class="btn btn-default" (click)="showProfile = !showProfile"> 
            <i class="fa fa-times-circle" aria-hidden="true"></i> 
          </button>
        </div>
      </form>
    </div>
  </app-modal>
  <!-- Profile Header Edit Form End --> 
<a [routerLink]="['/profile', 'add-course']" class="add-course-btn">Add Course</a>
  <!-- tab Start for mobile-->
  <tabs class="mobile">
    <tab tabTitle="Courses">
      <h3>Upcoming Events with {{user?.name}} </h3>
      <article class="card-box" *ngFor="let card of instructorCourse; let i = index">
    <div class="img-ctn">
      <div class="price" *ngIf="card.semesters[0].amount != '0.00'">
        ${{ card?.semesters[0]?.amount }}
      </div>
      <div class="price free" *ngIf="card.semesters[0].amount == '0.00'">
          Free
      </div>
        <figure><a [routerLink]="['/courses', card?.id]">
          <img *ngIf="card?.semesters[0]?.primary_img" src="../../assets/img/courses/{{ card?.semesters[0]?.primary_img }}" alt="" title="">
          <img *ngIf="!card?.semesters[0]?.primary_img" src="../../assets/img/card-picture.jpg" alt="" title=""></a>
        </figure>
        <h3>{{card?.title}}</h3>
    </div>
    <div class="card-info">
      <div class="group_info"><span class="group_rating">
        <star-rating-comp 
          [starType]="'svg'" 
          [readOnly]="true"
          rating="{{ card?.rating || 0 }}"
        >
        </star-rating-comp></span></div>
      <p class="location">
        <i class="fa fa-map-marker" aria-hidden="true"></i> 
        <a href="javascript:void(0);">{{ card?.semesters[0]?.addresses[0]?.city }}, {{ card?.semesters[0]?.addresses[0]?.state }}</a>
    </p><!-- .location --><p class="date">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <time class="date_stamp" title="{{ card?.semesters[0]?.start_date | datex: 'LL' }}">{{ card?.semesters[0]?.start_date | datex: 'LL' }}</time>
      </p>
      <a [routerLink]="['/courses', card?.id]"  class="page-cta">View Course</a>
    </div>
</article> 
<p *ngIf="courseCard.length > 3" class="ctr"><button class="view-more-btn" (click)="getData()" [disabled]="counter >= courseCard.length">view more</button></p> 
    </tab> 
    
    <tab tabTitle="ABOUT">
      <div class="contact_box">
        <a (click)="showAbout = !showAbout" class="edit-btn"> 
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i> 
        </a>

        <p>{{ user.instructor.details?.description }}</p>

        <!-- Description Edit Form Start -->
        <app-modal [(visible)]="showAbout">
          <h2>Edit Your Description</h2>

          <div class="edit-form">
            <form id="instructorDescription" [formGroup]="descriptionForm" (ngSubmit)="updateDescription()">
              <div class="form-row">
                <label>Description:</label>

                <textarea cols="30" rows="10"  formControlName="description"></textarea>

                <control-messages [control]="descriptionForm.controls.description"></control-messages>
              </div>

              <button type="submit" class="btn btn-primary" [disabled]="!descriptionForm.valid"> 
                <i class="fa fa-check" aria-hidden="true"></i> 
              </button>

              <button class="btn btn-default" (click)="showAbout = !showAbout"> 
                <i class="fa fa-times-circle" aria-hidden="true"></i> 
              </button>
            </form>
          </div>
        </app-modal>
        <!-- Description Edit Form End --> 
      </div>
    </tab> 

    <tab tabTitle="CONTACT">
      <div class="contact_box">
        <address *ngFor="let address of user?.instructor.addresses">
          <div> 
            {{ address?.streetAddress }}<br />
            {{ address?.city }}, {{ address?.state }}, {{ address?.zip }}<br />
            {{ address?.country }}<br />
            <br />
            Phone: <a href="tel:{{ user.instructor.phone }}">{{ user.instructor.phone }}</a><br />
            Email: <a href="mailto:{{ user?.email }}">{{ user?.email }}</a><br>
            <span *ngIf="user?.instructor.details.secondary_email"> Secondary Email: <a href="mailto:{{ user?.instructor.details.secondary_email }}">{{ user?.instructor.details.secondary_email }}</a></span>
          </div>
        </address>

        <a (click)="showAddress = !showAddress" class="edit-btn"> 
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i> 
        </a> 

        <!-- Profile Address Edit Form Start -->
        <app-modal [(visible)]="showAddress">
          <h2>Edit Your Contact</h2>

          <div class="edit-form">
            <form id="instructorAddress" [formGroup]="addressForm" (ngSubmit)="updateAddress()">
              <div>
                <div class="form-row">
                  <label>Address:</label>

                  <input type="text" formControlName="addressStreet" placeholder="Street Address" />

                  <control-messages [control]="addressForm.controls.addressStreet" ></control-messages>
                </div>

                <div class="form-row">
                  <label>City:</label>

                  <input type="text" formControlName="addressCity" placeholder="City" />

                  <control-messages [control]="addressForm.controls.addressCity"></control-messages>
                </div>

                <div class="form-row">
                  <label>State:</label>

                  <input type="text" formControlName="addressState" placeholder="State" />

                  <control-messages [control]="addressForm.controls.addressState"></control-messages>
                </div>

                <div class="form-row">
                  <label>Zip:</label>

                  <input type="text" formControlName="addressZip" pattern="[0-9]+" placeholder="Zip" />

                  <control-messages [control]="addressForm.controls.addressZip"></control-messages>
                </div>

                <div class="form-row">
                  <label>Country:</label>

                  <input type="text" formControlName="addressCountry" placeholder="Country" />

                  <control-messages [control]="addressForm.controls.addressCountry"></control-messages>
                </div>

                <div class="form-row">
                  <label>Phone:</label>

                  <input type="text" formControlName="addressPhone" maxlength="10" pattern="[0-9]+" placeholder="Enter Phone" />

                  <control-messages [control]="addressForm.controls.addressPhone"></control-messages>
                </div>

                <div class="form-row">
                  <label>Secondary Email:</label>
                  
                  <input type="text" formControlName="addressEmailSecondary" placeholder="Enter Email" />
                  
                  <control-messages [control]="addressForm.controls.addressEmailSecondary"></control-messages>
                </div>
              </div>

              <div class="form-row">
                <button type="submit" class="btn btn-primary" [disabled]="!addressForm.valid"> 
                  <i class="fa fa-check" aria-hidden="true"></i> 
                </button>

                <button class="btn btn-default" (click)="showAddress = !showAddress"> 
                  <i class="fa fa-times-circle" aria-hidden="true"></i> 
                </button>
              </div>
            </form>
          </div>
        </app-modal>
        <!-- Profile Address Edit Form End --> 
      </div>
    </tab>
  </tabs>
  <!-- tab End for mobile--> 

  <!-- desktop view -->
  <section class="desktop">
    <h3>Upcoming Events with {{user?.name}}</h3>
<article class="card-box" *ngFor="let card of instructorCourse; let i = index">
  <div class="img-ctn">
      <div class="price" *ngIf="card.semesters[0].amount != '0.00'">
        ${{ card?.semesters[0]?.amount }}
      </div>
      <div class="price free" *ngIf="card.semesters[0].amount == '0.00'">
          Free
      </div>

      <figure><a [routerLink]="['/courses', card?.id]">
        <img *ngIf="card?.semesters[0]?.primary_img" src="../../assets/img/courses/{{ card?.semesters[0]?.primary_img }}" alt="" title="">
        <img *ngIf="!card?.semesters[0]?.primary_img" src="../../assets/img/card-picture.jpg" alt="" title=""></a>
      </figure>
      <h3>{{card.title}}</h3>
  </div>
  <div class="card-info">
    <div class="group_info"><span class="group_rating">
      <star-rating-comp 
        [starType]="'svg'"
        [readOnly]="true"
        rating="{{ card?.rating || 0 }}"
      >
      </star-rating-comp></span></div>
    <p class="location">
        <i class="fa fa-map-marker" aria-hidden="true"></i> 
        <a href="javascript:void(0);">{{ card?.semesters[0]?.addresses[0]?.city }}, {{ card?.semesters[0]?.addresses[0]?.state }}</a>
    </p><!-- .location -->
    <p class="date">
      <i class="fa fa-calendar" aria-hidden="true"></i> 
        <time class="date_stamp" title="{{ card?.semesters[0]?.start_date | datex: 'LL' }}">{{ card?.semesters[0]?.start_date | datex: 'LL' }}</time>
    </p>
    <!--<p class="with-box"><span>With</span> {{card.instructor?.name}}</p>-->
    <a [routerLink]="['/courses', card?.id]" class="page-cta" aria-roledescription="button">View Course</a>
  </div>
</article>
<p *ngIf="courseCard.length > 3" class="ctr"><button class="view-more-btn" (click)="getData()" [disabled]="counter >= courseCard.length">view more</button></p>

    <h2>
      ABOUT 
      <a (click)="showAbout = !showAbout" class="edit-btn"> 
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </a>
    </h2>

    <p>{{ user.instructor.details?.description }}</p>

    <!-- Description Edit Form Start -->
    <app-modal [(visible)]="showAbout">
      <h2>Edit Your Description</h2>

      <div class="edit-form">
        <form id="instructorDescription" [formGroup]="descriptionForm" (ngSubmit)="updateDescription()">
          <div class="form-row">
            <textarea cols="30" rows="10"  formControlName="description"></textarea>

            <control-messages [control]="descriptionForm.controls.description"></control-messages>
          </div>

          <button type="submit" class="btn btn-primary" [disabled]="!descriptionForm.valid">
            <i class="fa fa-check" aria-hidden="true"></i>
          </button>

          <button class="btn btn-default" (click)="showAbout = !showAbout">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
          </button>
        </form>
      </div>
    </app-modal>
    <!-- Description Edit Form End -->

    <h2>
      CONTACT 
      <a (click)="showAddress = !showAddress" class="edit-btn"> 
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </a>
    </h2>

    <div class="contact_box">
      <address *ngFor="let address of user?.instructor.addresses">

        <div> 
          {{ address?.streetAddress }}<br />
          {{ address?.city }}, {{ address?.state }}, {{ address?.zip }}<br />
          {{ address?.country }}<br />
          <br />
          Phone: <a href="tel:{{ user?.phone }}">{{ user?.phone }}</a><br />
          Email: <a href="mailto:{{ user?.email }}">{{ user?.email }}</a><br>
          <span *ngIf="user?.instructor.details.secondary_email"> Secondary Email: <a href="mailto:{{ user?.instructor.details.secondary_email }}">{{ user?.instructor.details.secondary_email }}</a></span>
        </div>
      </address>

      <!-- Address Edit Form Start -->
      <app-modal [(visible)]="showAddress">
        <h2>Edit Your Contact</h2>

        <div class="edit-form">
          <form id="instructorAddress" [formGroup]="addressForm" (ngSubmit)="updateAddress()">
            <div>
              <div class="form-row">
                <label>Address:</label>

                <input type="text" formControlName="addressStreet" placeholder="Street Address" />

                <control-messages [control]="addressForm.controls.addressStreet" ></control-messages>
              </div>

              <div class="form-row">
                <label>City:</label>

                <input type="text" formControlName="addressCity" placeholder="City" />
                
                <control-messages [control]="addressForm.controls.addressCity"></control-messages>
              </div>

              <div class="form-row">
                <label>State:</label>

                <input type="text" formControlName="addressState" placeholder="State"/>
                
                <control-messages [control]="addressForm.controls.addressState"></control-messages>
              </div>

              <div class="form-row">
                <label>Zip:</label>
                
                <input type="text" formControlName="addressZip" pattern="[0-9]+" placeholder="Zip"/>

                <control-messages [control]="addressForm.controls.addressZip"></control-messages>
              </div>

              <div class="form-row">
                <label>Country:</label>
                
                <input type="text" formControlName="addressCountry" placeholder="Country"/>

                <control-messages [control]="addressForm.controls.addressCountry"></control-messages>
              </div>
              
              <div class="form-row">
                <label>Phone:</label>
                
                <input type="text" formControlName="addressPhone" maxlength="10" pattern="[0-9]+" placeholder="Enter Phone" />
                
                <control-messages [control]="addressForm.controls.addressPhone"></control-messages>
              </div>

              <div class="form-row">
                <label>Secondary Email:</label>
                
                <input type="text" formControlName="addressEmailSecondary" placeholder="Enter Email" />
                
                <control-messages [control]="addressForm.controls.addressEmailSecondary"></control-messages>
              </div>
            </div>

            <div class="form-row">
              <button type="submit" class="btn btn-primary" [disabled]="!addressForm.valid"> 
                <i class="fa fa-check" aria-hidden="true"></i>
              </button>

              <button class="btn btn-default" (click)="showAddress = !showAddress">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
              </button>
            </div>
          </form>
        </div>
      </app-modal>
      <!-- Address Edit Form End -->
    </div>
  </section>
</article>