section#landing{
	padding: 50px 0 300px 0;
	text-align: center;
}
section#landing .interest-block{
    color: #0c0;
    display: block;
    font-size: 18px;
    text-align: center;
}
section#landing form{
	position: relative;
    vertical-align: top;
}
section#landing form input{
    box-shadow: none;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
	color: #1b1a18;
    height: 44px;
    max-width: 400px;
    padding: 10px;
    width: 100%;
    font-family: "circularstd book";
    font-size: 16px;
    border-radius: 2px;
    -webkit-appearance: none;
}
section#landing form input.ng-valid.ng-touched{
    border: 1px solid #0c0;
}
section#landing form input.ng-invalid.ng-touched{
    border: 1px solid #c00;
}
section#landing form button{
    background-color: #d53b3c;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: 'circularstd book';
    font-size: 18px;
    line-height: 18px;
    margin: 20px auto;
    max-width: 138px;
    padding: 13px 10px;
    position: relative;
    top: 2px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
section#landing form .help-block{
    color: #c00;
    display: block;
    font-size: 12px;
    padding: 0 0 5px 0;
    text-align: center;
}