<section id="search">
  <form action="#">
     <span class="search-input">
           <ng2-completer 
              placeholder="Search all Courses" 
              [datasource]="dataService" 
              minSearchLength="0"
              openOnFocus="true"
              (selected)="onSelected($event)"
          >
          </ng2-completer><i class="fa fa-search" aria-hidden="true"></i>
      </span>

      <span class="location-input">         
          <input 
            #search
            type="text" 
            autocorrect="off" 
            autocapitalize="off" 
            spellcheck="off"
            placeholder="Enter Location" 
            [value]="location"
            [formControl]="searchControl"
          ><i class="fa fa-angle-down" aria-hidden="true"></i>
      </span>
      
    <!--<button (click)="submit()">Search</button>-->
  </form>
</section><!-- #search -->