/* =============Search============================ */
section#search {
    padding: 20px 20px 10px 20px;
    text-align: center;
    display: none;
}
section#search form > span {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
}
section#search form > span.location-input {
    display: none;
}
/*section#search form > span:before {
    content: "|";
    left: 35px;
    position: absolute;
    top: 9px;
}*/
section#search form > span .fa{
    font-size: 24px;
    right: 12px;
    position: absolute;
    top: 8px;
    color: #828282; 
}
/*section#search form > span > img {
    left: 8px;
    max-width: 23px;
    top: 11px;
}*/
section#search form .completer-selected-row{
    background-color: #484848;
    height: 100%;
    width: 100%;
}
section#search form .completer-dropdown{
    position: relative;
    text-align: left;
}
section#search form .completer-dropdown img{
    position: relative;
    top: 1px;
    margin: 0 5px 0 0;
    padding: 0 7px 0 0;
}
section#search form input, section#search form .completer-input {
    border: 1px solid #fff;
    -webkit-box-shadow: 0 2px 3px 3px rgba(0,0,0,0.2);
    box-shadow: 0 2px 3px 3px rgba(0,0,0,0.2);
    color: #1b1a18;
    height: 44px;
    padding: 10px 44px 10px 10px;
    width: 100%;
    font-family: "Helvetica Neue";
    font-size: 16px;
    border-radius: 2px;
    -webkit-appearance: none;
}
section#search form input::-webkit-input-placeholder { /* Chrome */
    color: #6f6f6f;
}
section#search form input:-ms-input-placeholder { /* IE 10+ */
    color: #6f6f6f;
}
section#search form input::-moz-placeholder { /* Firefox 19+ */
    color: #6f6f6f;
    opacity: 1;
}
section#search form input:-moz-placeholder{ /* Firefox 4 - 18 */
    color: #6f6f6f;
    opacity: 1;
}
section#search form button {
    background-color: #196e32;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 7px 3px rgba(0,0,0,0.2);
    box-shadow: 0 0 7px 3px rgba(0,0,0,0.2);
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-family: 'Helvetica Neue';
    font-size: 18px;
    line-height: 18px;
    margin: 20px auto;
    max-width: 138px;
    padding: 13px 10px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
section#search form button:hover {
    background-color: #678e72;
}
:host {
    display:block;
}
:host /deep/ .completer-holder {
    display:block;
    text-align: left;
}

:host /deep/ .completer-dropdown{
    max-height: 210px !important;
    overflow: hidden;
    overflow-y:auto;
}

:host /deep/ .completer-holder input.completer-input {
    border: 1px solid #fff;
    -webkit-box-shadow: 0 2px 3px 3px rgba(0,0,0,0.2);
    box-shadow: 0 2px 3px 3px rgba(0,0,0,0.2);
    color: #1b1a18;
    height: 44px;
    padding: 10px 44px 10px 10px;
    width: 100%;
    font-family: "Helvetica Neue";
    font-size: 16px;
    border-radius: 2px;
}
:host /deep/ .completer-dropdown-holder {
    position: absolute;
    left:0;
    top:90%;
    height: auto;
}
/* =============================================================================
   Medium SCREEN STYLES [Tab VIEW] START
  ============================================================================= */
/* 768px */
@media only screen and (min-width: 768px) {
    /*** Search ***/
header section#search {
    display: block;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
section#search {
    max-height: 100px;
    margin: 0;
    padding: 28px 15px 11x 15px; 
    display: block; 
}
/*section#search form > span {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    padding: 0 10px 0 0;
}*/
section#search form > span:before {
    top: 12px;
}
section#search form input, section#search form .completer-input {
    box-shadow: none;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
}
section#search form button {
    margin: 0;
    display: inline-block;
    vertical-align: top;
    background-color: #d53b3c;
    border-radius: 0;
}
section#search form button:hover {
    background-color: #c95f5f;
}
    :host /deep/ .completer-holder input.completer-input {
        box-shadow: none !important;
        border: 1px solid #cfcfcf !important;
        border-radius: 3px;
    }
    :host /deep/ .completer-dropdown-holder {
        top:98%;
    }
}
/* =============================================================================
   LARGE SCREEN STYLES [DESKTOP VIEW] START
  ============================================================================= */
/* 960px */
@media only screen and (min-width: 960px) {
    /*search*/
    header.header_small section#search {
        padding: 5px 15px;
    }

}
