header :host {
    background: #e6e7e8;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 250px;
    box-sizing: border-box;
    padding: 20px 0 20px 0;
    ;
    z-index: 9;
    transform: translate3d(100%, 0, 0);
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

header .active:host {
    transform: translate3d(0, 0, 0);
}

header :host>ul {
    padding: 40px 0 0 0;
    text-align: left;
    list-style: none;
}

header :host>ul li {
    background: none;
    line-height: 1em;
    /* BASE FONT = 16px  >>> 16px / 16px = 1em */
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #a0adbd;
}

header :host>ul li > a {
    display: block;
    color: #484848;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    padding: 0 20px 0 20px;
}
header :host>ul li span{
    cursor: pointer;
    font-size: 12px;
}
header :host>ul li span a{
    color: #448a58;
}
header :host>ul li span:hover a{
    text-decoration: underline;
}

header :host>ul li ul {
    padding: 0;
    list-style: none;
}

header :host>ul li ul li {
    border-top: 1px solid #a0adbd;
    border-bottom: none;
}

header :host>ul li.has_child {
    padding: 0;
}

header :host>ul li.has_child>a {
    margin: 10px 0 10px 0;
}

header :host>ul li ul li a {
    padding: 0 20px 0 40px;
}
header :host>ul > li:last-child {
    padding: 10px 20px;
}
@media only screen and (min-width: 60em) {
    header :host {
        background: none;
        float: right;
        max-width: none;
        padding: 0;
        position: relative;
        right: 0;
        text-align: right;
        top: 0;
        transform: translate3d(0px, 0px, 0px);
        width: 60%;
    }
    header :host>ul {
        padding: 0;
        text-align: right;
    }
    header :host>ul li,
    header :host>ul li.has_child, header :host>ul > li:last-child {
        border: none;
        display: inline-block;
        padding: 39px 1.5% 37px;
        position: relative;
        vertical-align: top;
        box-sizing: border-box;
        -moz-transition: all 0.5s ease-in-out 0s;
        -ms-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
        -webkit-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s;
    }
    header.header_small :host>ul li,
    header.header_small :host>ul li.has_childi {
        padding: 19px 1.5% 22px;
    }
    header :host>ul li a,
    header :host>ul li.has_child>a {
        padding: 0 5px;
        margin: 0;
    }
    header :host>ul>li:hover>a,
    header :host>ul li ul li:hover>a {
        color: #549265;
    }
    header :host>ul li ul {
        left: 0;
        opacity: 0;
        padding: 0;
        position: absolute;
        top: 100%;
        visibility: hidden;
        min-width: 150px;
        border-top: 1px solid #549265;
        background: #ffffff;
        -moz-transition: all 0.5s ease-in-out 0s;
        -ms-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
        -webkit-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s;
    }
    header :host>ul li:hover ul {
        opacity: 1;
        visibility: visible;
    }
    header :host>ul li ul li {
        display: block;
        padding: 10px 20px 10px 20px;
        border: none;
    }
    header :host>ul li ul li:hover {
        background: #f4f4f4;
    }
    header :host>ul li ul li a {
        margin: 0;
        padding: 0;
        white-space: nowrap;
        text-align: left;
        text-transform: none;
        color: #000000;
    }
}