<section class="page-conent-area">
   <section class="teammember-description">
           <div><a href="/erick"><img src="../../assets/img/erick-img.png" alt="Erick Parks" title="Erick Parks"></a>
                <h3><a href="/erick">Erick Parks</a></h3><span>Operations</span>
                <div class="profile-item-social">
                       
                        <a href="https://www.instagram.com/emparks22/?hl=en" target="_blank" class="instagram">
                                <i class="fa fa-instagram" aria-hidden="true"></i>                    
                        </a>
                        <a href="https://www.linkedin.com/in/erik-parks-358654110/" target="_blank" class="linkedin">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>                    
                        </a></div>
                        </div>
           <article><h3>What lessons do you bring to <span class="shrpr"><span>s</span><span>h</span><span>r</span><span>p</span><span>r</span></span> after being a General Manager at a Golf Course?</h3>
                <p>I have learned to teach patience when it comes to teaching customer service. it's a lesson that can be applied to just about everything.</p>
                <h3>What do you enjoy doing outside of work?</h3>
                <p>I enjoy making my home a vacation spot. i like to start projects that are easy to complete and have an impact on our home life.</p>
                <h3>So, you like Cooking we hear, are you any good?</h3>
                <p>I'm ok, I graduated from the Culinary Institute of America and spent several years running restaurants in Napa and Sonoma. I know my way around a kitchen.</p>
                <h3>What do you use to inspire you when you cook?</h3>
                <p>Other peoples dislikes. It inspires me to cook something for someone that they would normally shy away from and get them to change their opinion of that item. It's a fun challenge for me.</p>
                <h3>Coming from California how are you handling the cold and lack of wine?</h3>
                <p>I like being with my wife so I'm handling it well. We have pretty good access to fine wine in Connecticut. That said, it's a special treat to head west and enjoy it at the source.</p></article>
   </section>
</section>
