<section class="page-conent-area">
   <section class="teammember-description clearfix">
           <div>
                        <a href="javascript:void(0);"><img src="../../assets/img/gregory-img.png" alt="Gregory Shafiro" title="Gregory Shafiro"></a>
                        <h3><a href="javascript:void(0);">Gregory Shafiro</a></h3><span>CTO</span>
                        <div class="profile-item-social">
                               
                                <a href="#" class="instagram">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>                    
                                </a>
                                <a href="https://www.linkedin.com/in/gshafiro/" class="linkedin" target="_blank" >
                                        <i class="fa fa-linkedin" aria-hidden="true"></i>                    
                                </a></div>
                    </div>
           <article></article>
   </section>
</section>
