<article id="instructor" *ngIf="instructor">
    <section id="profile-header">
        <div class="profile-picture">
            <img *ngIf="instructor.profile_img" src="../../assets/img/instructors/{{ instructor.profile_img }}">

            <img *ngIf="!instructor.profile_img" src="../../assets/img/instructors-picture.png">
            
            <div class="social-icon">
                <a *ngIf="instructor.details?.yelp" href="{{ instructor.details?.yelp }}" target="_blank" title="Yelp">
                    <i class="fa fa-yelp" aria-hidden="true"></i>
                </a>

                <a *ngIf="instructor.details?.twitter" href="{{ instructor.details?.twitter }}" target="_blank" title="Twitter">
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                </a>

                <a *ngIf="instructor.details?.facebook" href="{{ instructor.details?.facebook }}" target="_blank" title="Facebook">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>

                <a *ngIf="instructor.details?.linkedin" href="{{ instructor.details?.linkedin }}" target="_blank" title="LinkedIn">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>

                <a *ngIf="instructor.details?.pinterest" href="{{ instructor.details?.pinterest }}" target="_blank" title="Pinterest">
                    <i class="fa fa-pinterest-square" aria-hidden="true"></i>
                </a>
            </div>
    </div>

    <div>
        <h2>{{ instructor.name }}</h2>

        <i class="fa fa-envelope-o" aria-hidden="true"></i> 

        <a href="mailto:{{ instructor.email }}">{{ instructor.email }}</a>

        <br />

        <span *ngIf="instructor.details?.url">
            <i class="fa fa-globe" aria-hidden="true"></i> 

            <a href="{{instructor.details?.url}}" target="_blank">
                {{ instructor.details?.url }}
            </a>
        </span>

        <div class="rating">
            <star-rating-comp 
                [starType]="'svg'" 
                [rating]="instructor.rating" 
                [readOnly]="true"
            >
            </star-rating-comp>
             |  <a (click)="goTo('reviews')">{{ this.instructor.ratings.length }} reviews</a></div></div>
    </section><!-- #profile header -->

    <tabs class="mobile">
        <tab tabTitle="Courses">
            <h3>Upcoming Events with {{ instructor.name }}</h3>

            <article class="card-box" *ngFor="let course of instructor.courses; let i = index">
                <div class="img-ctn">
                    <div class="price" *ngIf="course.semesters[0].amount != '0.00'">
                      ${{ course.semesters[0].amount }}
                    </div>

                    <div class="price free" *ngIf="course.semesters[0].amount == '0.00'">
                        Free
                    </div>

                    <figure>
                        <a [routerLink]="['/courses', course.id]">

                            <img *ngIf="course.semesters[0].primary_img" src="../../assets/img/courses/{{ course.semesters[0].primary_img }}" />

                            <img *ngIf="!course.semesters[0].primary_img" src="../../assets/img/card-picture.jpg" />
                        </a>
                    </figure>

                    <h3>{{ course.title }}</h3>
                </div>

                <div class="card-info">
                    <div class="group_info">
                        <span class="group_rating">
                            <star-rating-comp 
                                [starType]="'svg'" 
                                [readOnly]="true"
                                rating="{{ course.rating || 0 }}"
                            >
                            </star-rating-comp>
                        </span>
                    </div>

                    <p class="location">
                        <i class="fa fa-map-marker" aria-hidden="true"></i> 
                        <a>
                            {{ course.semesters[0].addresses[0]?.city }}, 
                            {{ course.semesters[0].addresses[0]?.state }}
                        </a>
                    </p><!-- .location -->

                    <p class="date">
                        <i class="fa fa-calendar" aria-hidden="true"></i>

                        <time class="date_stamp" title="{{ course.semesters[0].start_date | datex: 'LL' }}">
                            {{ course.semesters[0].start_date | datex: 'LL' }}
                        </time>
                    </p>

                    <a [routerLink]="['/courses', course.id]"  class="page-cta">View Course</a>
                </div>
            </article> 

            <p *ngIf="instructor.courses.length > 3" class="ctr">
                <button class="view-more-btn">View More</button>
            </p> 
        </tab>

        <tab tabTitle="ABOUT">
            <div class="contact_box">
                <p>{{ instructor.details?.description }}</p>
            </div>
        </tab>

        <tab tabTitle="CONTACT">
            <div class="contact_box">
                <div class="contact_instructor">
                    <span *ngIf="instructor.phone">
                        <i class="fa fa-phone-square" aria-hidden="true"></i> 
                        <a href="tel:{{ instructor.phone }}">{{ instructor.phone }}</a>
                    </span>

                    <br />

                    <span *ngIf="instructor.details?.url">
                        <i class="fa fa-globe" aria-hidden="true"></i> 

                        <a href="{{ instructor.details?.url }}" target="_blank">
                            {{details?.url}}
                        </a>
                    </span> 
                </div> 
            </div>
        </tab>
    </tabs>

    <section id="desktopcourses" class="desktop">
        <h3>Upcoming Events with {{ instructor.name }}</h3>

        <article class="card-box" *ngFor="let course of instructor.courses; let i = index">
            <div class="img-ctn">
                <div class="price" *ngIf="course.semesters[0].amount != '0.00'">
                    ${{ course.semesters[0].amount }}
                </div>

                <div class="price free" *ngIf="course.semesters[0].amount == '0.00'">
                    Free
                </div>

                <figure>
                    <a [routerLink]="['/courses', course.id]">
                        <img *ngIf="course.semesters[0].primary_img" src="../../assets/img/courses/{{ course.semesters[0].primary_img }}" />

                        <img *ngIf="!course.semesters[0].primary_img" src="../../assets/img/card-picture.jpg" />
                    </a>
                </figure>

                <h3>{{ course.title }}</h3>
            </div>

            <div class="card-info">
                <div class="group_info">
                    <span class="group_rating">
                        <star-rating-comp 
                          [starType]="'svg'"
                          [readOnly]="true"
                          rating="{{ course.rating || 0 }}"
                        >
                        </star-rating-comp>
                    </span>
                </div>

                <p class="location">
                    <i class="fa fa-map-marker" aria-hidden="true"></i> 

                    <a>
                        {{ course.semesters[0].addresses[0]?.city }}, 
                        {{ course.semesters[0].addresses[0]?.state }}
                    </a>
                </p><!-- .location -->

                <p class="date">
                    <i class="fa fa-calendar" aria-hidden="true"></i> 

                    <time class="date_stamp" title="{{ course.semesters[0].start_date | datex: 'LL' }}">
                        {{ course.semesters[0].start_date | datex: 'LL' }}
                    </time>
                </p>

                <a [routerLink]="['/courses', course.id]" class="page-cta" aria-roledescription="button">
                    View Course
                </a>
            </div>
        </article>

        <p *ngIf="instructor.courses.length > 3" class="ctr">
            <button class="view-more-btn">
                View More
            </button>
        </p>
    
        <h2>ABOUT</h2>

        <p>{{ instructor.details?.description }}</p>
        
        <h2>CONTACT</h2>

        <div class="contact_instructor">
            <span *ngIf="instructor.phone">
                <i class="fa fa-phone-square" aria-hidden="true"></i> {{ instructor.phone }}
            </span>

            <br />

            <span *ngIf="instructor.details?.url">
                <i class="fa fa-globe" aria-hidden="true"></i> 

                <a href="{{ instructor.details?.url }}" target="_blank">{{ instructor.details?.url }}</a>
            </span>
        </div>  
    </section>

    <app-rating [item]="instructor" [total]="instructor.rating" type="instructors"></app-rating>
</article><!-- #instructor -->