<app-template>
  <section id="profile-header" *ngIf="!isUpdate">
      <a href="javascript:void(0)" (click)="showDialogform = !showDialogform" class="edit-btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
  <div class="profile-picture">
    <img *ngIf="instructors?.profile_img" src="../../assets/img/instructors/{{instructors?.profile_img}}" alt="" title="">
    <img *ngIf="!instructors?.profile_img" src="../../assets/img/instructors-picture.png" alt="" title="">
    <div class="social-icon">
      <a *ngIf="details?.yelp.length > 0" href="{{details?.yelp}}" target="_blank" title="Yelp"><i class="fa fa-yelp" aria-hidden="true"></i></a>
      <a *ngIf="details?.twitter.length > 0" href="{{details?.twitter}}" target="_blank" title="Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
      <a *ngIf="details?.facebook.length > 0" href="{{details?.facebook}}" target="_blank" title="Facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      <a *ngIf="details?.linkedin.length > 0" href="{{details?.linkedin}}" target="_blank" title="LinkedIn"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
      <a *ngIf="details?.pinterest.length > 0" href="{{details?.pinterest}}" target="_blank" title="Pinterest"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a>
    </div>
  </div>
  <div><h2>{{instructors?.name}}</h2>
    <i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:{{instructors?.email}}">{{instructors?.email}}</a><br>
    <span *ngIf="details?.url.length > 0"><i class="fa fa-globe" aria-hidden="true"></i> <a href="{{details?.url}}" target="_blank">{{details?.url}}</a></span> 
    <!--<i aria-hidden="true" class="fa fa-map-marker"></i>  {{ instructors?.addresses[0]?.city }}, {{ instructors?.addresses[0]?.state }}-->
  <div class="rating"><star-rating-comp [starType]="'svg'" [rating]="reviewRatingGross" [readOnly]="true"></star-rating-comp> |  <a (click)="goTo('reviews')" href="javascript:void(0);">{{reviewCount}} reviews</a></div></div>
  </section>
  <app-modal [(visible)]="showDialogform">
      <h2>Profile Edit Form</h2>
      <div class="edit-form" *ngIf="instructors" >
        <form id="instrocterProfile" [formGroup]="instrocterProfileForm" (ngSubmit)="updateProfile()">  
        <div class="form-row">
        <label>Name:</label>
            <input type="text" formControlName="name" [(ngModel)]="instructors.name" />
            <control-messages [control]="instrocterProfileForm.controls.name"></control-messages>
        </div>
          <div class="form-row">
              <label>Update Profile Picture:</label>
                <input type="file" formControlName="profileImage" accept="image/x-png,image/gif,image/jpeg" />
           </div>
          <h2>Update Social Link</h2>
          <div class="form-row">
            <label>URL:</label>
              <input type="text" formControlName="url" [(ngModel)]="details.url"/>
          </div>
          <div class="form-row">
          <label>Yelp Link:</label>
            <input type="text" formControlName="yelp" [(ngModel)]="details.yelp"/>
        </div>
        <div class="form-row">
          <label>Twitter Link:</label>
            <input type="text" formControlName="twitter" [(ngModel)]="details.twitter"/>
        </div>
        <div class="form-row">
          <label>Facebook Link:</label>
            <input type="text" formControlName="facebook" [(ngModel)]="details.facebook"/>
        </div>
        <div class="form-row">
          <label>LinkedIn Link:</label>
            <input type="text" formControlName="linkedIn" [(ngModel)]="details.linkedin" /><br>
        </div>
        <div class="form-row">
          <label>Pinterest Link:</label>
            <input type="text" formControlName="pinterest" [(ngModel)]="details.pinterest"/>
        </div>
      
        <div class="form-row">
          <button type="submit" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i></button>
          <button class="btn btn-default" (click)="showDialogform = !showDialogform"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
        </div>  
        </form>
      </div>
      <!--<button (click)="showDialog = !showDialog" class="btn">Close</button>-->
    </app-modal>  
  <!-- #profile header -->

  <tabs *ngIf="width < 768" >
    <tab tabTitle="Courses">
    <h3>Upcoming Events with {{instructors?.name}} </h3>
    <article class="card-box" *ngFor="let card of instructorCourse; let i = index">
        <div class="img-ctn">
          <div class="price" *ngIf="card.semesters[0].amount != '0.00'">
            ${{ card?.semesters[0]?.amount }}
          </div>
          <div class="price free" *ngIf="card.semesters[0].amount == '0.00'">
              Free
          </div>
            <figure><a [routerLink]="['/courses', card?.id]">
              <img *ngIf="card?.semesters[0]?.primary_img" src="../../assets/img/courses/{{ card?.semesters[0]?.primary_img }}" alt="" title="">
              <img *ngIf="!card?.semesters[0]?.primary_img" src="../../assets/img/card-picture.jpg" alt="" title=""></a>
            </figure>
            <h3>{{card?.title}}</h3>
        </div>
        <div class="card-info">
          <div class="group_info"><span class="group_rating">
            <star-rating-comp 
              [starType]="'svg'" 
              [readOnly]="true"
              rating="{{ card?.rating || 0 }}"
            >
            </star-rating-comp></span></div>
          <p class="location">
            <i class="fa fa-map-marker" aria-hidden="true"></i> 
            <a href="javascript:void(0);">{{ card?.semesters[0]?.addresses[0]?.city }}, {{ card?.semesters[0]?.addresses[0]?.state }}</a>
        </p><!-- .location --><p class="date">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <time class="date_stamp" title="{{ card?.semesters[0]?.start_date | datex: 'LL' }}">{{ card?.semesters[0]?.start_date | datex: 'LL' }}</time>
          </p>
          <a [routerLink]="['/courses', card?.id]"  class="page-cta">View Course</a>
        </div>
    </article> 
    <p *ngIf="courseCard.length > 3" class="ctr"><button class="view-more-btn" (click)="getData()" [disabled]="counter >= courseCard.length">view more</button></p> 
  </tab>
  <tab tabTitle="ABOUT">
      <div class="contact_box">
          <a href="javascript:void(0)" (click)="isEditAbout = !isEditAbout" class="edit-btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
    <p>{{details?.description}}</p>
    <app-modal [(visible)]="isEditAbout">    
        <h2>Edit Your Description</h2>
        <div class="edit-form" *ngIf="instructors">
        <form id="instrocterDescription" [formGroup]="instrocterDescriptionForm" (ngSubmit)="updateinstrocterDescription()">  
          <div class="form-row">
          <label>Description:</label>
              <textarea cols="30" rows="10"  formControlName="description" [(ngModel)]="details.description"></textarea>
              <control-messages [control]="instrocterDescriptionForm.controls.description"></control-messages>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!instrocterDescriptionForm.valid"><i class="fa fa-check" aria-hidden="true"></i></button>
          <button class="btn btn-default" (click)="isEditAbout = !isEditAbout"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
          </form>
        </div>
      </app-modal>
    </div>
  </tab>
  <tab tabTitle="CONTACT">
          <div class="contact_box">
              <a href="javascript:void(0)" (click)="isEdit = !isEdit" class="edit-btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
              <div class="contact_instructor">
            <span *ngIf="instructors?.phone.length > 0"><i class="fa fa-phone-square" aria-hidden="true"></i> <a href="tel:{{instructors?.phone}}">{{instructors?.phone}}</a></span><br>
            <span *ngIf="details?.url.length > 0"><i class="fa fa-globe" aria-hidden="true"></i> <a href="{{details?.url}}" target="_blank">{{details?.url}}</a></span> 
            </div> 
            <app-modal [(visible)]="isEdit">    
                <h2>Edit Your Description</h2>
                <div class="edit-form" *ngIf="instructors">
                    <form id="instrocterAddress" [formGroup]="instrocterAddressForm" (ngSubmit)="updateAddress()">  
                    <div class="form-row">
                      <label>Phone:</label>
                        <input type="text" formControlName="addressPhone" maxlength="10" pattern="[0-9]+" [(ngModel)]="instructors.phone" /><br>
                        <control-messages [control]="instrocterAddressForm.controls.addressPhone" ></control-messages>
                    </div>
                    <div class="form-row">
                      <label>Email:</label>
                        <input type="text" formControlName="addressEmail" [(ngModel)]="instructors.email"/>
                        <control-messages [control]="instrocterAddressForm.controls.addressEmail" ></control-messages>
                    </div>
                    <div class="form-row">
                      <button type="submit" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i></button>
                      <button class="btn btn-default" (click)="isEdit = !isEdit"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
                    </div>  
                    </form>
                    </div>
              </app-modal>     
          </div>
  </tab>
  </tabs><!-- #Tab -->
  <!-- desktop view -->
  <section *ngIf="width > 767" id="desktopcourses">
    <h2>Courses <a href="javascript:void(0)" (click)="showDialog = !showDialog" class="add-course-btn">Add Course</a></h2>

    <app-modal [(visible)]="showDialog">
        <h2>Add New Course</h2>
        <app-add-course [instructors]="instructors"></app-add-course>
        
        <!--<button (click)="showDialog = !showDialog" class="btn">Close</button>-->
      </app-modal>

    <h3>Upcoming Events with {{instructors?.name}}</h3>
    <article class="card-box" *ngFor="let card of instructorCourse; let i = index">
      <div class="img-ctn">
          <div class="price" *ngIf="card.semesters[0].amount != '0.00'">
            ${{ card?.semesters[0]?.amount }}
          </div>
          <div class="price free" *ngIf="card.semesters[0].amount == '0.00'">
              Free
          </div>

          <figure><a [routerLink]="['/courses', card?.id]">
            <img *ngIf="card?.semesters[0]?.primary_img" src="../../assets/img/courses/{{ card?.semesters[0]?.primary_img }}" alt="" title="">
            <img *ngIf="!card?.semesters[0]?.primary_img" src="../../assets/img/card-picture.jpg" alt="" title=""></a>
          </figure>
          <h3>{{card.title}}</h3>
      </div>
      <div class="card-info">
        <div class="group_info"><span class="group_rating">
          <star-rating-comp 
            [starType]="'svg'"
            [readOnly]="true"
            rating="{{ card?.rating || 0 }}"
          >
          </star-rating-comp></span></div>
        <p class="location">
            <i class="fa fa-map-marker" aria-hidden="true"></i> 
            <a href="javascript:void(0);">{{ card?.semesters[0]?.addresses[0]?.city }}, {{ card?.semesters[0]?.addresses[0]?.state }}</a>
        </p><!-- .location -->
        <p class="date">
          <i class="fa fa-calendar" aria-hidden="true"></i> 
            <time class="date_stamp" title="{{ card?.semesters[0]?.start_date | datex: 'LL' }}">{{ card?.semesters[0]?.start_date | datex: 'LL' }}</time>
        </p>
        <!--<p class="with-box"><span>With</span> {{card.instructor?.name}}</p>-->
        <a [routerLink]="['/courses', card?.id]" class="page-cta" aria-roledescription="button">View Course</a>
      </div>
  </article>
  <p *ngIf="courseCard.length > 3" class="ctr"><button class="view-more-btn" (click)="getData()" [disabled]="counter >= courseCard.length">view more</button></p>
    <h2>ABOUT <a href="javascript:void(0)" (click)="isEditAbout = !isEditAbout" class="edit-btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></h2>
    <p>{{details?.description}}</p>
    <app-modal [(visible)]="isEditAbout">    
        <h2>Edit Your Description</h2>
        <div class="edit-form" *ngIf="instructors">
        <form id="instrocterDescription" [formGroup]="instrocterDescriptionForm" (ngSubmit)="updateinstrocterDescription()">  
          <div class="form-row">
              <textarea cols="30" rows="10"  formControlName="description" [(ngModel)]="details.description"></textarea>
              <control-messages [control]="instrocterDescriptionForm.controls.description"></control-messages>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!instrocterDescriptionForm.valid"><i class="fa fa-check" aria-hidden="true"></i></button>
          <button class="btn btn-default" (click)="isEditAbout = !isEditAbout"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
          </form>
        </div>
      </app-modal>
    <h2>CONTACT <a href="javascript:void(0)" (click)="isEdit = !isEdit" class="edit-btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></h2>
    <div class="contact_instructor">
    <span *ngIf="instructors?.phone.length > 0"><i class="fa fa-phone-square" aria-hidden="true"></i> {{instructors?.phone}}</span><br>
    <span *ngIf="details?.url.length > 0"><i class="fa fa-globe" aria-hidden="true"></i> <a href="{{details?.url}}" target="_blank">{{details?.url}}</a></span>
  </div>
  <app-modal [(visible)]="isEdit">    
      <h2>Edit Your Description</h2>
      <div class="edit-form" *ngIf="instructors">
          <form id="instrocterAddress" [formGroup]="instrocterAddressForm" (ngSubmit)="updateAddress()">  
          <div class="form-row">
            <label>Phone:</label>
              <input type="text" formControlName="addressPhone" maxlength="10" pattern="[0-9]+" [(ngModel)]="instructors.phone"/><br>
              <control-messages [control]="instrocterAddressForm.controls.addressPhone"></control-messages>
          </div>
          <div class="form-row">
            <label>Email:</label>
              <input type="text" formControlName="addressEmail" [(ngModel)]="instructors.email"/>
              <control-messages [control]="instrocterAddressForm.controls.addressEmail"></control-messages>
          </div>
          <div class="form-row">
            <button type="submit" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i></button>
            <button class="btn btn-default" (click)="isEdit = !isEdit"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
          </div>  
          </form>
          </div>
    </app-modal>   
  </section>
  <!-- desktop view End -->
   <!-- #reviews-->
  <section id="reviews">
      <div class="reviews-rating"><star-rating-comp [starType]="'svg'" [rating]="reviewRatingGross" [showHalfStars]="true" [readOnly]="true"></star-rating-comp> {{reviewRatingGross | number : '1.1-1'}} | {{reviewCount}} reviews<span *ngIf="loggedIn"> | <a href="javascript:void(0);" (click)="reviewshowHide = !reviewshowHide">Add Your Review</a></span></div>
      <app-addreview *ngIf="reviewshowHide"></app-addreview>
      <div *ngIf="reviewCount >= 1">
          <dl class="review_items" *ngFor="let review of ratingData" >
      <dt><img src="../../assets/img/reviews-profile.jpg" alt="" title="">User id: {{review.user_id}}</dt>
      <dd><h2>{{review.title}} <span class="review_items_rating">Rating: {{review.rating}} | <star-rating-comp class="review_star" [starType]="'svg'" [rating]="review.rating" [showHalfStars]="true" [readOnly]="true"></star-rating-comp></span></h2>
      <p>{{review.comment}}</p></dd>
    </dl>
  </div>
  <div *ngIf="reviewCount < 1">No reviews yet. Be the first to write a review.</div>
    <p class="seeall-link"><!--<button class="show-more" (click)="getData()" [disabled]="counter>=ratingData.length">see all related reviews</button><a href="javascript:void(0);">see all related reviews</a>--></p>
    
  </section><!-- #reviews -->
</app-template>