<section class="features-banner">
  <div class="features-banner-image">
      <img src="../../assets/img/automation-masthead.png"  alt=" ">
    </div>
<div class="features-banner-text">
  <h1>Shrpr’s Education Platform and Marketplace</h1>
  <p>Connecting the world of Face to Face Learning</p>
  <a class="cta-banner" href="javascript:void(0);">Schedule a Demo</a>
</div>
</section>
<!-- features banner end-->
<app-marketing-nav></app-marketing-nav>
<!-- features nav end-->
<app-marketing-form></app-marketing-form>
      <!-- Form end -->