<section id="ratings">
    <div id="rating">
        <star-rating-comp 
            [starType]="'svg'" 
            [rating]="rating" 
            [showHalfStars]="true" 
            [readOnly]="true"
        >
        </star-rating-comp> {{ rating | number : '1.1-1' }} | {{ ratings.length }} reviews
    </div><!-- #rating -->

    <span *ngIf="loggedIn">
        | <a (click)="reviewshowHide = !reviewshowHide">Add Your Review</a>
    </span>
      
    <div *ngIf="ratings.length > 0">
      <dl class="review_items" *ngFor="let rating of ratings">
        <dt>
          <img src="../../assets/img/reviews-profile.jpg" alt="" title="">User id: {{rating.user_id}}
        </dt>
      <dd>

      <h2>
        {{ rating.title }}
        <span class="review_items_rating">
          Rating: {{ rating.rating }} | 
          <star-rating-comp 
            class="review_star" 
            [starType]="'svg'" 
            [rating]="rating.rating" 
            [showHalfStars]="true" 
            [readOnly]="true"
          >
          </star-rating-comp>
        </span>
      </h2>

      <p>{{ rating.comment }}</p>
    </dd>
    </dl>
    </div>

    <div *ngIf="ratings.length < 1">No reviews yet. Be the first to write a review.</div>
</section><!-- #ratings -->

<form 
    id="rating-form"
    [formGroup]="ratingForm" 
    (ngSubmit)="submit()"
>
    <div>
        <label>Headline for Your Review*</label>

        <input type="text" formControlName="title">

        <control-messages [control]="ratingForm.controls.title"></control-messages>
    </div>

    <div>
        <label>Rating*</label>

        <select formControlName="rating">
            <option>---Select--</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>

        <control-messages [control]="ratingForm.controls.rating"></control-messages>
    </div>

    <div>
        <label>Comment*</label>

        <textarea type="text" formControlName="comment"></textarea>

        <control-messages [control]="ratingForm.controls.comment"></control-messages>
    </div>

    <button [disabled]="!ratingForm.valid" type="Submit">Submit</button>
</form>