<section id="profile-header">
  <div class="profile-picture">
    <img 
      *ngIf="institutions?.profile_img" 
      src="../../assets/img/institutions/{{ institutions?.profile_img }}"
    >
    <img 
      *ngIf="!institutions?.profile_img" 
      src="../../assets/img/instructors-picture.png"
    >
  </div>
  <div><h2>{{institutions?.name}}</h2>
    <i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:{{institutions?.email}}">{{institutions?.email}}</a><br>
    <span *ngIf="details?.url.length > 0"><i class="fa fa-globe" aria-hidden="true"></i> <a href="{{details?.url}}" target="_blank">{{details?.url}}</a></span><br>
    <i aria-hidden="true" class="fa fa-phone-square"></i> <a href="tel:{{institutions?.phone}}">{{institutions?.phone}}</a>  
    </div>
  </section><!-- #profile header -->
  <div id="courses-cards">
  <h2>Description</h2>
  <p>{{details?.description}}</p>

  <section id="courses">
    <h2>Courses</h2>

    <article class="card-box" *ngFor="let course of courseData; let i = index">
        <div class="img-ctn">
          <div class="price" *ngIf="course.semesters[0].amount != '0.00'">
            ${{ course?.semesters[0]?.amount }}
          </div>
          <div class="price free" *ngIf="course.semesters[0].amount == '0.00'">
              Free
          </div>
            <figure>
                <a 
                  [routerLink]="[
                    '/courses', 
                    course.id,
                    course.title | slug
                  ]">
                    <img *ngIf="course?.semesters[0]?.primary_img" src="../../assets/img/courses/{{ course?.semesters[0]?.primary_img }}">

                  <img *ngIf="!course?.semesters[0]?.primary_img" src="../../assets/img/card-picture.jpg">
                </a>
            </figure>
            <h3>{{course.title}}</h3>
        </div>

        <div class="card-info">
          <div class="group_info">
            <span class="group_rating">
              <star-rating-comp 
                [starType]="'svg'" 
                [readOnly]="true"
                rating="{{ course?.rating || 0 }}"
              >
              </star-rating-comp>
            </span>
          </div>
          <p class="instructor">
            <i class="fa fa-user" aria-hidden="true"></i> 
            <a 
              [routerLink]="[
                '/instructor',  
                course.instructor.id,
                course.instructor.name | slug
              ]"
            >
              {{  course.instructor.name }}
            </a>
          </p>

          <p class="date">
             <!-- <span class="date_stamp">{{ course.description }}</span>-->
          </p>
          <a 
            [routerLink]="[
              '/courses', 
              course.id,
              course.title | slug
            ]" 
            class="page-cta"
          >
            View Course
          </a>
        </div>
    </article>
  </section><!-- #courses -->
</div>