<app-template [menu]="menu" [search]="search">
  <div class="bookonline-form">
<form id="onlineform" [formGroup]="bookonlineForm" (ngSubmit)="updateBookonline()">
    <div><label>First Name*</label><input type="text" formControlName="firstName">
      <control-messages [control]="bookonlineForm.controls.firstName"></control-messages>
    </div>
    <div><label>Last Name*</label><input formControlName="lastName" type="text">
      <control-messages [control]="bookonlineForm.controls.lastName"></control-messages>
    </div>
     <div><label>Email*</label><input formControlName="email" type="text">
      <control-messages [control]="bookonlineForm.controls.email"></control-messages></div>
    <div><label>Phone*</label><input formControlName="phone" type="text">
      <control-messages [control]="bookonlineForm.controls.phone"></control-messages></div>
    <div class="checkbox"><label>Best way to contact you?</label>
      <span><input type="radio" id="contactPhone" formControlName="contactselect" value="Phone">Phone</span>
      <span><input type="radio" id="contactemail" formControlName="contactselect" value="email">Email</span>
    </div>
    <div><label>How long have you been driving for Uber?</label><input formControlName="drivinguber" type="text"></div>
    <div><label>What is your current driver rating?</label><input formControlName="drivingrating" type="text"></div>
    <div class="g-recaptcha" data-sitekey="6LdH9T4UAAAAAOVBoLY1xJp0HiHej_XC0weEihck"></div>
<button type="submit">Submit</button>
</form>
  </div>
</app-template>