<section class="page-conent-area" *ngIf="user">
  <h2>Enter Your Course Information</h2>

  <section id="course-add-container" class="slide">
    <div class="formHeader">
      <a (click)="prevSlide()" class="courseFormBtn" *ngIf="slide > 1">Back</a>

      <span>{{ slide }} / {{ lastSlide }}</span>
    </div>

    <div #panel class="course-form-box">
      <div class="courseFormPage">
        <form name="courseForm" [formGroup]="courseForm">
          <div class="formRow">
            <label for="title">Title*</label>

            <input type="text" formControlName="title" id="title" placeholder="Course Title">
            
            <control-messages [control]="courseForm.controls.title">
            </control-messages>
          </div>

          <div class="formRow">
            <label for="group">Group*</label>

            <select id="group" formControlName="group">
              <option value="">----Select-----</option>
              <option value="1">For Fun</option>
              <option value="2">For Work</option>
              <option value="3">For Kids</option>
            </select>

            <control-messages [control]="courseForm.controls.group">
            </control-messages>
          </div>

          <div class="formRow">
            <label for="category">Category*</label>

            <select formControlName="category" id="category">
              <option value="">----Select-----</option>
              <option value="1">Category One</option>
              <option value="2">Category Two</option>
              <option value="3">Category Three</option>
            </select>

            <control-messages [control]="courseForm.controls.category">
            </control-messages>
          </div>

          <div class="formRow">
            <label for="subCategory">Sub Category*</label>

            <select formControlName="subCategory" id="subCategory">
              <option value="">----Select-----</option>
              <option value="1">Sub Category One</option>
              <option value="2">Sub Category Two</option>
              <option value="3">Sub Category Three</option>
            </select>

            <control-messages [control]="courseForm.controls.subCategory">
            </control-messages>
          </div>

          <div class="formRow">
            <label for="description">Description*</label>

            <textarea formControlName="description" id="description"></textarea>
            
            <control-messages [control]="courseForm.controls.description"></control-messages>
          </div>

          <div class="formRow ctr">
            <button (click)="nextSlide()" class="courseFormBtn" [disabled]="!courseForm.valid">Submit</button>
          </div>
        </form>  
      </div><!-- course Form Page one-->

      <div class="courseFormPage">
        <form name="semesterForm" [formGroup]="semesterForm">
          <h3>Enter Your Semester Information</h3>

          <div class="formRow">
            <label for="startDate">Start Date</label>

            <input type="date" id="startDate" formControlName="startDate">
            
            <control-messages [control]="semesterForm.controls.startDate">
            </control-messages>
          </div>

          <div class="formRow">
            <label for="type">Classes will be</label>

            <div class="thefield">
              <input type="radio" name="type" formControlName="type" value="days"> Daily &nbsp; 
              <input type="radio" name="type" formControlName="type" value="week"> Weekly &nbsp;
              <input type="radio" name="type" formControlName="type" value="months"> Monthly
            </div>

            <control-messages [control]="semesterForm.controls.type">
            </control-messages>
          </div>

          <div class="formRow">
            <label for="startTime">Start Time</label>

            <input type="time" id="startTime" formControlName="startTime">
            
            <control-messages [control]="semesterForm.controls.startTime">
            </control-messages>
          </div>
          
          <div class="formRow">
            <label for="total">No. of Sessions</label>

            <input type="number" id="total" min="1" formControlName="total">

            <control-messages [control]="semesterForm.controls.total">
            </control-messages>
          </div>

          <div class="formRow">
            <label for="duration">Duration (hrs)</label>
            
            <input type="number" id="duration" min="1" formControlName="duration">
            
            <control-messages [control]="semesterForm.controls.duration">
            </control-messages>
          </div>

          <div class="formRow">
            <label for="amount">Course Fee($)</label>
            
            <input type="number" id="amount" formControlName="amount">
            
            <control-messages [control]="semesterForm.controls.amount">
            </control-messages>
          </div>

          <div class="formRow">
            <label for="streetAddress">Address</label>
            
            <input type="text" id="streetAddress" formControlName="streetAddress">
            
            <control-messages [control]="semesterForm.controls.streetAddress">
            </control-messages>
          </div>

          <div class="formRow">
            <label for="city">City</label>
            
            <input type="text" id="city" formControlName="city">
            
            <control-messages [control]="semesterForm.controls.city">
            </control-messages>
          </div>

          <div class="formRow">
            <label for="state">State</label>
            
            <input type="text" id="state" formControlName="state">
            
            <control-messages [control]="semesterForm.controls.state">
            </control-messages>
          </div>

          <div class="formRow">
            <label for="zip">Zip</label>
            
            <input type="text" id="zip" formControlName="zip">
            
            <control-messages [control]="semesterForm.controls.zip">
            </control-messages>
          </div>

          <div class="formRow">
            <label for="primaryImg">Primary Image</label>
            
            <input type="file" id="primaryImg" formControlName="primaryImg" accept="image/x-png,image/gif,image/jpeg">
            
            <control-messages [control]="semesterForm.controls.primaryImg">
            </control-messages>
          </div>

          <div class="formRow">
            <label for="secondaryImg">Secondary Image</label>
            
            <input type="file" id="secondaryImg" formControlName="secondaryImg" accept="image/x-png,image/gif,image/jpeg">
            
            <control-messages [control]="semesterForm.controls.secondaryImg"></control-messages>
          </div>

          <div class="formRow ctr">
            
            <button (click)="nextSlide()" class="courseFormBtn" [disabled]="!semesterForm.valid">Save</button>
            
            <button (click)="showSessionDetail()" class="courseFormBtn" [disabled]="!semesterForm.valid">View/Update Details</button>
          </div>
        </form>
      </div><!-- course Form Page Two-->
      
      <div class="courseFormPage">
        <form name="meetingForm" [formGroup]="meetingForm">
          <h5>Please Confirm Your Session Details for Semester</h5>  
          
          <div class="formRow">
            <table class="sessionDetailTable" formArrayName="meetings">
              <tbody>
                <tr>
                  <th width="10%"></th>
                  <th width="30%">Date</th>
                  <th width="30%">Start Time</th>
                  <th width="30%">End Time</th>
                </tr>

                <tr 
                  *ngFor="let meeting of meetingForm.controls.meetings.controls; let i = index"
                  [formGroupName]="i"
                >
                  <td>
                    <a (click)="deleteMeeting(i)">x</a>
                  </td>

                  <td>
                    <input type="date" name="startDate" formControlName="startDate">
                  </td>

                  <td>
                    <input type="time" name="startTime" formControlName="startTime">
                  </td>

                  <td>
                    <input type="time" name="endTime" formControlName="endTime">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="formRow ctr">
            <button 
              type="button" 
              (click)="addMeeting()" 
              class="courseFormBtn"
            >
              Add Meeting
            </button>

            <button 
              (click)="submitMeetings()" 
              class="courseFormBtn" 
              [disabled]="!meetingForm.valid"
            >
              Create Course
            </button>
          </div>
        </form> 
      </div><!-- course Form Page Three-->
    </div>

   <app-modal [(visible)]="addSemConfirm">
      <h2>Confirmation</h2>
      <h3>Information of Semester {{courseSemesterNumber - 1}} saved successfully!</h3>
      <p>If you want to another semester fill the form again, otherwise click on close button to close this window.</p>
      <button (click)="closeAddSemConfirm()" class="btn">Close</button>
    </app-modal>

    <app-modal [(visible)]="addCourseConfirm">
        <h2>Confirmation</h2>
        <h3>Your Course is successfully Added.</h3>
        <button (click)="closeCourseConfirm()" class="btn">Close</button>
    </app-modal>

    <app-modal [(visible)]="confirmSemData">
        <h2>Confirmation</h2>
        <h3>Your Semester information is successfully added to this course.</h3>
        <p>If you want add another semester to this course please click on "Add Semester", otherwise click "Submit" after closeing this window.</p>
        <button (click)="closeConfirmSemData()" class="btn">Close</button>
        <button (click)="addNewSemesterInit()" class="btn">Add Semester</button>
    </app-modal>
  </section>
</section>