<section class="page-conent-area">
   <section class="teammember-description clearfix">
<div>
                <a href="javascript:void(0);"><img src="../../assets/img/collin-img.png" alt="Collin Dunn" title="Collin Dunn"></a>
                <h3><a href="javascript:void(0);">Collin Dunn</a></h3><span>Marketing</span>
                <div class="profile-item-social">
                       
                        <a href="https://www.instagram.com/collinmdunn/" target="_blank" class="instagram">
                                <i class="fa fa-instagram" aria-hidden="true"></i>                    
                        </a>
                        <a href="https://www.linkedin.com/in/collin-dunn-7b612410a/" target="_blank" class="linkedin">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>                    
                        </a></div>
                    </div>
           <article><h3>You are currently not only working at <span class="shrpr"><span>s</span><span>h</span><span>r</span><span>p</span><span>r</span></span> but also attending a university. How are you managing both of these responsibilities?</h3>
<p>The balance of work and school can be hard sometimes, but my class schedule helps to create an easier transition between the two. I like to stay ahead on all my work in school, so I am never playing catch-up. This helps to ensure that when I am at work I can solely focus on my daily tasks instead of procrastinating my schoolwork like most college students do.</p>
<h3>What makes what you are creating at shrpr different, from how you are learning today in university?</h3>
<p>In school I am studying accounting which is different from the marketing position I hold at shrpr. I have taken a marketing course previously which helps with creating content for shrpr, but no class can compare to the real-life experience I am getting from work each day. I have learned a lot each day while working with shrpr and I have seen much improvement in myself and in the classroom. The real-world experience I have received gives me a new perspective when I enter class each day.</p>
<h3>What is the one thing that you have always wanted to learn, but just have not had the chance to?</h3>
<p>I have always wanted to learn to play the guitar and piano. Both instruments are a goal of mine to play one day. I have always loved music and even played saxophone growing up. Music is a wonderful way for me to relax and clear my thoughts. The guitar and piano are some of my favorites instruments to listen to when I am stressed. The ability to play them myself would be my next skill to learn.</p>
<h3>You placed 7th when swimming for Seton Hall University at the Big East Championships in the 100 yard breast. How did you stay in shape during the CT winters away from school?</h3>
<p>Over the winter vacation I was usually only home for a week before going back to school for training. During the week home I would either train with my club team or I would train by myself at my local YMCA in both the pool and the weight room. I need self-discipline to stay in shape while home because once the week was up I was on a plane to Puerto Rico with my team for a week of intense training.</p></article>
   </section>
</section>
