<app-template>
    <section id="login_box">
        <tabs>
            <tab tabTitle="SIGN UP">
                <div class="login-box signup-box">
                    <form id="signup" [formGroup]="signupForm" (ngSubmit)="onSignup()">
                        <input 
                            type="text" 
                            id="name" 
                            placeholder="Name"
                            formControlName="name" 
                        />

                        <span 
                            class="help-block"
                            *ngIf="!signupForm.get('name').valid && signupForm.get('name').touched"
                        >
                            Name is required!
                        </span><!-- .help-block -->
                
                        <input 
                            type="text" 
                            id="email" 
                            placeholder="Email" 
                            formControlName="email" 
                        />

                        <span 
                            class="help-block"
                            *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched"
                        >
                            Please Enter a Valid Email!
                        </span><!-- .help-block -->
                
                        <input 
                            type="password" 
                            id="password" 
                            placeholder="Password"
                            formControlName="password" 
                        />
                        
                        <span 
                            class="help-block"
                            *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched"
                        >
                            Password is required!
                        </span><!-- .help-block -->
                
                        <button>
                            Sign Up <i class="fa fa-user-plus" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </tab> 
            <tab tabTitle="LOG IN">
                <div class="login-box signin-box">
                    <form id="login" [formGroup]="loginForm" (ngSubmit)="onLogin()">
                        <input 
                            type="text" 
                            id="email" 
                            placeholder="Email" 
                            formControlName="email"
                        />

                        <span 
                            class="help-block"
                            *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched"
                        >
                            Please Enter a Valid Email!
                        </span><!-- .help-block -->

                        <input 
                            type="password" 
                            id="password" 
                            placeholder="Password" 
                            formControlName="password"
                        />

                        <span 
                            class="help-block"
                            *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched"
                        >
                            Password is required!
                        </span><!-- .help-block -->

                        <a href="#">Forgot password?</a>

                        <button [disabled]="!loginForm.valid">
                            Log In <i class="fa fa-sign-in" aria-hidden="true"></i>
                        </button>
                    </form>

                    <div class="horizontal-box"></div>

                    <div class="social-login">
                        <button class="cta-facebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>                    
                        </button>

                        <button class="cta-google">
                            <i class="fa fa-google-plus" aria-hidden="true"></i>                    
                        </button>

                        <button class="cta-linkedin">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>                    
                        </button>
                    </div>
                </div>
            </tab>
        </tabs>
    </section>
</app-template>