#login_box {
    margin: 39px auto;
    max-width: 350px;
}
.login-box {
    background: #ededed;
    padding: 10px;
}
:host /deep/ tabs {
    display: block;
    min-height: 300px;
}
:host /deep/ tabs .tabs ul {
    padding:0;
    text-align: center;
}

:host /deep/ tabs .tabs ul li {
    display:inline-block;
    vertical-align: top;
    width:35%;
    padding:0 0 15px 0;
    position:relative;
    color:#747473;
    cursor: pointer;
}
:host /deep/ tabs .tabs ul li.active {
    color:#000000;
}
:host /deep/ tabs .tabs ul li.active::after {
    content:'';
    position: absolute;
    left:0;
    right: 0;
    margin:auto;
    width: 0; 
    height: 0; 
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid #ededed;
    bottom:0;
}
:host /deep/ tabs tab {
    position: absolute;
    width:100%;
    max-width: 350px;
}
tab.active-tab {
    width:100%;
    min-width: 300px;
    max-width: 350px;
    overflow: hidden;
    z-index: 1;
}
.signup-box, .signup_type {
    top:0;
    width:100%;
    height: 100%;
    transition:all 0.5s ease;
}
.signup-box, .signup_type {
    top:0;
    width:100%;
    height: 100%;
    transition:all 0.5s ease;
}
.signup-box {
    position: relative;
    left:-100%;
}
.signup-box.active {
    left:0;
}
.signup_type {
    position: absolute;
    left:100%;
}
.signup_type.active {
    left:0;
    z-index: 1;
}

.login-box form input::-webkit-input-placeholder { /* Chrome */
    color: #6f6f6f;
}
.login-box form input:-ms-input-placeholder { /* IE 10+ */
    color: #6f6f6f;
}
.login-box form input::-moz-placeholder { /* Firefox 19+ */
    color: #6f6f6f;
    opacity: 1;
}
.login-box form input:-moz-placeholder{ /* Firefox 4 - 18 */
    color: #6f6f6f;
    opacity: 1;
}
.login-box form input {
    font-family: 'circularstd book';
    display: block;
    box-sizing:border-box;
    padding: 5px 10px;
    height: 40px;
    width: 100%;
    font-size: 14px;
    color: #000000;
    border:none;
    margin: 0 0 5px 0;
    border-radius: 5px;
}
.login-box form input.ng-valid.ng-touched{
    border: 1px solid #0c0;
}
.login-box form input.ng-invalid.ng-touched{
    border: 1px solid #c00;
}
.login-box form button, .signup-type-btn button  {
    background-color: #d53b3c;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 7px 3px rgba(0,0,0,0.2);
    box-shadow: 0 0 7px 3px rgba(0,0,0,0.2);
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-family: 'circularstd book';
    font-size: 15px;
    line-height: 15px;
    margin: 10px auto 10px auto;
    padding: 10px 10px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.login-box form button .fa, .signup-type-btn button .fa { 
    font-size:17px;
    margin:0 0 0 3px;
}
.login-box form button:hover, .signup-type-btn button:hover {
    background-color: #c95f5f;
}
.login-box form .help-block{
    color: #c00;
    display: block;
    font-size: 12px;
    padding: 0 0 5px 0;
    text-align: center;
}
.login-box form a {
    font-size: 12px;
    line-height: 14px;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #3fa8d1;
    margin: 10px 0 10px 0;
    float: right;
}
.login-box form a:hover {
    text-decoration: underline;
}
.login-box h2 {
    color: #000000;
    font-size: 20px;
    padding: 0 0 10px;
    text-align: center;
}
.horizontal-box {
    text-align: center;
    position: relative;
}
.horizontal-box:before {
    content: "";
    position: absolute;
    height: 1px;
    top: 39%;
    left: 0;
    width: 100%;
    background: #cccccc;
}
.horizontal-box > span {
    background: #ffffff;
    color: #6f6f6f;
    display: inline-block;
    padding: 0 5px;
    font-size: 14px;
    line-height: 1em;
    vertical-align: top;
    position: relative;
    z-index: 99;
}
.social-login {
    padding:8px 0 0 0;
    text-align: center;
}
.social-login > button {
    font-family: 'circularstd book';
    font-size: 16px;
    line-height: 1em;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    margin: 2px;
    padding:5px;
    border:none;
    border-radius: 50%;
    width:40px;
    height: 40px;
    color:#ffffff;
    text-align: center;
    cursor: pointer;
}
.social-login > button > .fa {
    display:inline-block;
    vertical-align: top;
    font-size:20px;
}
.social-login > button:hover {
    opacity: 0.6;
}
.social-login > button.cta-facebook {
    background-color: #3a559f;
}
.social-login > button.cta-google {
    background-color: #dd4b39;  
}
.social-login > button.cta-linkedin {
    background-color: #0084b1;
}
/*Signup type Radio button style*/
.signup_type {
    text-align: center;
    background-color:#ededed; 
    padding:10px;
}
.signup_type h3 {
    font-size:18px;
    padding:10px 0 10px 0;
}
.signup-radio {
    position: relative;
    display: inline-block;
    width:30%;
    vertical-align: top;
    margin:10px 0.5% 20px 0;
}
.signup-radio label { 
    font-size:12px;
    position:relative;
    display: block;
    border:1px solid #cccccc;
    padding:5px 5px 0 5px;
    border-radius: 5px;
    text-align: center;
    background-color: #ffffff;
}

.signup-radio input[type=radio] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
    
.signup-radio input[type=radio] ~ label:before {
    font-family: FontAwesome;
    display: block;
    content: "\f1db";
    letter-spacing: 10px;
    font-size: 1.2em;
    color: #535353;
    width: 1.4em;
    position: absolute;
    top: 2px;
    right:0;
}
.signup-radio input[type=radio]:checked ~ label {
    background-color:#ed9639;
    color: darkgreen;
}
.signup-radio input[type=radio]:checked ~ label:before {
    content: "\f00c";
    font-size: 1.2em;
    color: darkgreen;
    letter-spacing: 5px;
    opacity: 1;
}
.signup-radio img {
    display: block;
    margin:0 auto 0 auto;
    width:50%;
}


.signup-radio input[type=radio]:focus ~ label:before,
.signup-radio input[type=radio]:focus ~ label
{                
    color: green;
}




