<section class="page-conent-area">
   <section class="teammember-description">
           <div><a href="javascript:void(0);"><img src="../../assets/img/michael-img.png" alt="Michael Moffa" title="Michael Moffa"></a>
                <h3><a href="javascript:void(0);">Michael Moffa</a></h3><span>Customer Experience</span>
                <div class="profile-item-social">
                       
                        <a href="https://www.instagram.com/mpmoffa/?hl=en" target="_blank" class="instagram">
                                <i class="fa fa-instagram" aria-hidden="true"></i>                    
                        </a>
                        <a href="https://www.linkedin.com/in/mmoffa/" target="_blank" class="linkedin">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>                    
                        </a></div>
                        </div>
           <article><h3>Since joining <span class="shrpr"><span>s</span><span>h</span><span>r</span><span>p</span><span>r</span></span> what have you learned about Service and Education?</h3>
                <p>The most important thing I learned about service and how it is applies to education focuses on student retention. Too often a student misses the first class because of a miscommunication, and from that point forward it is nearly impossible to get them to rejoin. Or they do not feel comfortable, do not value the content or the delivery of the class and decide not to come back. At Shrpr we are going to help you fill your classes and keep the students there.</p>
                <h3>What experience from your days at Northeastern would you incorporate in shrpr?</h3>
                <p>My time at Northeastern was huge for my development both professionally and emotionally. I also spent a small fortune and accumulated a significant amount of debt to pay for it. The education system is broken and there as to be a better, more affordable way to get the skills and life experiences you get from traditional university life. shrpr’s biggest challenge is to bridge this gap and we will and will do it better.</p>
                <h3>What do you enjoy doing outside of work?</h3>
                <p>Traveling with my wife is my most favorite thing. And equally as important is enjoying life with my friends and family.</p>
                <h3>How do you learn best?</h3>
                <p>I learn best by reading, listening or watching something to get a general idea of the concept and then trying out what I learned. I find it best to try it out with an expert giving advice in person. I am not afraid to fail as long as I learn from the failure and succeed quickly.</p>
                <h3>Have you ever wanted to learn something new but just did not have time to do it?</h3>
                <p>I have a long list of things I want to learn and prioritizing them is easy. The hard part is finding the thing I want to learn in learning environment that works for me.</p></article>
   </section>
</section>
