<app-header></app-header>
<main>
<div class="inner_wrap clearfix">
<!--The content below is only a placeholder and can be replaced.-->
<div id="app">
  <div class="container">
  <div class="row">
      <div class="col-xs-12">
          <a href="#" [routerLink]="['/']">Course</a>
          <a href="#" [routerLink]="['/new-course']">Add a New Course</a>
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
</div>
  </main>
  <app-footer></app-footer>
  
