<app-header></app-header>
<main>
<div class="inner_wrap clearfix">
<!--The content below is only a placeholder and can be replaced.-->
<ngui-tab
  selected="browse"
  selected-index-class="selected"
  selected-contents-class="fadeIn animated">
  <div class="tabs">
    <div index="browse">Browse</div>
    <div index="curious">Curious</div>
  </div>
  <div class="tab-contents">
    <div contents="browse"><input ngui-auto-complete
    [(ngModel)]="model1"
    [source]="arrayOfStrings"
    placeholder="enter text"/></div>
    <div contents="curious"><div id="app">
  <div class="container">
  <div class="row">
      <div class="col-xs-12">
          <a href="#" [routerLink]="['/']">Course</a>
          <a href="#" [routerLink]="['/new-course']">Add a New Course</a>
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div></div>
  </div>
</ngui-tab>


</div>
  </main>
  <app-footer></app-footer>
  
