<!--The content below is only a placeholder and can be replaced.--><a href="javascript:void(0);" class="menu_trigger" (click)="toggleMenu()"><i class="fa fa-list" aria-hidden="true"></i></a>
<div id="app">
  <div class="container">
  <div class="row">
      <div class="col-xs-12">
          <a href="#" [routerLink]="['/']">Course</a>
          <a href="#" [routerLink]="['/new-course']">Add a New Course</a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<app-menu [@slideInOut]="menuState"></app-menu>
