<section id="banner"><h1>About Us</h1><img src="../../assets/img/aboutus-bg.jpg" alt="About Us" title="About Us"> </section>
<!-- banner end-->
<section class="page-conent-area">
    <div class="about-content">
    <p><span class="shrpr"><span>s</span><span>h</span><span>r</span><span>p</span><span>r</span></span> is a company that gives people a new way to seek, research, enroll in and manage your learning. We believe that learning opens doors to success and happiness and that every person, everywhere should be able to access high quality education.</p>
    <h2>Trusted Source</h2>
    <p>Shrpr makes sure to provide a transparent view into the courses and teachers hosting on our platform. We want to make sure that every course taught by every teacher is high quality, and that you are signing up to learn from experts, not amateurs. We do this through our review and rating system as well as an in depth screening process before allowing courses to be hosted on shrpr.</p>
    <h2>Face to Face</h2>
    <p>Shrpr is NOT online learning. All of the classes hosted on shrpr meet in a face to face, group environment. Though online courses are valuable to some people, we still believe that there is something special about the connections that learning creates and that sitting in a classroom of like minded peers can lead to outcomes beyond your imagination.</p>
    <h2>You, Improved</h2>
    <p>The gym is not the only place to work out. With shrpr, you work out your mind, and through endless opportunities to learn awesome new things, you can enroll in the courses that interest you. You may be seeking a new job, a promotion at your current job, or just simply want to pick up new knowledge about a subject that interests you. No matter what learning you seek, we have it on shrpr, with a high quality teacher in a face to face setting near you.</p>
</div>
<!-- About Content end-->

<section id="testimonial" class="clearfix">
<article><div><i class="fa fa-quote-left" aria-hidden="true"></i>
    <p>"I can safely say you are the most attentive to prospective clients..."</p><span>Alegra Torel</span></div></article>
<article class="video-box"><a href="javascript:void(0);"><i class="fa fa-play-circle" aria-hidden="true"></i><h4>"I didn't quite understand how good websites could be until I met Shape"</h4>
    <span>Samuel Tighe</span></a></article>
    <article><div><i class="fa fa-quote-left" aria-hidden="true"></i>
        <p>"Shape conduct themselves in a quick and efficient manner at all times, especially their back-up support which is excellent"</p><span>James Warrington</span></div></article>
</section>
<!-- Testimonial end-->

<section id="ourclints">
    <h2>Our Clients</h2>
    <h3>We work with start-up businesses through to global organisations.</h3>
    <div><img src="../../assets/img/clients01.png" alt=""></div>
    <div><img src="../../assets/img/clients02.png" alt=""></div>
    <div><img src="../../assets/img/clients03.png" alt=""></div>
    <div><img src="../../assets/img/clients04.png" alt=""></div>
    <div><img src="../../assets/img/clients05.png" alt=""></div>
    <div><img src="../../assets/img/clients06.png" alt=""></div>
</section>
<!-- Our Clients end-->
<section id="service">
    <article><h2>Service Spotlight</h2><a href="#">eCommerce </a></article>
    <article><h2>Recent Project</h2><a href="#">Go2 Telecom </a></article>
</section>
<!-- Service end-->
</section>
<section id="signup">
        <article><h2>Let's make something great together</h2><h3>Get in touch with us and send some basic info for a quick quote.</h3><a href="#">Sign Up</a></article>
    </section>
<!-- Sign Up end-->