<enroll 
    *ngIf="selectedCourse && enrollPopup"
    [course]="selectedCourse"
    (onAddCart)="addCart($event)"
>
</enroll>

<article *ngIf="course">
    <section class="course-header mobile">
        <div class="bread-crumb">
            <span>
                <a [routerLink]="['/institution', course.institution.id]">
                {{ course.institution.name }}</a> >
            </span>

            <span>
                {{ course.group.label }}
            </span>

            <span *ngFor="let category of course.categories; let i = index"> >
                {{ category.name }}
            </span>
        </div>

        <h2>{{ course.title }}</h2>

        <article class="course_mobile_card">
            <div class="category">
                {{ course.categories[0].name }}

                <figure class="rating">
                    <star-rating-comp 
                        [starType]="'svg'" 
                        [rating]="course.rating" 
                        [showHalfStars]="true" 
                        [readOnly]="true"
                    >
                    </star-rating-comp>
                </figure><!-- .rating -->
            </div><!-- .category -->

            <div class="img-ctn">
                <div class="price" *ngIf="course.semesters[0].amount != '0.00'">
                    ${{ course.semesters[0].amount }}
                </div><!-- .price -->

                <div class="price free" *ngIf="course.semesters[0].amount == '0.00'">
                    Free
                </div><!-- .price -->

                <div class="course_slider">
                    <carousel 
                        [interval]="NextPhotoInterval" 
                        [noWrap]="noLoopSlides"
                    >
                        <slide 
                            *ngFor="let slidez of slides; let index=index"
                            [active]="slidez.active"
                        >
                            <img [src]="slidez.image" style="margin:auto;" class="slider-img">
                        </slide>
                    </carousel>
                </div>

                <div class="overlay">
                    <p>
                        <i class="fa fa-user" aria-hidden="true"></i> 
                        <a [routerLink]="['/instructor', course.instructor.id]">
                            {{ course.instructor.name }}
                        </a>
                    </p>

                    <p>
                        <i class="fa fa-map-marker" aria-hidden="true"></i> 
                        <span class="course_address_mobile" *ngIf="selectedSemester">
                            <span *ngFor="let semester of selectedSemester">
                                <span *ngFor="let address of semester.addresses">
                                    {{ address.city }}, {{ address.state }}
                                </span>
                            </span> 
                        </span>
                    </p>
                </div><!-- .overlay -->
            </div><!-- .img-ctn -->

            <div class="course_info">
                <div *ngIf="this.course.semesters.length > 1">
                    <p>Total Semesters: {{ this.course.semesters.length }}</p>

                    Select Your Semester, Starts on:

                    <div *ngIf="selectedSemester" class="select-date">
                        <select 
                            [class.multiple]="isMulti" 
                            name="semester_start_date" [(ngModel)]="selected" 
                            (ngModelChange)="onSelect(selected)"
                        >
                            <option 
                                *ngFor="let sem of course?.semesters; let k = index" 
                                value="{{ sem.id }}" 
                                [selected]="k == 0"
                            >
                                {{sem?.start_date | datex:'LLLL'}} at {{sem?.addresses[0]?.city}}, {{sem?.addresses[0]?.state}}
                            </option>
                        </select>

                        <div class="selected_sem_info" *ngFor="let selected of selectedSemester">
                            <div class="select-wrap">
                                <p>
                                    <time title="{{selected?.start_date | datex:'LLLL'}}">
                                        {{selected?.start_date | datex:'LLLL'}}
                                    </time>
                                    , at {{selected?.addresses[0]?.city}}, {{selected?.addresses[0]?.state}}
                                </p>
                            </div>

                            <p>Session(s): {{selected?.duration}}</p> 
                        </div>
                    </div>
                </div>

            <div *ngIf="semesterCount < 2">
                Starts on 

                    <div *ngIf="selectedSemester">
                        <div class="selected_sem_info" *ngFor="let selected of selectedSemester">
                            <p>
                                <time title="{{selected?.start_date | datex:'LLLL'}}">
                                    {{selected?.start_date | datex:'LLLL'}}
                                </time>

                                , at {{selected?.addresses[0]?.city}}, {{selected?.addresses[0]?.state}}
                            </p>

                            <p>Sessions: {{selected?.duration}}</p>
                        </div>
                    </div> 
                </div>

                <div class="action_btn">
                    <a 
                        *ngIf="!cartAdded"
                        (click)="enroll()"
                    >
                        Enroll Now
                    </a>

                    <a 
                        *ngIf="cartAdded"
                        [routerLink]="['/payment', 'cart']"
                    >
                        Checkout
                    </a>

                    <a class="wishlist">
                        <img alt="shrpr" src="../../assets/img/shrpr-logo.png" title="shrpr"> Save To Wishlist
                    </a>
                </div>
            </div>
        </article>
    </section><!-- .mobile -->

    <section class="desktop">
        <div class="course_header">
            <div class="bread-crumb">
                <span>
                    <a [routerLink]="['/institution', course.institution.id]">
                        {{ course.institution.name }}
                    </a> > 
                </span>

                <span>{{ course.group.label }}</span>

                <span 
                    *ngFor="let category of course.categories; let i = index"
                > 
                    > {{ category.name }}
                </span>
            </div>

            <div class="course_slider">
                <carousel 
                    [interval]="NextPhotoInterval" 
                    [noWrap]="noLoopSlides"
                >
                    <slide 
                        *ngFor="let slidez of slides; let index=index"
                        [active]="slidez.active"
                    >
                        <img [src]="slidez.image" style="margin:auto;" class="slider-img">
                    </slide>
                </carousel>
            </div><!-- .course_slider -->

            <div class="course_info_desktop">
                <h1>{{ course.title }}</h1>

                <div class="course_rating_info">
                    {{ course.categories[0].name }} | 

                    <figure class="rating">
                        <star-rating-comp 
                            [starType]="'svg'" 
                            [rating]="course.rating" 
                            [showHalfStars]="true" 
                            [readOnly]="true"
                        >
                        </star-rating-comp>
                    </figure>

                     | <a (click)="goTo('reviews')">{{reviewCount}} Reviews</a><!-- .rating -->
                    
                    <span class="course_price_desktop" *ngIf="course.semesters[0].amount != '0.00'">${{ course.semesters[0].amount }}</span>

                    <span class="course_price_desktop free" *ngIf="course.semesters[0].amount == '0.00'">Free</span>
                </div><!-- .course_rating_info -->

                <p>
                    <i class="fa fa-user" aria-hidden="true"></i> <a [routerLink]="['/instructor', course.instructor.id]">{{ course.instructor.name }}</a>
                </p>

                <div class="action_btn">
                    <a 
                        *ngIf="!cartAdded" 
                        (click)="enroll()"
                    >
                        Enroll Now
                    </a>

                    <a 
                        *ngIf="cartAdded"
                        [routerLink]="['/payment', 'cart']"
                    >
                        Checkout
                    </a>

                    <br>

                    <a class="wishlist">
                        <img alt="shrpr" src="../../assets/img/shrpr-logo.png" title="shrpr"> Save To Wishlist
                    </a>
                </div>
            <p>
              <i class="fa fa-map-marker" aria-hidden="true"></i> 
              <span class="course_address_mobile" *ngIf="selectedSemester">
                  <span *ngFor="let semester of selectedSemester">
                  <span *ngFor="let address of semester.addresses">
                       {{ address.city }}, {{ address.state }}
                </span>
                </span> 
              </span>
            </p>
            <br>
            <div *ngIf="course.semesters.length > 1">
              <p>Total Semesters: {{ course.semesters.length }}</p>
              Select Your Semester, Starts on:<br>
              <div *ngIf="selectedSemester" class="select-date">
                <select [class.multiple]="isMulti" name="semester_start_date" [(ngModel)]="selected" (ngModelChange)="onSelect(selected)">
                  <option *ngFor="let semester of course?.semesters; let k = index"  value="{{semeseter.id}}" [selected]="k == 0">{{semester?.start_date | datex:'LLLL'}} at {{semester?.addresses[0]?.city}}, {{semester?.addresses[0]?.state}} </option>
                </select>
              
              <div class="selected_sem_info" *ngFor="let selected of selectedSemester">
                <div class="select-wrap">
                  <p><time title="{{selected?.start_date | datex:'LLLL'}}">{{selected?.start_date | datex:'LLLL'}}</time>, at {{selected?.addresses[0]?.city}}, {{selected?.addresses[0]?.state}}</p>
                </div>
                <p>Sessions: {{selected?.duration}} <span *ngIf="selected?.duration > 1" >(<a (click)="goTo('sessions')">view full Schedule</a>)</span></p> 
              </div>
            </div>
            </div>

            <div *ngIf="semesterCount < 2">
                Starts on 
              <div *ngIf="selectedSemester">
              <div class="selected_sem_info" *ngFor="let selected of selectedSemester">
                 <p><time title="{{selected?.start_date | datex:'LLLL'}}">{{selected?.start_date | datex:'LLLL'}}</time>, at {{selected?.addresses[0]?.city}}, {{selected?.addresses[0]?.state}}</p>
                 <p>Session: {{selected?.duration}}</p>
              </div>
            </div> 
            </div>
        </div>
        <!-- .course_info_desktop-->
      </div>
    <!-- .course_desktop_card -->
  </section>
  <!--desktop view ends-->
  <section class="course_semester_desktop">
    <h2>Semester Information</h2>
    <div class="course_enroll_block">
      <ul class="meetings_list" aria-roledescription="list">
          <li *ngFor="let semester of course.semesters; let k = index">
            <time title="{{semester?.start_date | datex:'LLLL'}}">{{semester?.start_date | datex:'LLLL'}}</time><br>
            <span><i class="fa fa-map-marker" aria-hidden="true"></i> {{semester?.addresses[0]?.city}}, {{semester?.addresses[0]?.state}} </span>
          </li>
      </ul>
      <a *ngIf="semesterCount > 3"  class="allsem-btn" routerLink="/courses/{{course?.id}}/semesters">View All Semesters</a>
    </div>
      <!-- .course_enroll_block -->
</section>
  <!-- #profile header -->
  <tabs class="mobile">
  <tab tabTitle="ABOUT">
      <div class="description" [innerHTML]="course.description"></div>
  </tab>
  <tab tabTitle="Classes" *ngIf="selectedSemesterMettings > 1">
      <div *ngIf="selectedSemester">
          <div class="session_list_mobile" *ngFor="let semester of selectedSemester">
              <ol class="meetings_list" aria-roledescription="list">
                  <li *ngFor="let selectmet of semester.meetings"><time title="{{selectmet?.start | datex:'LLLL'}}">{{selectmet?.start | datex:'LLLL'}}</time></li>
              </ol>
          </div> 
        </div>
  </tab>
  <tab tabTitle="CONTACT">
      <div *ngIf="selectedSemester" class="contact_box">
          <div *ngFor="let semester of selectedSemester">
          <address *ngFor="let address of semester.addresses">{{ address.streetAddress }}<br>{{ address.city }}, {{ address.state }}, {{ address.zip }}<br>{{ address.country }}</address>
          </div> 
      </div>
  </tab>
  </tabs><!-- #Tab -->
  <!-- desktop view -->
  <section class="desktop" id="desktopcourses">
    <h2>ABOUT</h2>
    <div class="description" [innerHTML]="course.description"></div><!-- .description -->
    <h2 id="sessions" *ngIf="selectedSemesterMettings > 1">Classes Schedule</h2>
    <div *ngIf="selectedSemester && selectedSemesterMettings > 1">
      <div *ngFor="let semester of selectedSemester">
          <ol class="meetings_list" aria-roledescription="list">
              <li *ngFor="let selectmet of semester.meetings"><time title="{{selectmet?.start | datex:'LLLL'}}">{{selectmet?.start | datex:'LLLL'}}</time></li>
          </ol>
      </div> 
    </div> 
    
    <h2>CONTACT</h2>
    <div *ngIf="selectedSemester">
      <div *ngFor="let semester of selectedSemester">
          <address *ngFor="let address of semester.addresses">{{ address.streetAddress }}<br>{{ address.city }}, {{ address.state }}, {{ address.zip }}<br>{{ address.country }}</address>
      </div> 
    </div>
    </section>
  <!-- desktop view End -->
  <!--google map start-->
  <section id="gmap">
    <div *ngIf="selectedSemester">
    <div *ngFor="let semester of selectedSemester">
    <div *ngFor="let address of semester.addresses">
    <agm-map [latitude]="lat" [longitude]="lng" [fullscreenControl]="true" [mapTypeControl]="true">
      <agm-marker [latitude]="lat" [longitude]="lng" [label]="'A'">
        <agm-info-window [disableAutoPan]="true">
          <address>{{ address.streetaddressress }}<br>{{ address.city }}, {{ address.state }}<br>{{ address.zip }}<br>{{ address.country }}</address>
        </agm-info-window>
      </agm-marker>
    </agm-map>
    </div>
  </div> 
  </div>
  </section>
  <!--google map ends-->
  
    <app-rating [course]="course" [rating]="course.rating"></app-rating>
</article>