#banner {
    position: relative;
}
#banner img {
    display: block;
}
#banner:before {
    background-color: rgba(60, 59, 63, 0.6);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#banner h1 {
    text-align: center;
    padding: 0 10px;
    color: #ffffff;
    font-family: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
}
.about-content {
    margin: 0 auto;
    max-width: 960px;
    padding: 20px 10px 50px 10px;
    text-align: center;
}
#meettheteem {
    padding: 50px 0 40px 0;
    text-align: center;
}
#meettheteem h2 {
    padding: 0 0 30px 0;
}
#meettheteem article {
    max-width:435px;
    width: 100%;
    margin: 0 auto 20px auto; 
}
#meettheteem article > a {
    display: block;
    text-decoration: none;
    background-color: #f0efec;
    -webkit-transition: all 0.3s linear;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#meettheteem article > a:hover {
    background-color: #e5e3de;
}
#meettheteem article > a > img {
    display: block;
    width: 100%;
}
#meettheteem article > h3{
    font-size: 20px;
    line-height: 20px;
    color: #ea4e4e;
    padding: 20px 0 7px 0;
}
#meettheteem article > h3 a {
    color: #ea4e4e;
    text-decoration: none;
}
#meettheteem article > h3 a:hover {
    text-decoration: underline;
}
#meettheteem article > span {
    display: block;
    font-size: 15px;
    line-height: 20px;
    color: #6d6f71;
    padding: 0 0 5px 0;
}
.profile-item-social {
    padding: 10px 0 20px 0;
}
.profile-item-social a {
    display: inline-block;
    vertical-align: top;
    margin: 0 7px 0 7px;
    padding: 8px 10px;
    font-size: 18px;
    color: #ffffff;
    line-height: 18px;
    border-radius: 50%;
    -webkit-transition: all 0.3s linear;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.profile-item-social a:hover {
    -webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
    transform: scale(1.1);
}
.profile-item-social a.twitter {
    background-color: #55acee;
}
.profile-item-social a.instagram {
    background-color: #3f729b;
} 
.profile-item-social a.linkedin {
    background-color: #0976b4;
}
.profile-item-statistics {
    border-top: 1px solid #f0efec;
    margin: 0 20px;
    padding: 20px 0 20px 0;
    font-size: 15px;
    line-height: 20px;
    color: #6d6f71;
}
.profile-item-statistics > span {
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 0;
    position: relative;
}
.profile-item-statistics span svg {
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    right: 0;
    bottom: 0;
    width:100%;
    height: 100%;
    cursor: pointer;
    -webkit-transition: all 0.3s linear;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.profile-item-statistics span:hover svg  {
    -webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
    transform: rotate(360deg);

}
#testimonial article {
    padding: 20px;
    text-align: center;
    background-color: #f0efec;
}
#testimonial article div i, #testimonial article a i {
    font-size: 16px;
    line-height: 1em;
    color: #3c3b3f;
    display: inline-block;
    vertical-align: top;
    border: 3px solid #dcd9d2;
    padding: 10px;
    border-radius: 50%;
    margin: 0 0 20px 0;
}
#testimonial article div p, #testimonial article a h4 {
    font-size: 18px;
    color: #4d4d4d;
    line-height: 24px;
    padding: 0 0 15px 0;
} 
#testimonial article div span, #testimonial article a span {
    font-size: 15px;
    line-height: 15px;
    color: #ea4e4e;
    padding: 0;
}
#testimonial article.video-box {
    background: url(/assets/img/video-bg.jpg) no-repeat center center;
    background-size:112%;
    position: relative;
    -webkit-transition: all 0.3s linear;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 300px;
}
#testimonial article.video-box iframe {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
#testimonial article.video-box:hover {
    background-size:120%;
}
/*#testimonial article.video-box:before{
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    z-index: 1;
    position: absolute;
}
#testimonial article.video-box a {
    text-decoration: none;
    position: relative;
    z-index: 2;
}
#testimonial article.video-box a i {
    border: none;
    padding: 0;
    color: #ffffff;
    font-size: 50px;
    line-height: 50px;
    -webkit-transition: all 0.3s linear;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#testimonial article.video-box:hover a i {
    -webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
    transform: scale(1.2);
}
#testimonial article.video-box a h4, #testimonial article.video-box a span {
    color: #ffffff;
}*/
#ourclints {
    padding: 50px 10px 50px 10px;
    background-color: #cccccc;
    text-align: center;
}
#ourclints h2 {
    font-size: 30px;
    line-height: 32px;
    color: #ffffff;
    padding: 0 0 15px 0;
}
#ourclints h3 {
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    padding: 0 0 20px 0;  
}
#ourclints div {
    display: inline-block;
    vertical-align: top;
    min-width: 230px;
    margin: 0 2% 10px 2%;
    max-width: 30%;
}
#ourclints div img {
    display: block;
    margin: 0 auto;
}
#service {
    padding: 50px 0 30px 0;
}
#service article {
    box-sizing: border-box;
    padding: 20px;
}
#service article h2 {
    font-size: 25px;
    line-height: 25px;
    color: #4d4d4d;
    padding: 0 0 12px 0;
}
#service article a {
    display: inline-block;
    vertical-align: top;
    font-size: 35px;
    line-height: 35px;
    position: relative;
    text-decoration: none;
    padding: 0 0 10px 0;
    -webkit-transition: all 0.7s linear;
	-moz-transition: all 0.7s ease;
	-ms-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
    transition: all 0.7s ease;
    color: #4d4d4d;
}
#service article a:before {
    content: "";
    height: 4px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #f0efec;
    -webkit-transition: all 0.3s linear;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#service article a:hover:before {
    width: 100%;
}
#service article a:hover {
    margin: 0 0 0 10px;
}
#signup {
    background-color: #f0efec;
    padding: 70px 10px 50px 10px;
    text-align: center;
    position: relative;
}
#signup article h2 {
    font-size: 30px;
    line-height: 35px;
    color: #4d4d4d;
    padding: 0 0 12px 0;
    font-weight: 800;
}
#signup article h3 {
    font-size: 22px;
    line-height: 26px;
    color: #4d4d4d;
    padding: 0 0 12px 0;
    font-weight: 400;
}
#signup article a {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 20px 10px 20px;
    border: 2px solid #4d4d4d;
    color: #4d4d4d;
    text-decoration: none;
    border-radius: 20px;
    -webkit-transition: all 0.3s linear;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin: 30px 0 0 0;
}
#signup article a:hover {
    color: #ffffff;
    background: #4d4d4d;
}
/*================================================
769px tablet media start
================================================*/
@media only screen and (min-width: 769px) {
    #meettheteem article {
        float: left;
        width: 33.33%;
        max-width: none;
    }
    #testimonial article {
        width: 33.33%;
        height: 300px;
        float: left;
        position: relative;
    }
    #testimonial article div, #testimonial article.video-box a {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        margin: auto;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 94%;

    }
    #ourclints div {
        width: 21%;
        max-width: auto;
        margin: 0 5% 5px 5%;
    }
    #service article {
        display: inline-block;
        vertical-align: top;
        width: 49.5%;
    }
    #signup {
        background-image: url(/assets/img/signup-left-bg.jpg), url(/assets/img/signup-right-bg.jpg);
        background-position: 1% 50px, 99% 50px;
        background-repeat: no-repeat, no-repeat;
        padding: 100px 10px 100px 10px;
    }
}