<section class="page-conent-area">
   <section class="teammember-description">
           <div><a href="javascript:void(0);"><img src="../../assets/img/miles-img.png" alt="Miles Spencer" title="Miles Spencer"></a>
                <h3><a href="javascript:void(0);">Miles Spencer</a></h3>
                <span>Co-Founder</span>
                <div class="profile-item-social">
                        <a href="https://twitter.com/milesspencer?" target="_blank"  class="twitter">
                                <i class="fa fa-twitter" aria-hidden="true"></i>               
                        </a>
                        <a href="https://www.linkedin.com/in/milesspencer/" target="_blank" class="linkedin">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>                    
                        </a></div>
            </div>
           <article>
                <h3>You’re Co-Founder of <span class="shrpr"><span>s</span><span>h</span><span>r</span><span>p</span><span>r</span></span>, how did it all start?</h3>
                <p>It started with a happy collision, of Brandon and me. We are both life-long learners, steeped in self-improvement. Mutual friends from EO heard us talking about the same things and put us together. We both believe that Traditional Education is broken (my LinkedIn still lists me as still a student - I don't believe I've completed learning) and that Independent Learning needs disrupting.</p>
                <h3>Being that this is not your first start-up, what makes shrpr different from all the others that you have invested in?</h3>
                <p>The difference is the people with core competency in face-to-face learning, and a genuine curiosity to learn independently. This is the core of the shrpr product.</p>
                <h3>How do you learn best?</h3>
                <p>I learn by watching others, forming a thesis and testing, testing, testing.</p>
                <h3>Have you ever wanted to learn something new but just did not have time to do it?</h3>
                <p>I have a list as long as my arm.</p></article>
   </section>
</section>
