:host /deep/ tabs .tabs ul {
    background: #e5e5e6;
    padding: 0 10px 0 10px;
}
:host /deep/ tabs .tabs ul li {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    max-width: 83px;
    box-sizing: border-box;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1em;
    color: #414141;
    padding: 50px 5px 14px;
    background-image: url('../../../assets/img/search-input.png');
    background-repeat: no-repeat;
    background-position: center 15px;
    background-size: 25px auto;
    cursor: pointer;
}
:host /deep/ tabs .tabs ul li.active {
    background-color: #cccccc;
}
:host /deep/ tabs .tabs ul li:nth-of-type(2) {
    background-image: url('../../../assets/img/about-tab-bg.png');
    background-position: center 13px;
    background-size: auto;
}
:host /deep/ tabs .tabs ul li:nth-of-type(3) {
    background-image: url('../../../assets/img/contact-tab-bg.png');
    background-position: center 19px;
    background-size: auto;
}
:host /deep/ tabs .tabs tab > div {
    padding: 10px 0 10px;
   background: #cccccc;
}
:host /deep/ tabs .tabs tab div > h3 {
    font-size: 18px;
    color: #818181;
    line-height: 22px;
    padding: 10px;
}
:host #reviews /deep/ star-rating-comp {
    display: inline-block;
    vertical-align: middle;
   }
#profile-header /deep/ star-rating-comp .rating {
       padding: 0;
   }
   .location a {
       text-decoration: none;
   }  
   :host /deep/ tabs .tabs tab div .card-box h3 {
       color: #ffffff;
   }  
.ctr {
    text-align:center;
}  
.view-more-btn {
    background-color: #e7aa62;
    box-shadow: 0 0 7px 3px rgba(0,0,0,0.2);
    border: none;
    color: #000000;
    cursor: pointer;
    display: block;
    font-family: 'circularstd book';
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    margin: 10px auto;
    max-width: 150px;
    padding: 9px 10px 7px 10px;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
} 
.view-more-btn:hover {
    opacity: 0.8;
}
button.view-more-btn:disabled {
    display: none;
}

.add-course-btn {
    display:block;
    background-color: #196e32;
    box-shadow: 0 0 7px 3px rgba(0,0,0,0.2);
    color: #ffffff;
    font-family: 'circularstd book';
    font-size: 16px;
    text-decoration: none;
    line-height: 18px;
    max-width: 138px;
    padding: 6px 10px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    margin:20px auto;
}
.add-course-btn:hover {
    opacity:0.8;
}
.profile-form {
    background-color: #f4f4f4;
    border-bottom: 1px solid #cccccc;
    padding: 10px;
}
.exit-btn {
    position: absolute;
    right:5%;
    top: 0;
    visibility: hidden;
    font-size: 16px;
    color: #000000;
}
.contact_box address:hover .exit-btn {
    visibility: visible;

}
.edit-form {
    padding: 0 0 20px 0;
}
.edit-form label {
    display: inline-block;
    vertical-align: middle;
    max-width: 150px;
    margin: 0 2% 10px 0;
    width: 100%;
} 
.edit-form input {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 4px 10px;
    height: 32px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 10px 0;
    color: #000000;
    font-family: arial;
  }
  .edit-form textarea {
    color: #000000;
    font-family: arial;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 4px 10px;
    width: 100%;
    display: block;
    margin: 0 0 10px 0;
    width: 100%;
  }
  .edit-form input[type="file"] {
    border: 0;
    padding:0;
    height: auto;
    width: auto;
    margin: 0 0 10px 0;
  }
.edit-form h2 {
    font-size: 24px;
}
.edit-btn {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
} 
  .profile-upload {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 25px;
      width: 20px;
      height: 20px;
      line-height: 1em;
      visibility: hidden;
  } 
  .profile-picture:hover .profile-upload {
      visibility: visible;
  }
 .profile-upload input {
     opacity: 0;
     position: absolute;
     right: 0;
     top: 0;
     z-index: 2;
     cursor: pointer;
 }  
 .edit-form input.ng-valid.ng-touched, .edit-form textarea.ng-valid.ng-touched{
    border: 1px solid #0c0;
}
.edit-form input.ng-invalid.ng-touched, .edit-form textarea.ng-invalid.ng-touched{
    border: 1px solid #c00;
}
.edit-form {
    max-width:500px;
}
.desktop {
    display:none;
}
@media only screen and (min-width: 769px) {
.mobile {
    display: none;
}    
.desktop {
    display:block;
}    
:host /deep/ tabs .tabs tab > div {
    padding: 10PX;
    overflow:hidden;
 }
 .edit-form label {
    display: inline-block;
    vertical-align: middle;
    max-width: 150px;
    margin: 0 2% 10px 0;
    width: 49%;
} 
.edit-form input {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 4px 10px;
    height: 32px;
    max-width: 262px;
    width: 48%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 10px 0;
  } 
  .add-course-btn {
    float: right;
    margin:0;
}  
}