<div class="lightbox">
  <article id="enroll" class="pop-up">
    <a class="close" (click)="close()" title="Close">x</a><!-- .close -->

    <h1>Enroll Now!</h1>

    <section 
      id="course" 
      *ngIf="course"
    >
      <div 
        id="bg"
        *ngIf="img"
        [ngStyle]="{ 'background-image': 'url(/assets/img/courses/' + img + ')'}"
      ></div><!-- #bg -->
      
      <h2>{{ course.title }}</h2>

      <div id="details">
        <p id="total">Total: ${{ course.semesters[0].amount }}</p><!-- #total -->

        <p>From: {{ course.semesters[0].start_date | date:'EEEE M/dd/yy - h:mm aaa' }}</p>

        <p>To: {{ course.semesters[0].end_date | date:'EEEE M/dd/yy - h:mm aaa' }}</p>

        <button id="cart" (click)="addCart()">
          <i class="fa fa-cart-plus" aria-hidden="true"></i> 

          Add to Cart
        </button><!-- #cart -->

        <button id="pay">
          <i class="fa fa-usd" aria-hidden="true"></i> 

          Pay Now
        </button><!-- #pay -->
      </div><!-- #details -->
    </section><!-- #course -->
  </article><!-- #enroll.pop-up -->
</div><!-- .lightbox -->