/*features Banner start*/
.features-banner {
    background-color: #852176;
    text-align: center;
}

/*features nav start*/

:host /deep/ app-marketing-nav .features-nav ul li:nth-of-type(6) a {
    color: #852176;
}
