<app-template>
    <article *ngIf="student">
    <section id="profile-header">
        <div class="profile-picture">
          <img *ngIf="!student?.profile_img" src="../../assets/img/students-picture.png" alt="" title="">
          <img *ngIf="student?.profile_img" src="../../assets/img/{{students?.profile_img}}" alt="" title="">
          <div class="social-icon" *ngIf="studentDetails">
            <a *ngIf="studentDetails?.twitter" href="{{studentDetails?.twitter}}" target="_blank" title="Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
            <a *ngIf="studentDetails?.facebook" href="{{studentDetails?.facebook}}" target="_blank" title="Facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a *ngIf="studentDetails?.linkedin" href="{{studentDetails?.linkedin}}" target="_blank" title="LinkedIn"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
          </div>
        </div>
        <div><h2>{{student.name}}</h2>
        <i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:{{student?.email}}">{{student?.email}}</a><br>
        <span *ngIf="studentDetails?.url"><i class="fa fa-globe" aria-hidden="true"></i> <a href="{{studentDetails?.url}}" target="_blank">{{studentDetails?.url}}</a></span><br> 
          <i aria-hidden="true" class="fa fa-map-marker"></i>
            <span *ngFor="let address of student?.addresses; let i = index;">
              <span *ngIf="i == 0">
              {{ address?.city }}, {{ address?.state }}
            </span> 
            </span>  
        </div>
      </section>
      
       <!-- #profile header -->
      <tabs class="mobile">
        <tab tabTitle="Courses">
          <h3 *ngIf="!student?.courses.length"><a [routerLink]="['/courses/list/all']">Click here to start your journey </a></h3>
          <article class="card-box" *ngFor="let coursed of student?.courses">
                <div class="img-ctn">
                    <figure>
                        <a [routerLink]="['/course', coursed?.id]"><img *ngIf="coursed?.semesters[0]?.primary_img" src="../../assets/img/courses/{{ coursed?.semesters[0]?.primary_img }}" alt="" title="">
                        <img *ngIf="!coursed?.semesters[0]?.primary_img" src="../../assets/img/course-picture.jpg" alt="" title=""></a>
                    </figure>
                    <h3>{{coursed?.title}}</h3>
                </div>
                <div class="card-info">
                  <div class="group_info"><span class="group_rating"><star-rating-comp [starType]="'svg'" [rating]="coursed?.rating" [showHalfStars]="true" [readOnly]="true"></star-rating-comp></span></div>
                  <p class="with-box"><span>With</span> {{coursed?.instructor}}</p>
                  <a [routerLink]="['/course', coursed?.id]"  class="page-cta" aria-roledescription="button">View Course</a>
                </div>
          </article>
        </tab>
        <tab tabTitle="ABOUT">
            <div class="contact_box">
          <p>{{studentDetails?.description}}</p>
          </div>
        </tab>
        <tab tabTitle="CONTACT">
          <div class="contact_box">
              <address *ngFor="let address of student?.addresses">
                  <div><strong *ngIf="addressLength > 1">{{ address?.type }}</strong><br>
                  {{ address?.streetAddress }}<br>
                  {{ address?.city }}, {{ address?.state }}, {{ address?.zip }}<br>
                  {{ address?.country }}<br>
                  <br>
                  Phone: <a href="tel:{{ student?.phone }}">{{ student?.phone }}</a><br>
                  Email: <a href="mailto:{{ student?.email }}">{{ student?.email }}</a>
                  </div>
                </address>                  
                </div>
        </tab>
      </tabs><!-- #Tab -->
        <!-- desktop view -->
        <section class="desktop" id="desktopcourses">
          <h2>Courses</h2>
          <h3><a [routerLink]="['/courses/list/all']">Click here to start your journey</a></h3>
            <article class="card-box" *ngFor="let coursed of student?.courses">
                  <div class="img-ctn">
                          <figure>
                          <a [routerLink]="['/course', coursed?.id]"><img *ngIf="coursed?.semesters[0]?.primary_img" src="../../assets/img/courses/{{ coursed?.semesters[0]?.primary_img }}" alt="" title="">
                          <img *ngIf="!coursed?.semesters[0]?.primary_img" src="../../assets/img/course-picture.jpg" alt="" title=""></a>
                      </figure>
                      <h3>{{coursed?.title}}</h3>
                  </div>
                  <div class="card-info">
                    <p class="with-box"><span>With</span> {{coursed?.instructor}}</p>
                    <a [routerLink]="['/course', coursed?.id]"  class="page-cta">View Course</a>
                  </div>
              </article>
          <h2>ABOUT</h2>
          <p>{{studentDetails?.description}}</p>
          <h2>CONTACT</h2>
          <div class="contact_box">
              <address *ngFor="let address of student?.addresses">
                  <div><strong *ngIf="addressLength > 1">{{ address?.type }}</strong><br>
                  {{ address?.streetAddress }}<br>
                  {{ address?.city }}, {{ address?.state }}, {{ address?.zip }}<br>
                  {{ address?.country }}<br>
                  <br>
                  Phone: <a href="tel:{{ student?.phone }}">{{ student?.phone }}</a><br>
                  Email: <a href="mailto:{{ student?.email }}">{{ student?.email }}</a>
                  </div>
                  </address>
                                    </div></section></article></app-template>