:host /deep/ tabs .tabs ul {
    background: #e5e5e6;
    padding: 0 10px 0 10px;
}
:host /deep/ tabs .tabs ul li {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    max-width: 83px;
    box-sizing: border-box;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1em;
    color: #414141;
    padding: 50px 5px 14px;
    background-image: url('../../assets/img/search-input.png');
    background-repeat: no-repeat;
    background-position: center 15px;
    background-size: 25px auto;
    cursor: pointer;
}
:host /deep/ tabs .tabs ul li.active {
    background-color: #cccccc;
}
:host /deep/ tabs .tabs ul li:nth-of-type(2) {
    background-image: url('../../assets/img/about-tab-bg.png');
    background-position: center 13px;
    background-size: auto;
}
:host /deep/ tabs .tabs ul li:nth-of-type(3) {
    background-image: url('../../assets/img/contact-tab-bg.png');
    background-position: center 19px;
    background-size: auto;
}
:host /deep/ tabs .tabs tab > div {
    padding: 10px 0 10px;
   background: #cccccc;
}
:host /deep/ tabs .tabs tab div > h3 {
    font-size: 18px;
    color: #818181;
    line-height: 22px;
    padding: 10px;
}
:host #reviews /deep/ star-rating-comp {
    display: inline-block;
    vertical-align: middle;
   }
#profile-header /deep/ star-rating-comp .rating {
       padding: 0;
   }
.contact_box a {
    color:#000000;
} 
.contact_box a:hover {
    color:#ed9639;
}     
@media only screen and (min-width: 769px) {
:host /deep/ tabs .tabs tab > div {
    padding: 10PX;
    overflow:hidden;
 }
}