.semester_row {
    padding:0 0 15px 0;
    margin:0 0 15px 0;
    border-bottom: 2px solid #cccccc;
}
.semester_row:last-child {
    border-bottom:none;
    margin:0;
}
.card-box {
    width: 100%;
    margin: 0;
    padding: 0;
}

.action_btn {
    text-align: center;
}
.action_btn a {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    line-height: 16px;
    text-decoration: none;
    padding: 6px 10px 4px 10px;
    border: 2px solid #ed9b40;
    background-color: #ffffff;
    color: #ed9b40;
    max-width: 275px;
    text-transform: uppercase;
}
.action_btn a img  {
    max-width: 19px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 0;
}
.action_btn a:hover {
    background-color: #ed9b40;
    color: #ffffff;
    text-decoration: none;
}
.semester_info_box > div {
    margin:0 0 10px 0;
}
.semester_info_box strong{
    color:#448a58;
}
.grey-text {
    color:#666666;
}
.ctr {
    text-align:center;
}  
.view-more-btn {
    background-color: #e7aa62;
    box-shadow: 0 0 7px 3px rgba(0,0,0,0.2);
    border: none;
    color: #000000;
    cursor: pointer;
    display: block;
    font-family: 'circularstd book';
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    margin: 10px auto;
    max-width: 150px;
    padding: 9px 10px 7px 10px;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
} 
.view-more-btn:hover {
    opacity: 0.8;
}
button.view-more-btn:disabled {
    display: none;
}

@media only screen and (min-width: 769px) {
    .card-box {
        width: 40%;
        margin: 0 15px 0 0;
        padding: 0;
    } 
    .semester_info_box {
        display:inline-block;
        vertical-align: top;
        width:50%;
    }
    
}