#persoanl-demo {
    background: #448a58;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    padding: 7px 0 7px 0;
    text-align: right;
    position: relative;
}
#persoanl-demo a {
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    background: #d53b3c;
    padding:11px 10px 9px 10px;
    -webkit-box-shadow: 0 0 7px 3px rgba(0,0,0,0.2);
    box-shadow: 0 0 7px 3px rgba(0,0,0,0.2);
    text-transform: uppercase;
    margin: 0 5px 0 5px;
}
#persoanl-demo a:hover {
background: #c95f5f;
}
/* =============================================================================
   Medium SCREEN STYLES [Tab VIEW] START
  ============================================================================= */
/* 768px */
@media only screen and (min-width: 768px) {
    :host {
        display: block;
        padding: 27px 0;
        border-top: 1px solid #cccccc;
        -moz-transition: all 0.5s ease-in-out 0s;
        -ms-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
        -webkit-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s;
    }
}
/* =============================================================================
   LARGE SCREEN STYLES [DESKTOP VIEW] START
  ============================================================================= */
/* 960px */
@media only screen and (min-width: 960px) {
    .header_small :host {
        padding: 5px 0;
    }
}