<section id="for_fun_box" class="category_bucket magento">
  <h2>For Fun</h2>
  <div class="thee_col_content clearfix ">
      <article class="card-box" *ngFor="let course of (courses | groups: 'For Fun'); let i = index" [class.moveRight]="course.state == 'like'" [class.moveLeft]="course.state == 'dislike'">
          <div class="img-ctn">
              <div class="price">
                  ${{ course.semesters[0].amount }}
              </div><!-- .price -->
              <figure>
                  <img src="../../assets/img/court.jpg" />
              </figure>
              <div class="like_action">
                  <a 
                    class="hollow-icon thumbUp" 
                    (click)="onLike(course.id)" 
                    [class.like]="course.state == 'like'"
                  >
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                  </a>
                  <a 
                    class="hollow-icon thumbDown" 
                    (click)="onDislike(course.id)" 
                    [class.dislike]="course.state == 'dislike'"
                  >
                    <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                  </a>
              </div>
          </div><!-- .img-ctn -->
          <div class="card-info">
            <div class="group_info">
              <span class="group_rating">
                <star-rating-comp [starType]="'svg'" [rating]="course.rating" [showHalfStars]="true"></star-rating-comp>
              </span>

              <span class="group_name">
                {{ course.categories[0].name }}
              </span>
            </div><!-- .group_info-->
            <h3>{{ course.title }}</h3>
            <p class="location">
              <i class="fa fa-map-marker" aria-hidden="true"></i> 
              <a href="javascript:void(0);">{{ course.semesters[0].addresses[0].city }}, {{ course.semesters[0].addresses[0].state }}</a>, 
            </p><!-- .location -->
            <p class="date">
              <i class="fa fa-calendar" aria-hidden="true"></i> 
                <span class="date_stamp">{{ course.semesters[0].start_date | date: 'MM/dd/yyyy' }}</span>
            </p><!-- .date -->
          </div><!-- .card-info -->
      </article>
      </div>
</section><!-- #for_fun_box -->
<section id="for_work_box" class="category_bucket blue">
    <h2>For Work</h2>
    <div class="thee_col_content clearfix ">
      <article class="card-box" *ngFor="let course of (courses | groups: 'For Work'); let i = index" [class.moveRight]="course.state == 'like'" [class.moveLeft]="course.state == 'dislike'">
            <div class="img-ctn">
                <div class="price">
                    ${{ course.semesters[0].amount }}
                </div><!-- .price -->
                <figure>
                    <img src="../../assets/img/court.jpg" />
                </figure>
                <div class="like_action">
                    <a 
                      class="hollow-icon thumbUp" 
                      (click)="onLike(course.id)" 
                      [class.like]="course.state == 'like'"
                    >
                      <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </a>
                    <a 
                      class="hollow-icon thumbDown" 
                      (click)="onDislike(course.id)" 
                      [class.dislike]="course.state == 'dislike'"
                    >
                      <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                    </a>
                </div>
            </div><!-- .img-ctn -->
            <div class="card-info">
              <div class="group_info"><span class="group_rating"><star-rating-comp [starType]="'svg'" [rating]="course.rating" [showHalfStars]="true"></star-rating-comp></span><span class="group_name">
                {{ course.categories[0].name }}</span></div><!-- .group_info-->
              <h3>{{ course.title }}</h3>
              <p class="location">
                <i class="fa fa-map-marker" aria-hidden="true"></i> 
                <a href="javascript:void(0);">{{ course.semesters[0].addresses[0].city }}, {{ course.semesters[0].addresses[0].state }}</a>, 
              </p><!-- .location -->
              <p class="date">
                <i class="fa fa-calendar" aria-hidden="true"></i> 
                  <span class="date_stamp">{{ course.semesters[0].start_date | date: 'MM/dd/yyyy' }}</span>
              </p><!-- .date -->
            </div><!-- .card-info -->
        </article>
        </div>
  </section><!-- #for_work_box -->
  <section id="for_kids_box" class="category_bucket yellow">
      <h2>For Kids</h2>
      <div class="thee_col_content clearfix ">
      <article class="card-box" *ngFor="let course of (courses | groups: 'For Kids'); let i = index" [class.moveRight]="course.state == 'like'" [class.moveLeft]="course.state == 'dislike'">
              <div class="img-ctn">
                  <div class="price">
                      ${{ course.semesters[0].amount }}
                  </div><!-- .price -->
                  <figure>
                      <img src="../../assets/img/court.jpg" />
                  </figure>
                  <div class="like_action">
                      <a 
                        class="hollow-icon thumbUp" 
                        (click)="onLike(course.id)"
                        [class.like]="course.state == 'like'"
                      >
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                      </a>
                      <a 
                        class="hollow-icon thumbDown" 
                        (click)="onDislike(course.id)" 
                        [class.dislike]="course.state == 'dislike'"
                      >
                        <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                      </a>
                  </div>
              </div><!-- .img-ctn -->
              <div class="card-info">
                <div class="group_info"><span class="group_rating"><star-rating-comp [starType]="'svg'" [rating]="course.rating" [showHalfStars]="true"></star-rating-comp></span><span class="group_name">
                {{ course.categories[0].name }}</span></div><!-- .group_info-->
                <h3>{{ course.title }}</h3>
                <p class="location">
                  <i class="fa fa-map-marker" aria-hidden="true"></i> 
                  <a href="javascript:void(0);">{{ course.semesters[0].addresses[0].city }}, {{ course.semesters[0].addresses[0].state }}</a>, 
                </p><!-- .location -->
                <p class="date">
                  <i class="fa fa-calendar" aria-hidden="true"></i> 
                    <span class="date_stamp">{{ course.semesters[0].start_date | date: 'MM/dd/yyyy' }}</span>
                </p><!-- .date -->
              </div><!-- .card-info -->
          </article>
          </div>
    </section><!-- #for_kids_box -->

<!--<button class="show-more" (click)="getData()">Show more</button>-->