<!--card box start-->
<div class="card-box">
<div class="card-detail">
	<div class="card-row">
	<span class="field-label">Course Name: </span><span class="field-value">{{course.name}}</span>
	</div>
	<div class="card-row">
	<span class="field-label">Instructor: </span><span class="field-value">{{course.instructor_id}}</span>
	</div>
	<div class="card-row">
	<span class="field-label">Address: </span><span class="field-value">{{course.address}}, {{course.city}} <br>{{course.state}}, {{course.zip}}</span>
	</div>
	<div class="card-row">
	<span class="field-label">Course Fee: </span><span class="field-value">${{course.amount}}<small>usd</small></span>
	</div>
</div>	
<!--card action start--><div class="card-box-action">
	<div *ngIf="editing">
			<input type="text" [(ngModel)]="editValueName">
			<input type="text" [(ngModel)]="editValueAddress">
			<input type="text" [(ngModel)]="editValueCity">
			<input type="text" [(ngModel)]="editValueState">
			<input type="text" [(ngModel)]="editValueZip">
			<a href="#" (click)="onUpdate()">Save</a>
			<a href="#" (click)="onCancel()">Cancel</a>
		</div>
		<div *ngIf="!editing">
			<a href="#" (click)="onEdit()">Edit</a>
			<a href="#" (click)="onDelete()">Delete</a>	
		</div>
</div><!--card action ends-->
</div>
<!--card box ends-->
