<div id="viewport">
  <ul class="stack" swing-stack [stackConfig]="stackConfig"  #myswing1 (throwout)="onThrowOut($event)">
    <!--<li swing-card #mycards1 [ngClass]="c.name" *ngFor="let c of cards">{{ course.title }}</li>-->
    <li swing-card #mycards1 [ngClass]="course.name" *ngFor="let course of courses">
      <!--card box start-->
      <div class="card-box">
      <div class="image-box">
        <div class="course-title">{{course.title}}</div>
      </div>
      <div class="card-detail">
      <div class="price-info">${{course.semesters[0].amount}}</div>
        <div class="card-row"><i class="fa fa-map-marker" aria-hidden="true"></i> <span class="aqua_text">{{course.semesters[0].city}}, {{course.semesters[0].state}}</span></div>
        <div class="card-row"><i class="fa fa-calendar" aria-hidden="true"></i> <span class="aqua_text">{{course.duration}}</span></div>
        <div class="card-row"><em>with</em> <span class="aqua_text">{{course.instructor.name}}</span></div>
      </div>
      </div>
    </li>
  </ul>
</div>

