<section id="search">
  <form action="#">
     <span>
          <img src="../assets/img/search-input.png" alt="Shrpr" title="Shrpr">

          <ng2-completer 
              #search
              placeholder="Search for Category" 
              [datasource]="dataService" 
              minSearchLength="0"
              openOnFocus="true"
              (keydown)="onKey($event.target.value)"
              (selected)="onSelected($event)"
          >
          </ng2-completer>
      </span>

      <span>
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          
          <input type="text" placeholder="Enter Location" [value]="location">
      </span>

      <button>Search</button>
  </form>
</section><!-- #search -->