<tabs *ngIf="width < 959">
    <tab tabTitle="Search">
        <section id="search">
            <form action="#">
               <span>
                    <img src="../assets/img/search-input.png" alt="Shrpr" title="Shrpr">

                    <input type="text" placeholder="Soccer">
                </span>

                <span>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>

                    <input type="text" placeholder="Watertown, CT">
                </span>

                <button>Search</button>
            </form>

            <div class="login-link"><a href="#">Login</a> / <a href="#">Sign Up</a></div>
        </section><!-- #search -->
    </tab>

    <tab tabTitle="Browse">
        <app-courses></app-courses>
    </tab>
</tabs>

    <section id="search" *ngIf="width > 959">
        <form action="#">
            <span>
                <img src="../assets/img/search-input.png" alt="Shrpr" title="Shrpr">

                <input type="text" placeholder="Soccer">
            </span>

            <span>
                <i class="fa fa-map-marker" aria-hidden="true"></i>

                <input type="text" placeholder="Watertown, CT">
            </span>

            <button>Search</button>
        </form>
    </section><!-- #search -->
    <div class="inner-wrap">
<section id="sign-up">
    <p>For those guided by their desire to know a little bit more</p>

    <button>Sign Up</button>
</section><!-- #sign-up -->

<app-courses *ngIf="width > 959"></app-courses>
</div><!-- #inner wrap -->