<tabs *ngIf="width < 959">
        <tab tabTitle="Browse">
                <app-courses></app-courses>
            </tab>
    <tab tabTitle="Search">
        <app-search></app-search>
        <div class="login-link"><a href="#">Login</a> / <a href="#">Sign Up</a></div>
    </tab>

    
</tabs>

    
    
<section id="sign-up">
    <p>For those guided by their desire to know a little bit more</p>

    <button>Sign Up</button>
</section><!-- #sign-up -->

<app-courses *ngIf="width > 959"></app-courses>
