/*** What is Shrpr ***/
section#what-is-shrpr {
    padding: 30px 20px 30px 20px;
    background: #d1cfcf;
    border-bottom: 3px solid #ffffff;
}

/*** Banner ***/
section#banner {
    display: none;
}
section#banner img {
    display: block;
}


/*** Sign Up ***/
section#sign-up{
    text-align: center;
    padding: 40px 20px;
}
section#sign-up button{
    background-color: #484848;
    border: none;
    -webkit-box-shadow: 0 0 7px 3px rgba(0,0,0,0.2);
    box-shadow: 0 0 7px 3px rgba(0,0,0,0.2);
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-family: 'circularstd book';
    font-size: 18px;
    line-height: 18px;
    margin: 0 auto;
    max-width: 150px;
    padding:7px 10px;
    text-align: center;
    width: 100%;
}
section#sign-up button:hover {
    background-color: #757575;
}
section#sign-up p {
    font-size: 16px;
    color: #000000;
    line-height: 24px;
    font-family:'coco gothic bold';
    margin: 0 auto;
    max-width: 257px;
}

/*tab*/
:host /deep/ tabs .tabs ul  {
    padding: 14px 0 14px 0;
    text-align: center;
    margin: 0 auto !important;
    max-width: 320px;
}
:host /deep/ tabs .tabs ul li {
    border: 1px solid #000000;
    display: inline-block;
    padding: 0;
    background-color: #fff;
    color: #414140;
    font-size: 11px;
    line-height: 1em;
    padding: 41px 15px 21px;
    margin: 0 4%;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    background-image: url('../../assets/img/shrpr-logo.png');
    background-repeat: no-repeat;
    background-position: center 16px;
    width: 42%;
    background-size: 19px auto;
    max-width: 173px;
}

:host /deep/ tabs .tabs ul li:first-child {
    background-image: none;
    float: right;
}
:host /deep/ tabs .tabs ul li:first-child:before {
    font-family: FontAwesome;
    content: "\f002";
    font-size: 23px;
    left: 0;
    right: 0;
    position: absolute;
    top: 19px;
    vertical-align: middle;
}
:host /deep/ tabs .tabs ul li.active {
    -webkit-box-shadow: 1px 1px 7px 3px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 7px 3px rgba(0,0,0,0.2);
    color: #414140;
    background-color: #e1e1df;
}
@media only screen and (min-width: 60em) {
    /*** Sign Up ***/
    section#sign-up{
        padding: 111px 20px 70px;
    }
    section#sign-up button {
        font-size: 28px;
        line-height: 28px;
        max-width: 354px;
        padding: 12px 20px;
    }
    section#sign-up p {
        font-size: 48px;
        line-height: 62px;
        max-width: 732px;
    }
}