<tabs>
    <tab tabTitle="Search" class="search_container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque laboriosam quisquam perspiciatis error repellat ex doloremque ab consequatur recusandae, nulla tempore iusto praesentium quidem, vitae sequi et impedit nihil ducimus.</p>
    </tab>

    <tab tabTitle="Browse" class="browse_container">
        <app-courses></app-courses>
    </tab>
</tabs>

<div class="home_trusted_section clearfix">
    <div>
        <h2>
            Trusted Source

            <i class="fa fa-caret-down" aria-hidden="true"></i>
        </h2>

        <p class="active">Seeking, Reaserching and Enrolling in courses of all types</p>
    </div>

    <div>
        <h2>
            You, Improved

            <i class="fa fa-caret-down" aria-hidden="true"></i>
        </h2>

        <p>Create the best virsion of yourself through learning</p>
    </div>

    <div>
        <h2>
            Face to Face<i class="fa fa-caret-down" aria-hidden="true"></i>
        </h2>

        <p>All courses meet F2F in group setting no online learning here.</p>
    </div>
</div>

<div class="whatisshrpr_section">
    <h2>
        WHAT IS <span class="cname_color"><span>s</span><span>h</span><span>r</span><span>p</span><span>r</span></span>?
    </h2>

    <p>shrpr is a Face to Face Learning Marketplace, fueled by our community of people connected by their love of learning and teaching. Follow along while we build our exciting tech product (that will launch in February 2018!) by creating and curating content
        to help you think, grow and learn.</p>
</div>

<div class="courses-desktop" *ngIf="width > 960">
    <app-courses></app-courses>
</div>