.home_trusted_section {
    background: #1b1a18;
}
.home_trusted_section > div p {
    display: none;
    color: #ffffff;
}
.home_trusted_section > div {
    border-bottom: 1px solid #ffffff;
    padding: 10px 20px;
    box-sizing: border-box;
}
.home_trusted_section > div h2 {
    color: #ffffff;
    padding: 10px 0 10px 0;
}
.home_trusted_section > div h2 .fa-caret-down {
    float: right;
}
.home_trusted_section > div p.active {
    display: block;
}
.whatisshrpr_section {
    padding: 30px 20px 30px 20px;
    background: #d1cfcf;
    border-bottom: 3px solid #ffffff;
}
@media only screen and (min-width: 60em) {
    .home_trusted_section > div p {
        display: block;
    }
    .home_trusted_section > div h2 .fa-caret-down {
        display: none;
    }
    .home_trusted_section > div h2 {
        text-align: center;
    }
    .home_trusted_section > div {
        border-left: 1px solid #ffffff;
        border-bottom: 0;
        padding: 10px 20px;
        float: left;
        width:33.33%;
    }
    .home_trusted_section > div:first-child {
        border-left: 0;
    }
}