/*** What is Shrpr ***/
section#what-is-shrpr {
    padding: 30px 20px 30px 20px;
    background: #d1cfcf;
    border-bottom: 3px solid #ffffff;
}
/*** Banner ***/
section#banner {
    display: none;
}
section#banner img {
    display: block;
}

/*** Sign Up ***/
section#sign-up{
    text-align: center;
    padding: 40px 20px;
}
a.home-cta {
    background-color: #484848;
    border: none;
    -webkit-box-shadow: 0 0 7px 3px rgba(0,0,0,0.2);
    box-shadow: 0 0 7px 3px rgba(0,0,0,0.2);
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    font-family: 'circularstd book';
    font-size: 18px;
    line-height: 18px;
    margin: 0 auto;
    max-width: 150px;
    padding:12px 20px;
    text-align: center;
    width: 100%;
    text-decoration: none;
    margin: 20px 0 0 0;
}

a.home-cta:hover {
    background-color: #757575;
}
section#sign-up p {
    font-size: 16px;
    color: #000000;
    line-height: 24px;
    font-family:'coco gothic bold';
    margin: 0 auto;
    max-width: 257px;
}
/*** Slider ***/
#home-slider {
    margin: 0 0 30px 0;
}
:host /deep/ carousel slide > div {
    display: block;
    background: #cf2b2c;
    border-bottom: 12px solid #f68b1f;
    position: relative;
    height: 200px;
}
:host /deep/ carousel slide:nth-of-type(2) > div {
    background: #488c5b;
    border-bottom: 12px solid #1b1a18;
}
:host /deep/ carousel slide:nth-of-type(3) > div {
    background: #ec9534;
    border-bottom: 12px solid #488c5b;
}
:host /deep/ carousel slide:nth-of-type(4) > div {
    background: #269ccc;
    border-bottom: 12px solid #8a2d7d;
}
:host /deep/ #home-slider carousel .carousel-indicators li.active, :host /deep/ #home-slider carousel .carousel-indicators li:hover {
    background-color: #ffffff; 
}
:host /deep/ #home-slider .carousel-control {
    color: #ffffff;
}
.home-slide-content {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 0 28px;
    max-width: 420px;
}
.home-slide-content h4 {
    color: #ffffff;
    font-size: 25px;
    padding: 0;
    line-height: 28px;
}
.home-slide-content p {
    color: #ffffff;
    font-size: 20px;
    padding: 0;
    line-height: 25px;
}
/*tab*/
:host /deep/ tabs .tabs ul  {
    padding: 14px 0 14px 0;
    text-align: center;
    margin: 0 auto !important;
    max-width: 320px;
}
:host /deep/ tabs .tabs ul li {
    border: 1px solid #000000;
    display: inline-block;
    padding: 0;
    background-color: #fff;
    color: #414140;
    font-size: 11px;
    line-height: 1em;
    padding: 41px 15px 21px;
    margin: 0 4%;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    background-image: url('../../../assets/img/shrpr-logo.png');
    background-repeat: no-repeat;
    background-position: center 16px;
    width: 42%;
    background-size: 19px auto;
    max-width: 173px;
}

:host /deep/ tabs .tabs ul li:first-child {
    background-image: none;
    float: right;
}
:host /deep/ tabs .tabs ul li:first-child:before {
    font-family: FontAwesome;
    content: "\f002";
    font-size: 23px;
    left: 0;
    right: 0;
    position: absolute;
    top: 19px;
    vertical-align: middle;
}
:host /deep/ tabs .tabs ul li.active {
    -webkit-box-shadow: 1px 1px 7px 3px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 7px 3px rgba(0,0,0,0.2);
    color: #414140;
    background-color: #e1e1df;
}
@media only screen and (min-width: 769px) {
/*** Slider ***/
:host /deep/ carousel slide > div {
    height: 375px;
}
.home-slide-content {
    max-width: 500px;
}
.home-slide-content h4 {
    color: #ffffff;
    font-size: 40px;
    line-height: 40px;
}
.home-slide-content p {
    color: #ffffff;
    font-size: 35px;
    padding: 0;
    line-height: 40px;
}
}
@media only screen and (min-width: 960px) {
    /*** Sign Up ***/
    section#sign-up{
        padding: 111px 20px 70px;
    }
    section#sign-up p {
        font-size: 48px;
        line-height: 62px;
        max-width: 732px;
    }
}