<app-template>
    <section class="home-slider">
            <carousel>
                    <slide>
                      <div class="home-slide-content">
                        <h4>You, Improved</h4>
                        <p>shrpr believes the best version of yourself starts with imporoving your knowledge.</p>
                      </div>
                    </slide>
                    <slide>
                     <div class="home-slide-content">
                       <p>shrpr connects local experts, avid learners, and convenient locations</p>
                      </div>
                    </slide>
                    <slide>
                     <div class="home-slide-content">
                        <p>For those guided by their desire to know a little bit more</p>
                      </div>
                    </slide>
                     <slide>
                      <div class="home-slide-content">
                        <p>shrpr believes the best version of yourself starts with improving your knowledge.</p>
                      </div>
                    </slide>
                  </carousel>
    </section>
    <tabs *ngIf="width < 768">
        <tab tabTitle="Browse">
        	<app-curious></app-curious>
        </tab>

        <tab tabTitle="Search">
            <app-search></app-search>

            <div class="login-link">
            	<a [routerLink]="['/login']">Login / Sign Up</a>
            </div>
        </tab>
    </tabs>
    
    <section id="sign-up">
        <p>For those guided by their desire to know a little bit more</p>

        <a class="home-cta" [routerLink]="['/login']">Sign Up</a>
    </section><!-- #sign-up -->

    <app-curious *ngIf="width > 767"></app-curious>
</app-template>