header {
	background-color: #fff;
  display: block;
  -webkit-box-shadow: 0 0 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 5px 3px rgba(0,0,0,0.2);
  position: relative;
  z-index: 99998;
}
header #logo {
  display: inline-block;
  font-family: "coco gothic";
  font-size: 32px;
  line-height: 32px;
  margin: 14px 0 13px 0;
  text-decoration: none;
  vertical-align: top;
}
header a#menu {
  color: #474746;
  float: right;
  font-size: 30px;
  line-height: 33px;
  position: relative;
  vertical-align: top;
  z-index: 99;
  margin: 7px 0 0 20px;
  padding: 5px 7px 3px;
  border:1px solid #ececec;
  border-radius:3px;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
header a#menu:hover, header a#menu.active {
  background:#196e32;
  color:#ffffff;
}
header a#menu.active {
  position: fixed;
  right: 10px;
  top: 0;
}
header a#menu .fa-times-circle-o {
  position:absolute;
  left:7px;
  top:5px;
  opacity:0;
}
header a#menu.active .fa-bars {
  opacity:0;
}
header a#menu.active .fa-times-circle-o {
  opacity:1;
}
.cart-icon {
  color: #7a7b7f;
  float: right;
  font-size: 24px;
  line-height: 24px;
  margin: 18px 0 0 16px;
  position: relative;
}
.counter-logo {
  float: right;
  margin: 18px 0 0;
  max-width: 20px;
  position: relative;
}
.cart-icon > span, .counter-logo > span {
  background: #ed9639;
  border-radius: 50%;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 8px;
  height: 13px;
  line-height: 8px;
  padding: 2px 0 0;
  position: absolute;
  right: -8px;
  text-align: center;
  top: -5px;
  width: 12px;
  z-index: 1;
}
header #logo span.beta-logo {
  color: red;
  display: inline-block;
  font-family: arial;
  font-size: 10px;
  line-height: 1em;
  padding: 0 0 6px;
  text-transform: uppercase;
  vertical-align: bottom;
}
@media only screen and (min-width: 60em) {
:host{
  height: 195px;
  display: block;
  background: #ffffff;
}
  header {
  	-moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
  }
  header.header_small {
    position:fixed;
  	width:100%;
  	left:0;
  	top:0;
    z-index: 20;
  }
  header #logo {
    font-size: 45px;
    line-height: 45px;
    margin:29px 0 18px 0;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
  }
  header.header_small  #logo {
    margin:6px 0 6px 0;

  }
  header a#menu {
    display:none;
  }
  .cart-icon {
    font-size: 46px;
    line-height: 46px;
    margin: 15px 17px 0 35px;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
  }
  header.header_small  .cart-icon {
    font-size: 34px;
    margin: 8px 17px 0 35px;
  }
  .counter-logo {
    margin: 19px 0 0 35px;
    max-width: 38px;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
  }
  header.header_small  .counter-logo {
    max-width: 29px;
    margin: 10px 0 0 35px;
  }
  .cart-icon > span, .counter-logo > span {
    font-size: 13px;
    height: 22px;
    line-height: 13px;
    padding: 4px 0 0;
    right: -15px;
    top: -6px;
    width: 22px;
  }
  header #logo span.beta-logo {
    padding: 0 0 8px 0;
    font-size: 12px;
  }
}