<footer>
    <div class="inner-wrap">
        <div id="logo">shrpr</div><!-- #logo -->
        
        <nav *ngIf="menu">
            <ul>
                <li><a [routerLink]="['/login']" title="Login">Login</a></li>
                <li><a [routerLink]="['/login']" title="Sign Up">Sign Up</a></li>
                <li><a [routerLink]="['/faqs']" title="FAQ">FAQ</a></li>
                <li><a [routerLink]="['/']" title="Become a Teacher">Become a Teacher</a></li>
                <li><a [routerLink]="['/']" title="Contact">Contact</a></li>
                <li><a [routerLink]="['/about']" title="About Us">About Us</a></li>
            </ul>
        </nav>
    </div><!-- .inner-wrap -->
</footer>