<app-template>
    <section id="profile-header">
    <div class="profile-picture">
      <img *ngIf="institutions?.profile_img" src="../../assets/img/instructors/{{institution?.profile_img}}" alt="" title="">
      <img *ngIf="!institutions?.profile_img" src="../../assets/img/clients02.png" alt="" title="">
    </div>
    <div><h2>{{institutions?.name}}</h2>
      <i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:{{institutions?.email}}">{{institutions?.email}}</a><br>
      <i aria-hidden="true" class="fa fa-phone-square"></i> {{institutions?.phone}}
      </div>
    </section><!-- #profile header -->
    <div id="courses-cards">
      <div class="filter"><select name="semester_start_date" [(ngModel)]="selected" (ngModelChange)="onSelect(selected)">
        <option value="" selected>Select Group</option>
          <option *ngFor="let sem of institutions?.courses.group; let k = index"  value="{{sem.id}}" [selected]="k == 0">{{sem?.start_date | datex:'LL'}}</option>
        </select></div>
    <h2>Courses</h2>
    <article class="card-box" *ngFor="let card of courseData; let i = index">
        <div class="img-ctn">
            <!--<div class="price">
              ${{ card?.semesters[0]?.amount }}
            </div>-->
            <figure>
                <!--<img *ngIf="card?.semesters[0]?.primary_img" src="../../assets/img/courses/{{ card?.semesters[0]?.primary_img }}" alt="" title="">-->
                <img  src="../../assets/img/course-picture.jpg" alt="" title="">
            </figure>
            <h3>{{card.title}}</h3>
        </div>
        <div class="card-info">
          <div class="group_info"><span class="group_rating"><star-rating-comp [starType]="'svg'" [rating]="card.rating"></star-rating-comp></span></div>
          <p class="date">
            Instructor: {{ card.instructor }}
             <!-- <span class="date_stamp">{{ card.description }}</span>-->
          </p>
          <a [routerLink]="['/courses', card.id]"  class="page-cta">View Course</a>
        </div>
    </article>
  </div>
  </app-template>