<app-template>
    <section id="profile-header">
    <div class="profile-picture">
      <img *ngIf="institution?.profile_img" src="../../assets/img/instructors/{{institution?.profile_img}}" alt="" title="">
      <img *ngIf="!institution?.profile_img" src="../../assets/img/instructors-picture.png" alt="" title="">
    </div>
    <div><h2>{{institution?.name}}</h2>
      <i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:{{institution?.email}}">{{institution?.email}}</a>
      </div>
    </section><!-- #profile header -->
  </app-template>