<section class="page-conent-area">
   <section class="teammember-description clearfix">
           <div>
                        <a href="javascript:void(0);"><img src="../../assets/img/gregory-img.png" alt="Gregory Shafiro" title="Gregory Shafiro"></a>
                        <h3><a href="javascript:void(0);">Gregory Shafiro</a></h3><span>CTO</span>
                        <div class="profile-item-social">
                               
                                 <a href="https://twitter.com/GShafiro" target="_blank"  class="twitter">
                            <i class="fa fa-twitter" aria-hidden="true"></i>               
                    </a>
                                <a href="#" class="instagram">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>                    
                                </a>
                                <a href="https://www.linkedin.com/in/gshafiro/" class="linkedin" target="_blank" >
                                        <i class="fa fa-linkedin" aria-hidden="true"></i>                    
                                </a></div>
                    </div>
           <article><h3>Why did you decide to Join <span class="shrpr"><span>s</span><span>h</span><span>r</span><span>p</span><span>r</span></span>?</h3>
                <p>I have always loved a challenge. Having gone through the public education system myself and now having two kids that are entering it, I can see where the system is failing. Brandon, SHRPR CEO, has a great idea that will revolutionize the education system, so when presented with a challenge of making his vision a reality I jumped on board.</p>
                <h3>You have worked with multiple start-up’s and entrepreneurs prior to joining SHRPR. How do you put a founder’s vision into technology?</h3>
                <p>Each idea is unique, and every entrepreneur is different so there is no one approach that can be taken. Some entrepreneurs are just looking to make a living from their idea and that’s it, so they prefer to take less risk and usually invest less on innovating their tech; just enough to get a functional MVP. Others, are looking to change the status quo, so just as their ideas tend to revitalize an industry, they bring that mindset to their technology, so there is a demand for more innovation, creativity and risk. These types of projects are usually the most challenging, but also the most rewarding.</p>
                <h3>Technology changes at a record speed, how do you keep up with all the changes?</h3>
                <p>In short sleep less, read and research more. But that only gets you so far, as no one person can learn everything, although we can try. The big part of keeping up with technology is the team that you have around you. I am very hands on when it comes to selecting my team, one key element that I look for in a team member is a passion to learn and ability to problem solve. In a world of where every website is developed using WordPress, or codeless UI, a lot of developers are losing the passion to hand-code and create. Selecting a team that has the desire to learn and create allows me to learn from them, just as much as they learn from me.</p>
                <h3>Is there something that you would like to learn, but just have not had the time to do so?</h3>
                <p>Ohh boy! That is its own bucket list and it is really long. I am a curious person by trade, so I am always trying to learn new things. My new thing has been to learn how to fly a drone.</p></article>
   </section>
</section>
