<ul>
  <li><a [routerLink]="['/marketing', 'marketing']" (click)="toggleMenu()">Become a Teacher</a></li>
  <li class="has_child" title="About Us"><a [routerLink]="['/about']" (click)="toggleMenu()">About Us</a>
    <ul>
      <li><a [routerLink]="['/team']" title="The Team" (click)="toggleMenu()">The Team</a></li>
      <li><a [routerLink]="['/values']" title="Our Values" (click)="toggleMenu()">Our Values</a></li>
      <li><a [routerLink]="['/instructor', '2']" (click)="toggleMenu()">Instructor</a></li>
      <li><a [routerLink]="['/student', '5']" (click)="toggleMenu()">Student</a></li>
    </ul>
  </li>
  <li><a routerLink="login" title="Sign Up / Log In" (click)="toggleMenu()">Sign Up / Log In</a></li>
  <li class="has_child"><a href="javascript:void(0);" title="Content" (click)="toggleMenu()">Content</a>
    <ul>
      <li><a [routerLink]="['/videos']" title="Videos" (click)="toggleMenu()">Videos</a></li>
      <li><a href="http://shrpr-wp.us-east-2.elasticbeanstalk.com/" title="Blog" (click)="toggleMenu()">Blog</a></li>
      <li><a [routerLink]="['/podcast']" title="Podcast" (click)="toggleMenu()">Podcast</a></li>
    </ul>
  </li>  
</ul>