footer {
	text-align:right;
    padding:46px 0 46px 0;
}
footer #logo {
	color:#747473;
	font-size:30px;
	line-height:30px;
    padding:0 0 30px 0;
    float: left;
}
footer nav {
	display: inline-block;
    max-width: 360px;
    text-align: left;
    vertical-align: top;
    width: 54%;
}
footer nav ul {
	padding:0;
    list-style: none;
}
footer nav ul li {
	padding:0 0 10px 0;
    line-height:16px;
    display: inline-block;
    vertical-align: top;
    width: 48%;
}
footer nav ul li a {
    font-family:'circularstd bold';
	font-size:9px;
	line-height:9px;
	color:#d1cfcf;
	display:inline-block;
	vertical-align:top;
	text-decoration:none;
}
footer nav ul li a:hover {
	color:#747473;
	text-decoration:underline;
}



@media only screen and (min-width: 40em) {
    footer #logo {
        font-size: 50px;
        line-height: 50px;
        padding: 17px 0 0;
    }
    footer {
        text-align: center;
    }
    footer nav ul li a {
        font-size: 18px;
        line-height: 18px;
    }
    footer nav {
        width: 100%;
    }
}