<footer>
  <div class="inner_wrap"> 
    <!-- Sign Up Start -->
    <div class="signup_box">
      <span>Sign Up For The Latest News and Events</span>
      
      <form action="#">
        <input type="text" placeholder="First name" value="" />
        <input type="Text" placeholder="Email Address" value="" />
        <input type="button" value="Submit" />
      </form>
    </div>
    <!-- Sign Up End --> 

    <!-- Social Icon Start -->
    <div class="social_icon">
      <span>Get Social</span>
      <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </div>
    <!-- Social Icon End --> 
  </div>
</footer>
<!-- Footer End -->

<div class="inner_wrap">
  <p class="copyright_text">&copy; 2017 SHRPR</p>
</div>