header {
	background-color: #fff;
  display: block;
  -webkit-box-shadow: 0 0 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 1px 3px rgba(0,0,0,0.2);
  position: relative;
  z-index: 99999;
}
header #logo {
  display: inline-block;
  font-family: "coco gothic";
  font-size: 32px;
  line-height: 32px;
  margin: 21px 0 17px 11px;
  text-decoration: none;
  vertical-align: top;
}
header a#menu {
  color: #000000;
  display: inline-block;
  float: right;
  font-size: 33px;
  line-height: 33px;
  margin: 12px 0 0 20px;
  position: relative;
  vertical-align: top;
  z-index: 99;
  padding:5px 10px 5px 10px;
  border:1px solid #cccccc;
  border-radius:5px;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
header a#menu:hover {
  background:#fc6a02;
  color:#ffffff;
}
header a#menu .fa-times-circle-o {
  position:absolute;
  left:10px;
  top:5px;
  opacity:0;
}
header a#menu.active .fa-bars {
  opacity:0;
}
header a#menu.active .fa-times-circle-o {
  opacity:1;
}

@media only screen and (min-width: 60em) {

  header {
  	position:fixed;
  	width:100%;
  	left:0;
  	top:0;
  	z-index: 9;
  }
  header a#menu {
    display:none;
  }
}