<footer>
    <div class="inner-wrap">
        <div id="logo">shrpr</div><!-- #logo -->
        
        <nav>
            <ul>
                <li><a href="#" title="Login">Login</a></li>
                <li><a href="#" title="Sign Up">Sign Up</a></li>
                <li><a href="#" title="FAQ">FAQ</a></li>
                <li><a href="#" title="Become a Teacher">Become a Teacher</a></li>
                <li><a href="#" title="Contact">Contact</a></li>
                <li><a href="#" title="About Us">About Us</a></li>
            </ul>
        </nav>
    </div><!-- .inner-wrap -->
</footer>