<footer>
    <div class="inner-wrap">
        <div id="logo">shrpr</div><!-- #logo -->
        
        <nav>
            <ul>
                <li><a href="#" title="Login">Login</a></li>
                <li><a href="#" title="Sign Up">Sign Up</a></li>
                <li><a href="#" title="FAQ">FAQ</a></li>
                <li><a href="#" title="Become a Teacher">Become a Teacher</a></li>
                <li><a href="#" title="Contact">Contact</a></li>
                <li><a href="#" title="About Us">About Us</a></li>
            </ul>
        </nav>

        <section id="newsletter">
            <span>Newsletter</span>

            <form>
                <input placeholder="Your Email" type="text" />

                <button type="submit">Subscribe</button>
            </form>
        </section><!-- #newsletter -->
    </div><!-- .inner-wrap -->

    <section id="copyright">
        <div class="inner-wrap">
            <p>&copy; 2017 SHRPR</p>
        </div><!-- .inner-wrap -->
    </section><!-- #copyright -->
</footer>