<section class="page-conent-area">
  <h1>Podcast</h1>
  <p>We love listening to podcasts. We listen to podcasts while we drive. We listen to podcasts while we work out. We listen to podcasts while we are pretending to be working. If our headphones are in, or our cars are on, we listen to podcasts.</p>
  <p>So, we decided to create our own Podcasts. In our episodes, we are interviewing people like you and us: lifelong learners, curious people, outstanding teachers and others. It is our goal to lead interesting discussions and always to teach our listeners awesome new things. You can listen here, or subscribe on your Podcast Provider of choice. Either way, thank you for listening, commenting and sharing our episodes.</p>
  <ul class="podcast-link">
    <li><a [routerLink]="['/interviewwithroblabonne']">The Way - Interview with Rob Labonne III</a></li>
  </ul>
  </section>