<h1>Your Course Information</h1>
<section id="course-add-container">
  <form name="courseSubmitForm">
    <div class="formHeader"><span>{{slideNo}} / {{lastSlideNo}}</span></div>
    <div #panel class="course-form-box">
      <div class="courseFormPage">
        <div class="formRow">
          <label for="courseGroup">Group</label>
          <select name="courseGroupSelect" id="courseGroup">
            <option value="">----Select-----</option>
            <option value="1">For Fun</option>
            <option value="2">For Work</option>
            <option value="3">For Kids</option>
          </select>
        </div>
        <div class="formRow">
          <label for="courseCategory">Category</label>
          <select name="courseCategorySelect" id="courseCategory">
            <option value="">----Select-----</option>
            <option value="1">Category One</option>
            <option value="2">Category Two</option>
            <option value="3">Category Three</option>
          </select>
        </div>
        <div class="formRow">
          <label for="courseSubCategory">Category</label>
          <select name="courseSubCategorySelect" id="courseSubCategory">
            <option value="">----Select-----</option>
            <option value="1">Sub Category One</option>
            <option value="2">Sub Category Two</option>
            <option value="3">Sub Category Three</option>
          </select>
        </div>
      </div><!-- course Form Page one-->

      <div class="courseFormPage">
          <div class="formRow">
            <label for="courseTitle">Title</label>
            <input type="text" name="courseTitleText" id="courseTitle" placeholder="Course Title">
          </div>
          <div class="formRow">
            <label for="courseDescription">Description</label>
            <textarea name="courseDescriptionText" id="courseDescription"></textarea>
          </div>
      </div><!-- course Form Page Two-->

      <div class="courseFormPage">
          <div class="formRow">
            <label for="courseStartDates">Start Dates</label>
            <input type="date" name="courseStartDateText" id="courseStartDates">
          </div>
          <div class="formRow">
              <label for="courseStartTime">Start Time</label>
              <input type="time" name="courseStartTimeText" id="courseTime">
            </div>
          <div class="formRow">
            <label for="courseSession">No. of Sessions</label>
            <input type="number" name="courseSessionNumber" id="courseSession" min="1">
          </div>
          <div class="formRow">
              <label for="courseDuration">Duration (hrs)</label>
              <input type="number" name="courseDurationNumber" id="courseDuration" min="1">
          </div>
          <div class="formRow">
              <label for="courseLocation">Location</label>
              <input type="text" name="courseLocationText" id="courseLocation">
          </div>
        </div><!-- course Form Page Three-->

        <div class="courseFormPage">
            <div class="formRow">
              <label for="courseStartDates">Start Dates</label>
              <input type="date" name="courseStartDateText" id="courseStartDates">
            </div>
            <div class="formRow">
                <label for="courseStartTime">Start Time</label>
                <input type="time" name="courseStartTimeText" id="courseTime">
              </div>
            <div class="formRow">
              <label for="courseSession">No. of Sessions</label>
              <input type="number" name="courseSessionNumber" id="courseSession" min="1">
            </div>
            <div class="formRow">
                <label for="courseDuration">Duration (hrs)</label>
                <input type="number" name="courseDurationNumber" id="courseDuration" min="1">
            </div>
            <div class="formRow">
                <label for="courseLocation">Location</label>
                <input type="text" name="courseLocationText" id="courseLocation">
            </div>
          </div><!-- course Form Page four-->

    </div>
    <div class="formFooter">
        <div class="formContinueBtn">
            <a href="javascript:void(0);" (click)="prevSlide()" class="courseFormBtn">Prev</a> &nbsp; <a href="javascript:void(0);" (click)="nextSlide()" class="courseFormBtn">Next</a>
          </div>
    </div>
  </form><!-- form courseSubmitForm -->
</section>