<section class="group-filter-row clearfix">
    <div class="sort-option">Sort by 
        <a class="blue" href="javascript:void(0);" (click)="sortbyGroup(1)" [class.active]="selectedIndex == 1">Fun</a>
        <a class="green" href="javascript:void(0);" (click)="sortbyGroup(2)" [class.active]="selectedIndex == 2">Work</a>
        <a class="orange" href="javascript:void(0);" (click)="sortbyGroup(3)" [class.active]="selectedIndex == 3">Kids</a>
     </div>
     <app-search></app-search>
     <div class="like-count"><a href="javascript:void(0)" [routerLink]="['/profile/curiosity']"><i class="fa fa-heart" [@pulse]="pulseState"></i> <span>{{ counter }}</span></a></div>
 </section>