<button 
	id="filter" 
	[ngClass]="{ 'mobile-hide': showFilter }"
	(click)="toggleFilter()" 
	[@scrollAnimation]="state"
>
  Filter 
  <i class="fa fa-sliders" aria-hidden="true"></i>
</button><!-- #filter -->

<div id="ctn">
	<section id="course-list" [ngClass]="{ 'mobile-hide': showFilter }">
		<ng-content></ng-content>
	</section><!-- #course-list -->

	<section id="filter" [ngClass]="{ 'mobile-hide': !showFilter }">
		<form [formGroup]="filterForm">
			<h1>Filter:</h1>

			<p>Modify the courses you would like to see.</p>

			<fieldset group="categories" #fieldset>
				<button class="toggle">
					<i class="fa fa-angle-right"></i> Categories
				</button><!-- .toggle -->

				<section class="options">
					<div class="btn-ctn">
						<button class="all">Select All</button><!-- .all -->

						<button class="none">Select None</button><!-- .none -->
					</div><!-- .btn-ctn -->

					<div class="option">
						<input 
							type="checkbox" 
							name="fun" 
							id="fun" 
							formControlName="fun"
						/>

						<label for="fun">For Fun</label> 
					</div><!-- .option -->

					<div class="option">
						<input 
							type="checkbox" 
							name="work" 
							id="work" 
							formControlName="work"
						/>

						<label for="work">For Work</label> 
					</div><!-- .option -->

					<div class="option">
						<input 
							type="checkbox" 
							name="kids" 
							id="kids" 
							formControlName="kids"
						/>

						<label for="kids">For Kids</label> 
					</div><!-- .option -->
				</section><!-- .options -->
			</fieldset>

			<fieldset group="instructors" #fieldset>
				<button class="toggle">
					<i class="fa fa-angle-right"></i> Instructors
				</button><!-- .toggle -->

				<section class="options">
					<div class="btn-ctn">
						<button class="all">Select All</button><!-- .all -->

						<button class="none">Select None</button><!-- .none -->
					</div><!-- .btn-ctn -->

					<div class="option" *ngFor="let instructor of instructors; let i = index">
						<input 
							type="checkbox" 
							name="instructor_{{ instructor.id }}" 
							id="instructor_{{ instructor.id }}" 
							formControlName="instructor_{{ instructor.id }}"
						/>
						
						<label for="instructor_{{ instructor.id }}">{{ instructor.name }}</label> 
					</div><!-- .option -->
				</section><!-- .options -->
			</fieldset>
		</form>

		<button 
			id="total"
			[ngClass]="{ 'desktop-hide': !showFilter }"
			(click)="toggleFilter()" 
		>
			{{ courseCount }}
		</button><!-- #total -->
	</section><!-- #filter -->
</div><!-- #ctn -->