/*** Filter Button ***/
button#filter{
    background-color: #d53b3c;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    cursor: pointer;
    font-family: 'circularstd book';
    font-size: 14px;
    line-height: 14px;
    margin: 0 0 0 -50px;
    padding: 10px 4px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    width: 100px;
    z-index: 9999;
}
button#filter:hover{
    background-color: #c95f5f;
}
button#filter:focus{
    outline:0;
}

/*** Total Button ***/
button#total{
    background-color: #d53b3c;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    cursor: pointer;
    font-family: 'circularstd book';
    font-size: 18px;
    line-height: 18px;
    margin: 5px 0 0 0;
    padding: 13px 10px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    width: 100%;
}
button#total:hover{
    background-color: #c95f5f;
}
button#total:focus{
    outline:0;
}

/*** Filter ***/
section#filter{
	padding: 0 0 20px 0;
}
section#filter form{
	background-color: #fafafa;
	border: 1px solid #eee;
	padding: 5px 0 0 0;
}
section#filter form h1{
	font-size: 24px;
	margin: 0;
	padding: 0 10px;
}
section#filter form p{
	color: #666;
	font-size: 14px;
	font-style: italic;
	padding: 0 10px 10px 10px;
}
section#filter form fieldset{
	background-color: #fff;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	border-left: none;
	border-right: none;
	margin: 0;
	padding: 10px 20px;
}
section#filter form fieldset .toggle{
	background: none;
	border: none;
	color: #666;
	cursor: pointer;
	display: block;
	font-size: 18px;
	line-height: 24px;
	margin: 0;
	padding: 0 0 5px 0;
	text-align: left;
	text-transform: uppercase;
	width: 100%;
}
section#filter form fieldset .toggle:focus, section#filter form fieldset .toggle:focus{
    outline: none;
}
section#filter form fieldset .toggle i{
	margin: 0 10px 0 0;
	width: 12px;
}
section#filter form fieldset .options.closed{
	display: none;
}
section#filter .btn-ctn{
	padding: 20px 0 25px 0;
	text-align: center;
}
section#filter .btn-ctn button{
	background: none;
    border: 2px solid #d53b3c;
    border-radius: 10px;
    color: #d53b3c;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    margin: 0 5px;
    padding: 5px 3px;
    text-align: center;
    text-transform: uppercase;
    width: 40%;
}
section#filter form fieldset .option{
	display: block;
	font-size: 16px;
	line-height: 24px;
	padding: 2.5px 0;
	position: relative;
	vertical-align: middle;
}
section#filter form fieldset .option input{
	vertical-align: middle;
}

/*** Hide ***/
.mobile-hide{
	display: none;
}
.desktop-hide{
	display: block;
}

@media only screen and (min-width: 960px) {

	/*** Container ***/
	#ctn{
		display: table;
		width: 100%;
	}

	/*** Filter Button ***/
	button#filter{
    	display: none;
    }

	/*** Filter ***/
	section#filter{
		display: table-cell;
		vertical-align: top;
		width: 25%;
	}

	/*** Course List ***/
	section#course-list{
		display: table-cell;
		padding: 0 20px 0 0;
		vertical-align: top;
		width: 75%;
	}

	/*** Hide ***/
	.mobile-hide{
		display: block;
	}
	.desktop-hide{
		display: none;
	}
}