<button 
	id="filter" 
	[ngClass]="{ 'mobile-hide': showFilter }"
	(click)="toggleFilter()" 
	[@scrollAnimation]="state"
>
  Filter 
  <i class="fa fa-sliders" aria-hidden="true"></i>
</button><!-- #filter -->

<div id="ctn">
	<section id="course-list" [ngClass]="{ 'mobile-hide': showFilter }">
		<ng-content></ng-content>
	</section><!-- #course-list -->

	<section id="filter" [ngClass]="{ 'mobile-hide': !showFilter }">
		<form [formGroup]="filterForm">
			<h1>Filter:</h1>

			<p>Modify the courses you would like to see.</p>

			<fieldset>
				<h2>Categories:</h2>

				<div>
					<input 
						type="checkbox" 
						name="fun" 
						id="fun" 
						formControlName="fun"
					/>

					<label for="fun">For Fun</label> 
				</div>

				<div>
					<input 
						type="checkbox" 
						name="work" 
						id="work" 
						formControlName="work"
					/>

					<label for="work">For Work</label> 
				</div>

				<div>
					<input 
						type="checkbox" 
						name="kids" 
						id="kids" 
						formControlName="kids"
					/>

					<label for="kids">For Kids</label> 
				</div>
			</fieldset>

			<fieldset>
				<h2>Instructors:</h2>

				<div *ngFor="let instructor of instructors; let i = index">
					<input 
						type="checkbox" 
						name="instructor_{{ i }}" 
						id="instructor_{{ i }}" 
						formControlName="instructor_{{ i }}"
					/>
					
					<label for="instructor_{{ i }}">{{ instructor.name }}</label> 
				</div>
			</fieldset>
		</form>
	</section><!-- #filter -->
</div><!-- #ctn -->