<section id="profile-header">
    <div class="profile-picture">
      <img src="../../assets/img/{{course?.semesters[0].primary_img}}" alt="" title="">
      <div class="social-icon"><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></div>
    </div>
    <div><h2>{{course?.title}}</h2>
      <a [routerLink]="['/instructor', course.instructor.id]">{{ course?.instructor?.name }}</a>
    <div class="rating"><star-rating-comp [starType]="'svg'" [rating]="course?.rating" [showHalfStars]="true"></star-rating-comp> |  <a href="#">33 reviews</a></div></div>
    </section><!-- #profile header -->
    <tabs *ngIf="width < 768" >
    <tab tabTitle="ABOUT">
        <div class="contact_box">{{course?.description}}</div>
    </tab>
    <tab tabTitle="CONTACT">
            <div class="contact_box">
                    <address>{{ course?.semesters[0]?.addresses[0].streetAddress }}<br>{{ course?.semesters[0]?.addresses[0]?.city }}, {{ course?.semesters[0]?.addresses[0]?.state }}, {{ course?.semesters[0]?.addresses[0]?.zip }}<br>{{ course?.semesters[0]?.addresses[0]?.country }}</address>
                   </div>
    </tab>
    </tabs><!-- #Tab -->
    <!-- desktop view -->
    <section *ngIf="width > 767" id="desktopcourses">
      <h2>ABOUT</h2>
      <p>{{course?.description}}</p>
      <h2>CONTACT</h2>
      <div class="contact_box">
          <address>{{ course?.semesters[0]?.addresses[0].streetAddress }}<br>{{ course?.semesters[0]?.addresses[0]?.city }}, {{ course?.semesters[0]?.addresses[0]?.state }}, {{ course?.semesters[0]?.addresses[0]?.zip }}<br>{{ course?.semesters[0]?.addresses[0]?.country }}</address></div>
    </section>
    <!-- desktop view End -->
    <!-- #reviews-->
    <section id="reviews">
      <div class="reviews-rating"><star-rating-comp [starType]="'svg'" [rating]="course?.rating" [showHalfStars]="true"></star-rating-comp> 5 | 33 reviews</div>
    <dl>
      <dt><img src="../../assets/img/reviews-profile.jpg" alt="" title="">Megana H.</dt>
      <dd><h2>Balance Indoboard Yoga</h2>
      <p>Good Class. Fun for a yoga beginner to try something new. you'll definitely feel the burn.</p></dd>
    </dl>
    <p class="seeall-link"><a href="">see all related reviews</a></p>
    
    </section><!-- #reviews -->
    
    