<article *ngIf="course">
    <!-- mobile view start-->
    <section *ngIf="width < 768" id="profile-header">
      <h2>{{course.title}}</h2>
      <article class="course_mobile_card">
          <div class="category">{{ course.categories[0].name }}
              <figure class="rating"><star-rating-comp [starType]="'svg'" [rating]="reviewRatingGross" [showHalfStars]="true"></star-rating-comp></figure><!-- .rating -->
          </div><!-- .category -->
          <div class="img-ctn">
              <div class="price">
                  ${{ course.semesters[0].amount }}
              </div><!-- .price -->
              <figure>
                  <carousel [interval]="NextPhotoInterval" [noWrap]="noLoopSlides">
                      <slide *ngFor="let slidez of slides; let index=index"
                             [active]="slidez.active">
                             <img [src]="slidez.image" style="margin:auto;" class="slider-img">
                      </slide>
                  </carousel>
              </figure>
              <div class="overlay">
                  <p><i class="fa fa-user" aria-hidden="true"></i> <a [routerLink]="['/instructor', course.instructor.id]">{{ course.instructor.name }}</a></p>
                  <p><i class="fa fa-map-marker" aria-hidden="true"></i> <span class="course_address_mobile" *ngFor="let address of course.semesters[0].addresses">{{ address.city }}, {{ address.state }}</span></p>
              </div><!-- .overlay -->
          </div><!-- .img-ctn -->
          <div class="course_info">
            <span class="action_btn">
              <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i> Share</a><br>
              <a href="#"><i class="fa fa-list" aria-hidden="true"></i> Whishlist</a>
            </span>
            <p>Semesters: {{course.semesters[0].duration}}</p>
            <p>Starts on: {{course.semesters[0].start_date | date: 'medium'}}</p>
          </div>
          <!-- .course_info -->
          <div class="course_enroll_block">
            <div class="enroll_row">
              <select name="select_course_meeting">
                <option *ngFor="let meeting of course.semesters[0].meetings" value="{{meeting.id}}">{{meeting.start | date: 'medium'}}</option>
              </select>
              <a class="page-btn" href="javascript:void(0);">Enroll Today</a>
            </div>
            <ul class="meetings_list">
                <li *ngFor="let meeting of course.semesters[0].meetings">{{meeting.start | date: 'medium'}}</li>
            </ul>
            <!-- .enroll_row-->
          </div>
          <!-- .course_enroll_block -->
          <div class="course_info">
            <h2>Semester Information</h2>
            <p>{{semesterDetails.info}}</p>
          </div>
          <!-- .course_info-->
      </article>
    </section>
    <!-- mobile view ends-->
    <!--desktop view start-->
    <section *ngIf="width > 767" id="profile-header">
          
      <div class="course_header">
          <div class="course_slider">
              <carousel [interval]="NextPhotoInterval" [noWrap]="noLoopSlides">
                  <slide *ngFor="let slidez of slides; let index=index"
                         [active]="slidez.active">
                         <img [src]="slidez.image" style="margin:auto;" class="slider-img">
                  </slide>
              </carousel>
         </div>  
          <!-- .course_slider -->  
          <div class="course_info_desktop">
              <h1>{{course.title}}</h1>
              <div class="course_rating_info">
                {{ course.categories[0].name }} | <figure class="rating"><star-rating-comp [starType]="'svg'" [rating]="reviewRatingGross" [showHalfStars]="true"></star-rating-comp></figure> | <a href="javascript:void(0);">{{reviewCount}} Reviews</a><!-- .rating -->
              </div><!-- .course_rating_info -->
              <p>
                <i class="fa fa-user" aria-hidden="true"></i> <a [routerLink]="['/instructor', course.instructor.id]">{{ course.instructor.name }}</a>
                <span class="course_price_desktop">${{ course.semesters[0].amount }}</span>
              </p>
              <p>
                <i class="fa fa-map-marker" aria-hidden="true"></i> <span class="course_address_mobile" *ngFor="let address of course.semesters[0].addresses">{{ address.city }}, {{ address.state }}</span>
              </p>
              <br>
              <p>Semesters: {{course.semesters[0].duration}}</p>
              <p>Starts on: {{course.semesters[0].start_date | date: 'medium'}}
                <span class="action_btn">
                  <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i> Share</a>
                  <a href="#"><i class="fa fa-list" aria-hidden="true"></i> Whishlist</a>
                </span>
              </p>
          </div>
          <!-- .course_info_desktop-->
        </div>
      <!-- .course_desktop_card -->
      <section class="course_semester_desktop">
          <div class="course_enroll_block">
              <div class="enroll_row">
                <select name="select_course_meeting">
                  <option *ngFor="let meeting of course.semesters[0].meetings" value="{{meeting.id}}">{{meeting.start | date: 'medium'}}</option>
                </select>
                <a class="page-btn" href="javascript:void(0);">Enroll Today</a>
              </div>
              <ul class="meetings_list">
                  <li *ngFor="let meeting of course.semesters[0].meetings">{{meeting.start | date: 'medium'}}</li>
              </ul>
              <!-- .enroll_row-->
            </div>
            <!-- .course_enroll_block -->
        <h2>Semester Information</h2>
        <p>{{semesterDetails.info}}</p>
      </section>
    </section>
    <!--desktop view ends-->
    <!-- #profile header -->
    <tabs *ngIf="width < 768">
    <tab tabTitle="ABOUT">
        <div class="contact_box">{{course.description}}</div>
    </tab>
    <tab tabTitle="CONTACT">
        <div class="contact_box">
          <address *ngFor="let address of course.semesters[0].addresses" >{{ address.streetAddress }}<br>{{ address.city }}, {{ address.state }}, {{ address.zip }}<br>{{ address.country }}</address>
        </div>
    </tab>
    </tabs><!-- #Tab -->
    <!-- desktop view -->
    <section *ngIf="width > 767" id="desktopcourses">
      <h2>ABOUT</h2>
      <p>{{course.description}}</p>
      <h2>CONTACT</h2>
      <address *ngFor="let address of course.semesters[0].addresses">{{ address.streetAddress }}<br>{{ address.city }}, {{ address.state }}, {{ address.zip }}<br>{{ address.country }}</address>
      </section>
    <!-- desktop view End -->
    <!--google map start-->
    <section id="gmap">
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </section>
    <!--google map ends-->
    <!-- #reviews-->
    <section id="reviews">
      <div class="reviews-rating"><star-rating-comp [starType]="'svg'" [rating]="reviewRatingGross" [showHalfStars]="true"></star-rating-comp> {{reviewRatingGross | number : '1.1-1'}} | {{reviewCount}} reviews</div>
    <dl class="review_items" *ngFor="let review of ratingData" >
      <dt><img src="../../assets/img/reviews-profile.jpg" alt="" title="">User id: {{review.user_id}}</dt>
      <dd><h2>Balance Indoboard Yoga <span class="review_items_rating">review id: {{review.id}} | <star-rating-comp class="review_star" [starType]="'svg'" [rating]="review.rating" [showHalfStars]="true"></star-rating-comp></span></h2>
      <p>{{review.comment}}</p></dd>
    </dl>
    <p class="seeall-link"><!--<button class="show-more" (click)="getData()" [disabled]="counter>=ratingData.length">see all related reviews</button><a href="javascript:void(0);">see all related reviews</a>--></p>
    
    </section><!-- #reviews -->
</article>    