header {
	background-color: #ededed;
  display: block;
  /*-webkit-box-shadow: 0 0 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 5px 3px rgba(0,0,0,0.2);*/
  position: relative;
  z-index: 999;
  text-align: center;
}
header #logo {
  display: inline-block;
  font-family: "coco gothic";
  font-size: 32px;
  line-height: 32px;
  margin: 14px 0 13px 0;
  text-decoration: none;
  vertical-align: top;
  float: left;
}
header a#menu {
  color: #474746;
  float: right;
  font-size: 30px;
  line-height: 33px;
  position: relative;
  vertical-align: top;
  z-index: 99;
  margin: 7px 0 0 0;
  padding: 5px 7px 3px;
  /*border:1px solid #ececec;*/
  border-radius:3px;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  cursor: pointer;
}
header a#menu:hover, header a#menu.active {
  background:#196e32;
  color:#ffffff;
}
/*header a#menu.active {
  position: fixed;
  right: 10px;
  top: 0;
}*/
header a#menu .fa-times-circle-o {
  position:absolute;
  left:7px;
  top:5px;
  opacity:0;
}
header a#menu.active .fa-bars {
  opacity:0;
}
header a#menu.active .fa-times-circle-o {
  opacity:1;
}
.cart-icon {
  color: #7a7b7f;
  cursor: pointer;
  float: right;
  font-size: 24px;
  line-height: 24px;
  margin: 18px 0 0 16px;
  position: relative;
}
.counter-logo {
  float: right;
  margin: 18px 0 0;
  max-width: 20px;
  position: relative;
}
.cart-icon > span, .counter-logo > span {
  background: #ed9639;
  border-radius: 50%;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 8px;
  height: 13px;
  line-height: 8px;
  padding: 2px 0 0;
  position: absolute;
  right: -8px;
  text-align: center;
  top: -5px;
  width: 12px;
  z-index: 1;
}
header #logo span.beta-logo {
  color: red;
  display: inline-block;
  font-family: arial;
  font-size: 10px;
  line-height: 1em;
  padding: 0 0 6px;
  text-transform: uppercase;
  vertical-align: bottom;
}
.banner {
  background: url(../../../assets/img/home-banner-bg.jpg) no-repeat center bottom #000000;
  background-size: cover;
}
.banner-text {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  margin: 0 auto;
  max-width: 345px;
  padding: 0 10px 21px;
  text-align: center;
  text-shadow: 9px 3px 7px #000000;
}
:host .inner-wrap /deep/ app-search {
  display: inline;
}
:host .inner-wrap /deep/ app-search section#search {
  padding: 0;
  display: inline-block;
  vertical-align: top;
}
:host .inner-wrap /deep/ app-search section#search form > span.search-input {
  display: none !important;
}
:host .inner-wrap /deep/ app-search section#search form > span.location-input {
  display: block !important;
  margin: 10px 0 10px 0;
}
.topnav {
  display: none;
}
@media only screen and (min-width: 768px) {
  header {
    text-align: right;
  }
  :host .inner-wrap /deep/ app-search {
    display: none;
  }
  .banner-text {
    font-size: 30px;
    line-height: 33px;
    max-width: 640px;
  }
  /*topnav*/
  .topnav {
    display: inline-block;
    vertical-align: top;
    padding: 10px 20px 0 0;
  }
  .topnav li {
    display: inline-block;
    vertical-align: top;
  }
  .topnav li a, .topnav li:first-child a:hover {
    background-color: #ffffff;
    border: 2px solid #cccccc;
    color: #707070;
    display: block;
    font-size: 15px;
    line-height: 16px;
    margin: 0 2px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}
.topnav li a:hover, .topnav li:first-child a {
   background-color: #488c5d;
   border: 2px solid #488c5d;
   color: #ffffff;
   text-decoration: none;
}
.topnav li.logout a, .topnav li.logout a:hover {
  background:none;
  border: none;
  color: #707070;
}
}
@media only screen and (min-width: 960px) {
:host{
  height: 236px;
  display: block;
  background: #ffffff;
}
  header {
  	-moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
  }
  header.header_small {
    position:fixed;
  	width:100%;
  	left:0;
  	top:0;
    z-index: 20;
  }
  header #logo {
    font-size: 45px;
    line-height: 45px;
    margin:15px 0 15px 0;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    position: relative;
    z-index: 99;
  }
  header a#menu {
    margin: 12px 0 0;
  }
  header.header_small  #logo {
    margin:6px 0 6px 0;
  }
  /*topnav*/
  .topnav {
    display: inline-block;
    vertical-align: top;
    padding: 15px 20px 0 0;
    position: relative;
    z-index: 99;
  }
  .cart-icon {
    font-size: 46px;
    line-height: 46px;
    margin: 15px 17px 0 35px;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
  }
  header.header_small  .cart-icon {
    font-size: 34px;
    margin: 8px 17px 0 35px;
  }
  .counter-logo {
    margin: 19px 0 0 35px;
    max-width: 38px;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
  }
  header.header_small  .counter-logo {
    max-width: 29px;
    margin: 10px 0 0 35px;
  }
  .cart-icon > span, .counter-logo > span {
    font-size: 13px;
    height: 22px;
    line-height: 13px;
    padding: 4px 0 0;
    right: -15px;
    top: -6px;
    width: 22px;
  }
  header #logo span.beta-logo {
    padding: 0 0 8px 0;
    font-size: 12px;
  }
  
}