<header [ngClass]="{'header':true, 'header_big':!isheaderShrunk, 'header_small':isheaderShrunk}">
	<div class="inner-wrap clearfix">
		<a id="logo" [routerLink]="['/']" class="shrpr">
			<span>s</span><span>h</span><span>r</span><span>p</span><span>r</span><!--<span class="beta-logo">beta</span>-->
		</a><!-- #logo.shrpr -->
		<app-search></app-search>
		<ul class="topnav">
				<li>
					<a [routerLink]="['/marketing/digital']">Become a Teacher</a>
				  </li>
				  <li *ngIf="!loggedIn">
						<a [routerLink]="['/login']" title="Sign In">Sign In</a>
					  </li>
				  <li *ngIf="loggedIn">
						<a [routerLink]="['/profile']">Hi, {{ name }}</a>
					</li>
				</ul>
		<a 
			id="menu" 
			[class.active]="isBtnActive" 
			(click)="toggleMenu()"
		>
			<i class="fa fa-bars" aria-hidden="true"></i>
		</a><!-- #menu -->
		
		<!--<a class="cart-icon" *ngIf="cartTotal" [routerLink]="['payment', 'cart']">
			<i class="fa fa-shopping-cart" aria-hidden="true"></i>
			<span>{{ cartTotal }}</span>
		</a> .cart-icon -->

		<!--<a class="counter-logo" [routerLink]="['/profile/curiosity']">
			<img src="../assets/img/shrpr-logo.png" alt="shrpr" title="shrpr">
			<span>{{ counter }}</span>
		</a>.counter-logo -->

		<app-menu 
			[class.active]="isBtnActive"
		>
		</app-menu><!-- #menu -->
	</div><!-- .inner-wrap -->
	<div class="banner" *ngIf="search">
		<app-search></app-search>
		<div class="banner-text">shrpr connects local experts, avid learners, and convenient locations</div>
	</div>
	<app-demo *ngIf="demo"></app-demo>
</header>