

<div class="signup-container">
<div class="login-box signup-box" [class.active]="!signup">
    <form id="signup" [formGroup]="signupForm" (ngSubmit)="onSignup()">
        <input 
            type="text" 
            id="name" 
            placeholder="Name"
            formControlName="name"
        />
        <control-messages [control]="signupForm.controls.name"></control-messages>
        <input 
            type="text" 
            id="email" 
            placeholder="Email" 
            formControlName="email"
        />
        <control-messages [control]="signupForm.controls.email"></control-messages>
        <input 
        type="password" 
        id="password" 
        placeholder="Password"
        formControlName="password"
    />  
        <control-messages [control]="signupForm.controls.password"></control-messages>
        <input 
            type="checkbox" 
            id="currentLocation" 
            formControlName="currentLocation"
            value="Current Address as Primary"
        />  <label class="checkbox-label" for="currentLocation">Use my current location as primary location.</label><br>
        <control-messages [control]="signupForm.controls.currentLocation"></control-messages>
        <input 
        type="checkbox" 
        id="termsConditionCheck" 
        formControlName="termsConditionCheck"
        value="Accept Terms Conditions"
    />  <label class="checkbox-label" for="termsConditionCheck">Accept Terms and Conditions.</label>
    <control-messages [control]="signupForm.controls.termsConditionCheck"></control-messages>
        <button>
            Sign Up <i class="fa fa-user-plus" aria-hidden="true"></i>
        </button>
    </form>

    <div class="horizontal-box"></div>

    <div class="social-login">
        <facebook-login></facebook-login>       
        <google-signin></google-signin>                    
        <linkedin-signin></linkedin-signin>  
    </div>
</div>
<!--signup type box start-->

<div class="signup_type" [class.active]="signup">
    <form id="profile" [formGroup]="ProfileForm" (ngSubmit)="onProfile()">
        <h3>Select Your Profile: </h3>

        <div class="signup-radio">
            <input type="radio" formControlName="role" id="student" value="student" />

            <label class="radio" for="student">
                <img src="../assets/img/students-picture.png" alt="Student" title="Student">
                Student
            </label>
        </div>

        <div class="signup-type-btn">
            <button>
                Continue <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
        </div>  
    </form>  
</div>
<!--signup type box ends-->
</div>