/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,600,600i,700,700i,900');
/*================================================================================*/
body, html {
	font-family: Arial;
	font-size: 100%;                                          				/* default font  size - 100% = 16px*/
	background:#282b2e;
}

form, body {
	margin: 0;
	padding: 0;
}
img {
	border: 0 none;
	max-width: 100%;                                          				/*to optimize full width of its parent element*/
}
main {
	display:block;
}
address {
	font-style: normal;                                          			/* To Neutralize Default Italic Style To Normal Style */
}
ul, dl, h1, h2, h3, p, ol {
	margin: 0;
}
.swipedemoBasicUsage .demo-swipe {
  padding: 20px 10px; }

.swipedemoBasicUsage .no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* =============================================================================
   Default Style
* ============================================================================= */
.clearfix:before, .clearfix:after {
	content:"";
	display:table;
}
.clearfix:after {
	clear:both;
}
.inner_wrap {
	margin:0 auto;
	max-width:60em; 																/* BASE FONT = 16px  >>> 960px / 16px = 60em */
	padding:0 10px;
}
/* =============================================================================
   SMALL SCREEN STYLES [MOBILE] START
*  ============================================================================= */
/* =============Header Area Start============================ */
header {
	background-color:#ffffff;
	padding: 10px 0 10px 0;
    text-align: right;
}

.header_logo {
    float: left;
    max-width: 70px;
    width: 20%;
}
.header_logo {
	display: block;
}
.search_trigger, .menu_trigger {
    border: 2px solid #f3f3f3;
    border-radius: 6px;
    display: inline-block;
    font-size: 21px;
    padding: 5px 8px;
    color: #000000;
    vertical-align: top;
}
.search_trigger:hover, .menu_trigger:hover {
	color: #4a4848;
}
.menu_trigger {
    margin: 0 0 0 5px;
}
.search_trigger > img, .menu_trigger > img {
    display: block;
}
/* =============Main Area Start============================ */
main {
	background-color:#ffffff;
}
main .inner_wrap {
	padding:0;
}
/* =============Footer Area Start============================ */
footer {
	background-color:#35383c;
	 padding: 20px 0 35px 0;
}
.signup_box {
	padding:0 0 35px 0;
}
.signup_box input[type=text] {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	float:left;
	width:49%;
	height:35px;
	color:#ffffff;
	border:none;
	background:#52565c;
	padding:5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
.signup_box input:first-child {
	margin-right:2%;
}
.signup_box input[type=button] {
	border:none;
	background:#ffffff;
	font-size:14px;
	border-radius:5px;
	color:#000000;
	font-weight:bold;
	padding:5px 0 5px;
	width:100%;
	box-sizing:border-box;
	margin:10px 0 0 0;
	cursor: pointer;
}
.signup_box input[type=button]:hover {
	background:#fc6a02;
	color: #ffffff;

}
.signup_box > span, .social_icon > span {
    color: #ffffff;
    display: block;
    font-size: 13px;
    padding: 0 0 5px;
    text-transform: uppercase;
}
.social_icon a {
	color: #ffffff;
    display: inline-block;
    font-size: 25px;
    margin: 0 5px 0 0;
    vertical-align: middle;
}
.social_icon a:hover {
	color: #d3c1d3;

}
.copyright_text {
	font-size:12px;
	line-height:1em;
	color:#ffffff;
	padding:15px 0 15px;
}
/* =============curious section Start============================ */

/* =============================================================================
   MEDIUM SCREEN STYLES [TABLET LANDSCAP VIEW] START
   ============================================================================= */
/* 640px/16px = 40em */
@media only screen and (min-width: 40em) {

/* =============Header Area Start============================ */

}
/* =============================================================================
   LARGE SCREEN STYLES [DESKTOP VIEW] START
  ============================================================================= */
/* 800px/16px = 50em */
@media only screen and (min-width: 50em) {
/* =============Header Area Start============================ */

}
/* =============================================================================
   LARGE SCREEN STYLES [DESKTOP VIEW] START
  ============================================================================= */
/* 980px/16px = 61.25em */
@media only screen and (min-width: 61.25em) {
/* =============Header Area Start============================ */

}
