/* You can add global styles to this file, and also import other style files */
@import url('assets/css/star-rating.min.css');
/*================================================================================*/
*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body, html {
	font-family:'circularstd book';
	font-size: 100%;                                          				/* default font  size - 100% = 16px*/
	background:#1b1a19;
}

form, body {
	margin: 0;
	padding: 0;
}
img {
	border: 0 none;
	max-width: 100%;                                          				/*to optimize full width of its parent element*/
}
main {
	display:block;
}
address {
	font-style: normal;                                          			/* To Neutralize Default Italic Style To Normal Style */
}
ul, dl, h1, h2, h3, p, ol {
	margin: 0;
}
ul {
    list-style: none;
}
.swipedemoBasicUsage .demo-swipe {
  padding: 20px 10px; }

.swipedemoBasicUsage .no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  p {
	  padding: 0 0 20px 0;
  }
/* =============================================================================
   Default Style
* ============================================================================= */
.clearfix:before, .clearfix:after {
	content:"";
	display:table;
}
.clearfix:after {
	clear:both;
}
.inner-wrap {
	margin:0 auto;
	max-width:1500px;
	padding:0 10px;
}
main .inner-wrap {
	padding: 0;
}
/* =============================================================================
   SMALL SCREEN STYLES [MOBILE] START
*  ============================================================================= */
/* =============Header Area Start============================ */
.shrpr > span {
	font-family: "coco gothic";
	text-transform:lowercase;
	font-weight:normal;
}
.shrpr > span:nth-of-type(1) {
   color:#852176;
}
.shrpr > span:nth-of-type(2) {
   color:#3fa8d1;
}
.shrpr > span:nth-of-type(3) {
   color:#448a58;
}
.shrpr > span:nth-of-type(4) {
   color:#ec9332;
}
.shrpr > span:nth-of-type(5) {
   color:#d03233;
}
/* =============Main Area Start============================ */
main {
	background: #ffffff;
	color: #000000;
    font-size: 18px;
    line-height: 24px;
}
/* =============Page content Area Start============================ */
.page-conent-area {
    padding:40px 0 40px 0;
    min-height: 350px;
}
/* =============Search============================ */
section#search {
    padding: 30px 20px 20px 20px;
    text-align: center;
}
.login-link{
    font-size: 13px;
    line-height: 1em;
    color: #2499cf;
    text-align: center
}
.login-link a{
    color: #2499cf;
}
.login-link a:hover{
    text-decoration: none;
}
header section#search {
    display: none;
}
section#search form > span {
    display: block;
    padding: 0 0 16px;
    position: relative;
}
section#search form > span:before {
    content: "|";
    left: 35px;
    position: absolute;
    top: 9px;
}
section#search form > span .fa, section#search form > span > img {
    font-size: 24px;
    left: 12px;
    position: absolute;
    top: 8px; 
}
section#search form > span > img {
    left: 8px;
    max-width: 23px;
    top: 11px;
}
section#search form .completer-selected-row{
    background-color: #484848;
    height: 100%;
    width: 100%;
}
section#search form .completer-dropdown{
    position: relative;
    text-align: left;
}
section#search form .completer-dropdown img{
    position: relative;
    top: 1px;
    margin: 0 5px 0 0;
    padding: 0 7px 0 0;
}
section#search form input, section#search form .completer-input {
    border: 1px solid #fff;
    -webkit-box-shadow: 0 2px 3px 3px rgba(0,0,0,0.2);
    box-shadow: 0 2px 3px 3px rgba(0,0,0,0.2);
    color: #1b1a18;
    height: 44px;
    padding: 10px 5px 10px 44px;
    width: 100%;
    font-family: "circularstd book";
    font-size: 16px;
    border-radius: 2px;
    -webkit-appearance: none;
}
section#search form input::-webkit-input-placeholder { /* Chrome */
    color: #6f6f6f;
}
section#search form input:-ms-input-placeholder { /* IE 10+ */
    color: #6f6f6f;
}
section#search form input::-moz-placeholder { /* Firefox 19+ */
    color: #6f6f6f;
    opacity: 1;
}
section#search form input:-moz-placeholder{ /* Firefox 4 - 18 */
    color: #6f6f6f;
    opacity: 1;
}
section#search form button {
    background-color: #196e32;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 7px 3px rgba(0,0,0,0.2);
    box-shadow: 0 0 7px 3px rgba(0,0,0,0.2);
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-family: 'circularstd book';
    font-size: 18px;
    line-height: 18px;
    margin: 20px auto;
    max-width: 138px;
    padding: 13px 10px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
section#search form button:hover {
    background-color: #678e72;
}
/* =============Heading Start============================ */
h1 {
	color: #c50e3d;
	font-size:38px;
	line-height:38px;
	font-weight:normal;
	padding:0 0 25px 0;
}
h2 {
	color:#000000;
	font-size: 30px;
	line-height: 30px;
	font-weight:normal;
	padding:0 0 10px 0;
}
h3, h4, h5, h6 {
    margin: 0;
    padding: 0 0 20px 0;
}

/* =============Marketing Pages Start ============================ */

#persoanl-demo {
    background: #448a58;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    padding: 7px 10px;
    text-align: right;
    position: relative;
}
#persoanl-demo:before{
    content: "";
    position: absolute;
    right: 39px;
    top:100%;
    border-top: 11px solid #448a58;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
}
#persoanl-demo > a {
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    background: #d53b3c;
    padding:11px 15px 9px;
    -webkit-box-shadow: 0 0 7px 3px rgba(0,0,0,0.2);
    box-shadow: 0 0 7px 3px rgba(0,0,0,0.2);
    text-transform: uppercase;
    margin: 0 10px 0 10px;
}
#persoanl-demo > a:hover {
background: #c95f5f;
}
/*features Banner start*/
.features-banner {
    text-align: right;
}
.features-banner-text {
    padding: 30px 10px 20px 10px;
    max-width: 500px;
    display: inline-block;
    vertical-align:middle;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
}
.features-banner-image {
    padding: 30px 0 30px 0;
}
.features-banner-image img {
    display: block;
    margin: 0 auto;
}
.features-banner-text h1 {
    color: #ffffff;
    font-size: 35px;
    line-height: 35px;
    padding: 0 0 5px 0;
}
.features-banner-text p {
    font-size: 17px;
    line-height: 22px;
    color: #ffffff;
    padding: 0 0 20px 0;

}
/*features nav start*/
.features-nav {
    padding: 60px 10px 50px 10px;
}
.features-nav ul {
    padding: 0;
    text-align: center;
}
.features-nav ul li {
    padding: 0 10px 10px 10px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    max-width: 136px;
    min-width: 133px;
}
.features-nav ul li a {
    font-size: 15px;
    line-height: 15px;
    color: #5c5c5c;
    text-decoration: none;
    display: block;
}
.features-nav ul li.active a {
    color: #852176;
}
.features-nav ul li a i {
    display: block;
    margin: 0 auto;
    font-size: 50px;
    line-height: 60px;
}
/*List Your Business start*/
.list-your-business-banner {
    background-color: #f5f5f5 ;
    text-align: center;
}
.list-your-business-text {
    padding: 50px 10px 20px 10px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    box-sizing: border-box;
}
.list-your-business-text h2 {
    color: #5c5c5c;
    font-size: 35px;
    line-height: 41px;
    padding: 0 0 10px 0;
    max-width: 600px;
    margin: 0 auto;
}
.list-your-business-text p {
    font-size: 17px;
    line-height: 22px;
    color: #5c5c5c;
    padding: 0 0 20px 0;
    max-width: 600px;
    margin: 0 auto;
}
.list-your-business-image img {
    display: block;
    width: 100%;
}
/*List Your Business start*/
.jointhenetwork-block {
    text-align: center;
}
.jointhenetwork-content {
    padding: 50px 10px 20px 10px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}
.jointhenetwork-content h2 {
    color: #5c5c5c;
    font-size: 35px;
    line-height: 41px;
    padding: 0 0 10px 0;
}
.jointhenetwork-content p {
    font-size: 17px;
    line-height: 22px;
    color: #5c5c5c;
    padding: 0 0 20px 0;
}
.jointhenetwork-image img {
    display: block;
    width: 100%;
}
a.jointhenetwork-link {
    color: #ec9332;
    text-decoration: none;
    margin: 20px 0 30px;
    display: inline-block;
    vertical-align: top;
}
a.jointhenetwork-link:hover {
    text-decoration: underline;
}
/*Form start*/
.form-wrapper {
    background: url(assets/img/form-bg.jpg) no-repeat left top;
    background-size: cover;
}
.inner-form-wrap {
    margin: 0 auto;
    max-width: 600px;
    padding: 40px 40px 48px;
}
.inner-form-wrap  h2 {
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    line-height: 28px;
    padding: 0 0 30px 0;
}
.inner-form-wrap form > div {
    margin: 0 0 10px 0;
    position: relative;
}
.inner-form-wrap form > div > input, .inner-form-wrap form > div > span {
    font-family: "circularstd book";
    color: #000000;
    height: 40px;
    background-color: #ffffff;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    display: block;
}
.inner-form-wrap form > div > span {
    color: #cccccc;
    line-height: 23px;
    position: relative;
}
.inner-form-wrap form > div > span:after {
    content: "";
    height: 98%;
    position: absolute;
    right: 1px;
    top: 1px;
    width: 27px;
    z-index: 99999;
    background-image: url(assets/img/bg-faux-select.png);
    background-position: right center;
    background-repeat: no-repeat;

}
.inner-form-wrap form > div > select {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    font-family: "circularstd book";
    color: #cccccc;
    font-size: 14px;
    padding:  0 10px;
}
.inner-form-wrap form > div > select.selected {
    color: #000000;
}
.inner-form-wrap form > button {
    background-color: #ec9332;
    border: 1px solid #ec9332;
    color: #ffffff;
    text-transform: uppercase;
    padding: 14px 0;
    width: 100%;
    font-size: 14px;
    line-height: 1em;
    border-radius: 3px;
    font-family: "circularstd book";
    cursor: pointer;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    margin: 0 0 10px 0;
}
.inner-form-wrap form > button:hover {
    color: #ec9332;
    background: #ffffff;
}
.inner-form-wrap form > div > input::-webkit-input-placeholder { /* Chrome */
    color: #cccccc;
}
.inner-form-wrap form > div > input:-ms-input-placeholder { /* IE 10+ */
    color: #cccccc;
}
.inner-form-wrap form > div > input::-moz-placeholder { /* Firefox 19+ */
    color: #cccccc;
    opacity: 1;
}
.inner-form-wrap form > div > input:-moz-placeholder{ /* Firefox 4 - 18 */
    color: #cccccc;
    opacity: 1;
}
.privacy-link {
    font-size: 14px;
    color: #696c74;
    line-height: 1em;
    text-align: right;
}
.privacy-link a {
    color: #696c74;
    text-decoration: none;
}
.privacy-link a:hover {
    text-decoration: underline;
}
.privacy-link span {
    float: left;
}
.phone-livechat-box {
    padding: 30px 0 18px 0;
    text-align: center;
    font-size: 19px;
    color: #ffffff;
    line-height: 20px;
}
.phone-livechat-box span {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 16px 10px;
}
.phone-livechat-box a {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 16px 10px;
    color: #ffffff;
    text-decoration: none;
}
.phone-livechat-box a:hover, .signup-link a:hover {
    text-decoration: underline;
}
.phone-livechat-box i {
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 0;
}
.signup-link {
    text-align: center;
    font-size: 19px;
    color: #ffffff;
    line-height: 20px;
}
.signup-link a {
    color: #ec9332;
    text-decoration: none;
}
/*Carousel style start*/
carousel {
    display: block;
}
.slider-img {
    width:100%;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ff0000;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  }
  .carousel-caption .btn {
    text-shadow: none;
  }
  .slider-image-content .slider-img {
    width: 60%;
    display: block;
}
.banner-content {
    text-align: center;
    padding: 10px 10px 50px 10px;
}
.slide_index {
    display:inline-block;
    color:#ec9332;
    border:2px solid #ec9332;
    border-radius:50%;
    font-size:18px;
    line-height: 27px;
    padding:5px;
    margin:0 0 30px 0;
    width:40px;
    height:40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align:center;
}
.banner-content h4 {
    color:#ec9332;
    font-size:32px;
    line-height: 36px;
    font-weight: 400;
}
.banner-content .banner_text {
    color:#999999;
    line-height:30px; 
}
.slider-content {
    margin: 0 auto;
    background: #f4f4f4 ;
    padding: 50px 0;
}
.slider-content /deep/ carousel .carousel {
    margin: 0 auto;
    max-width: 900px;
}
.slide-content {
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    color: #999999;
    padding: 70px 50px 70px 50px;
    min-height: 270px;
}
.author {
    font-size: 21px;
    line-height: 24px;
    padding: 0;
}
.tagline {
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
}
.cta-banner {
    font-size: 16px;
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    vertical-align: top;
    background: #d53b3c;
    padding: 10px 20px;
    -webkit-box-shadow: 0 0 7px 3px rgba(0,0,0,0.2);
    box-shadow: 0 0 7px 3px rgba(0,0,0,0.2);
    text-transform: uppercase;
}
.cta-banner:hover {
background: #c95f5f;
}
/* =============================================================================
   Medium SCREEN STYLES [Tab VIEW] START
  ============================================================================= */
/* 768px */
@media only screen and (min-width: 768px) {
/*** Search ***/
header section#search {
    display: block;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
section#search {
    max-height: 100px;
    margin: 0;
    padding: 28px 15px 28px 15px; 
    border-top: 1px solid #cacac9; 
}
section#search form > span {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    padding: 0 10px 0 0;
}
section#search form > span:before {
    top: 12px;
}
section#search form input, section#search form .completer-input {
    box-shadow: none;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
}
section#search form button {
    margin: 0;
    display: inline-block;
    vertical-align: top;
    background-color: #d53b3c;
    border-radius: 0;
}
section#search form button:hover {
    background-color: #c95f5f;
}
/* =============Marketing Pages Start ============================ */
/*features Banner start*/
.features-banner {
    text-align: right;
}
.features-banner-text {
    padding: 30px 10px 20px 10px;
    margin: 0 10% 0 0;
    width: 43%;
}
.features-banner-image {
    display: inline-block;
    vertical-align: middle;
    width: 40%;
    margin: 30px 5% 0 0;
}
/*features nav start*/
.features-nav ul li {
    min-width: 150px;
}
/*List Your Business start*/
.list-your-business-banner {
    text-align: left;
}
.list-your-business-text, .list-your-business-image {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}
.list-your-business-image {
    width: 42%;
}
/*List Your Business start*/
.jointhenetwork-block {
    text-align: left;
}
.jointhenetwork-content, .jointhenetwork-image {
    display: inline-block;
    vertical-align: middle;
    width: 57%;
    padding: 20px 6%;
}
.jointhenetwork-image {
    width: 42%;
    padding: 0;
}   
/*Form start*/
.inner-form-wrap {
    margin: 0 auto;
    max-width: 600px;
    padding: 80px 40px 48px;
}
/*Form start*/
.inner-form-wrap  h2 {
    font-size: 40px;
    line-height: 45px;
}
.inner-form-wrap form > div {
float: left;
width: 49%;
}
.inner-form-wrap form > div:nth-of-type(2n){
margin: 0 0 10px 2%;
}
.inner-form-wrap form > div.fullwidth {
width: 100%;
margin: 0 0 10px 0;
}
/*Slider*/
.slider-image-content {
text-align: right;
position: 
}
.carousel-item {
display: block;
position: relative;
}
.slider-image-content .slider-img {
display: inline-block;
vertical-align: middle;
width: 44%;
}
.banner-content {
left: 10%;
position: absolute;
text-align: left;
top: 50%;
transform: translateY(-50%);
width: 40%;
}
.slide-content {
padding: 70px 70px 70px 70px;
}	
}
/* =============================================================================
   LARGE SCREEN STYLES [DESKTOP VIEW] START
  ============================================================================= */
/* 960px */
@media only screen and (min-width: 960px) {
	main {
		position: relative;
    }
    main .inner-wrap {
        padding:0 10px;
    }
    /*search*/
    header.header_small section#search {
        padding: 5px 15px;
    }
/* =============Marketing Pages Start ============================ */
/*features nav start*/
.features-nav ul li {
    min-width: 105px;
    max-width: 140px;
}
}


/* =============================================================================
         Font Embeed
*  ============================================================================= */
@font-face {
	font-family:'coco gothic';
	src:url('assets/fonts/coco-gothic-regular-trial.eot');
	src:url('assets/fonts/coco-gothic-regular-trial.eot?#iefix') format('embedded-opentype'), url('assets/fonts/coco-gothic-regular-trial.woff2') format('woff2'), url('assets/fonts/coco-gothic-regular-trial.woff') format('woff'), url('assets/fonts/coco-gothic-regular-trial.ttf') format('truetype'), url('assets/fonts/coco-gothic-regular-trial.svg') format('svg');
	font-weight:normal;
	font-style:normal
}
@font-face {
	font-family:'coco gothic bold';
	src:url('assets/fonts/coco-gothic-bold-trial.eot');
	src:url('assets/fonts/coco-gothic-bold-trial.eot?#iefix') format('embedded-opentype'), url('assets/fonts/coco-gothic-bold-trial.woff2') format('woff2'), url('assets/fonts/coco-gothic-bold-trial.woff') format('woff'), url('assets/fonts/coco-gothic-bold-trial.ttf') format('truetype'), url('assets/fonts/coco-gothic-bold-trial.svg') format('svg');
	font-weight:normal;
	font-style:normal
}
@font-face {
	font-family:'circularstd book';
	src:url('assets/fonts/circularstd-book.eot');
	src:url('assets/fonts/circularstd-book.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('assets/fonts/circularstd-book.woff2') format('woff2'), url('assets/fonts/circularstd-book.woff') format('woff'), url('assets/fonts/circularstd-book.ttf') format('truetype'), url('assets/fonts/circularstd-book.svg') format('svg');
	font-weight:normal;
	font-style:normal
}
@font-face {
	font-family:'circularstd medium';
	src:url('assets/fonts/circularstd-medium.eot');
	src:url('assets/fonts/circularstd-medium.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('assets/fonts/circularstd-medium.woff2') format('woff2'), url('assets/fonts/circularstd-medium.woff') format('woff'), url('assets/fonts/circularstd-medium.ttf') format('truetype'), url('assets/fonts/circularstd-medium.svg') format('svg');
	font-weight:normal;
	font-style:normal
}
@font-face {
	font-family:'circularstd bold';
	src:url('assets/fonts/circularstd-bold.eot');
	src:url('assets/fonts/circularstd-bold.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('assets/fonts/circularstd-bold.woff2') format('woff2'), url('assets/fonts/circularstd-bold.woff') format('woff'), url('assets/fonts/circularstd-bold.ttf') format('truetype'), url('assets/fonts/circularstd-bold.svg') format('svg');
	font-weight:normal;
	font-style:normal
}
@font-face {
	font-family:'circularstd black';
	src:url('assets/fonts/circularstd-black.eot');
	src:url('assets/fonts/circularstd-black.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('assets/fonts/circularstd-black.woff2') format('woff2'), url('assets/fonts/circularstd-black.woff') format('woff'), url('assets/fonts/circularstd-black.ttf') format('truetype'), url('assets/fonts/circularstd-black.svg') format('svg');
	font-weight:normal;
	font-style:normal
}
