/* You can add global styles to this file, and also import other style files */
@import url('assets/css/star-rating.min.css');
/*================================================================================*/
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body, html {
	font-family:'Helvetica Neue';
	font-size: 100%;                                          				/* default font  size - 100% = 16px*/
	background:#1b1a19;
}
form, body {
	margin: 0;
	padding: 0;
}
img {
	border: 0 none;
	max-width: 100%;                                          				/*to optimize full width of its parent element*/
}
main {
	display:block;
}
address {
	font-style: normal;                                          			/* To Neutralize Default Italic Style To Normal Style */
}
ul, dl, h1, h2, h3, p, ol {
	margin: 0;
}
ol {
	padding: 0 0 20px 30px;
}
ul {
	list-style: none;
}
.swipedemoBasicUsage .demo-swipe {
	padding: 20px 10px;
}
.swipedemoBasicUsage .no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
p {
	padding: 0 0 20px 0;
}
/* =============================================================================
   Default Style
* ============================================================================= */
.clearfix:before, .clearfix:after {
	content:"";
	display:table;
}
.clearfix:after {
	clear:both;
}
.inner-wrap {
	margin:0 auto;
	max-width:1500px;
	padding:0 10px;
}
main .inner-wrap {
	padding: 0;
}
/* =============================================================================
   SMALL SCREEN STYLES [MOBILE] START
*  ============================================================================= */
/* =============Header Area Start============================ */
.shrpr > span {
	font-family: "coco gothic";
	text-transform:lowercase;
	font-weight:normal;
}
.shrpr > span:nth-of-type(1) {
	color:#852176;
}
.shrpr > span:nth-of-type(2) {
	color:#3fa8d1;
}
.shrpr > span:nth-of-type(3) {
	color:#448a58;
}
.shrpr > span:nth-of-type(4) {
	color:#ec9332;
}
.shrpr > span:nth-of-type(5) {
	color:#d03233;
}
/* =============Main Area Start============================ */
main {
	background: #ededed;
	color: #000000;
	font-size: 18px;
	line-height: 24px;
}
/* =============Page content Area Start============================ */
.page-conent-area {
	padding:40px 10px 40px 10px;
	min-height: 350px;
}
/* =============Search============================ */

/* =============Heading Start============================ */
h1 {
	color: #c50e3d;
	font-size:38px;
	line-height:38px;
	font-weight:normal;
	padding:0 0 25px 0;
}
h2 {
	color:#000000;
	font-size: 30px;
	line-height: 30px;
	font-weight:normal;
	padding:0 0 10px 0;
}
h3, h4, h5, h6 {
	margin: 0;
	padding: 0 0 20px 0;
}
/* =============Marketing Pages Start ============================ */
/*features Banner start*/
.features-banner {
	text-align: right;
}
.features-banner-text {
	padding: 30px 10px 20px 10px;
	max-width: 500px;
	display: inline-block;
	vertical-align:middle;
	text-align: left;
	width: 100%;
	box-sizing: border-box;
}
.features-banner-image {
	padding: 30px 0 30px 0;
}
.features-banner-image img {
	display: block;
	margin: 0 auto;
}
.features-banner-text h1 {
	color: #ffffff;
	font-size: 35px;
	line-height: 35px;
	padding: 0 0 5px 0;
}
.features-banner-text p {
	font-size: 17px;
	line-height: 22px;
	color: #ffffff;
	padding: 0 0 20px 0;
}
/*features nav start*/
.features-nav {
	padding: 0 10px 50px 10px;
}
.features-nav ul {
	padding: 0;
}
.features-nav ul li {
	padding: 0 10px 10px 10px;
}
.features-nav ul li a {
	font-size: 15px;
	line-height: 18px;
	color: #5c5c5c;
	text-decoration: none;
	display: block;
}
.features-nav ul li.active a {
	color: #852176;
}
.features-nav ul li a img {
	display: inline-block;
	vertical-align: middle;
	margin: 0 15px 0 0;
	max-width: 35px;
}
/*List Your Business start*/
.list-your-business-banner {
	background-color: #f5f5f5;
	text-align: center;
}
.list-your-business-text {
	padding: 50px 10px 20px 10px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	box-sizing: border-box;
}
.list-your-business-text h2 {
	color: #5c5c5c;
	font-size: 35px;
	line-height: 41px;
	padding: 0 0 10px 0;
	max-width: 600px;
	margin: 0 auto;
}
.list-your-business-text p {
	font-size: 17px;
	line-height: 22px;
	color: #5c5c5c;
	padding: 0 0 20px 0;
	max-width: 600px;
	margin: 0 auto;
}
.list-your-business-image {
	padding: 20px;
}
.list-your-business-image img {
	display: block;
	width: 100%;
}
.list-your-business-image video {
	display: block;
	margin: 0 auto;
	max-width: 600px;
	width: 100%;
}
/*List Your Business start*/
.jointhenetwork-block {
	text-align: center;
}
.jointhenetwork-content {
	padding: 50px 10px 20px 10px;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
}
.jointhenetwork-content h2 {
	color: #5c5c5c;
	font-size: 35px;
	line-height: 41px;
	padding: 0 0 10px 0;
}
.jointhenetwork-content p {
	font-size: 17px;
	line-height: 22px;
	color: #5c5c5c;
	padding: 0 0 20px 0;
}
.jointhenetwork-image img {
	display: block;
	width: 100%;
}
a.jointhenetwork-link {
	color: #ec9332;
	text-decoration: none;
	margin: 20px 0 30px;
	display: inline-block;
	vertical-align: top;
}
a.jointhenetwork-link:hover {
	text-decoration: underline;
}
/*Form start*/
.form-wrapper {
	background: url(assets/img/form-bg.jpg) no-repeat left top;
	background-size: cover;
}
.inner-form-wrap {
	margin: 0 auto;
	max-width: 600px;
	padding: 40px 40px 48px;
}
.inner-form-wrap h2 {
	text-align: center;
	color: #ffffff;
	font-size: 25px;
	line-height: 28px;
	padding: 0 0 30px 0;
}
.inner-form-wrap form > div {
	margin: 0 0 10px 0;
	position: relative;
}
.inner-form-wrap form > div > input, .inner-form-wrap form > div > span {
	font-family: "Helvetica Neue";
	color: #000000;
	height: 40px;
	background-color: #ffffff;
	padding: 10px;
	width: 100%;
	font-size: 14px;
	border: none;
	border-radius: 3px;
	display: block;
}
.inner-form-wrap form > div > span {
	color: #cccccc;
	line-height: 23px;
	position: relative;
}
.inner-form-wrap form > div > span:after {
	content: "";
	height: 98%;
	position: absolute;
	right: 1px;
	top: 1px;
	width: 27px;
	z-index: 99999;
	background-image: url(assets/img/bg-faux-select.png);
	background-position: right center;
	background-repeat: no-repeat;
}
.inner-form-wrap form > div > select {
	width: 100%;
	height: 40px;
	position: absolute;
	left: 0;
	top: 0;
	font-family: "Helvetica Neue";
	color: #cccccc;
	font-size: 14px;
	padding:  0 10px;
	display: block;
	box-sizing: border-box;
	-webkit-appearance: menulist-button;
}
.inner-form-wrap form > div > select.selected {
	color: #000000;
}
.inner-form-wrap form > button {
	background-color: #ec9332;
	border: 1px solid #ec9332;
	color: #ffffff;
	text-transform: uppercase;
	padding: 14px 0;
	width: 100%;
	font-size: 14px;
	line-height: 1em;
	border-radius: 3px;
	font-family: "Helvetica Neue";
	cursor: pointer;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
	margin: 0 0 10px 0;
}
.inner-form-wrap form > button:hover {
	color: #ec9332;
	background: #ffffff;
}
.inner-form-wrap form > div > input::-webkit-input-placeholder { /* Chrome */
 	color: #cccccc;
}
.inner-form-wrap form > div > input:-ms-input-placeholder { /* IE 10+ */
	color: #cccccc;
}
.inner-form-wrap form > div > input::-moz-placeholder { /* Firefox 19+ */
 	color: #cccccc;
 	opacity: 1;
}
.inner-form-wrap form > div > input:-moz-placeholder { /* Firefox 4 - 18 */
 	color: #cccccc;
 	opacity: 1;
}
.privacy-link {
	font-size: 14px;
	color: #696c74;
	line-height: 1em;
	text-align: right;
}
.privacy-link a {
	color: #696c74;
	text-decoration: none;
}
.privacy-link a:hover {
	text-decoration: underline;
}
.privacy-link span {
	float: left;
}
.phone-livechat-box {
	padding: 30px 0 18px 0;
	text-align: center;
	font-size: 19px;
	color: #ffffff;
	line-height: 20px;
}
.phone-livechat-box span {
	display: inline-block;
	vertical-align: top;
	margin: 0 10px 16px 10px;
}
.phone-livechat-box a {
	display: inline-block;
	vertical-align: top;
	margin: 0 10px 16px 10px;
	color: #ffffff;
	text-decoration: none;
}
.phone-livechat-box a:hover, .signup-link a:hover {
	text-decoration: underline;
}
.phone-livechat-box i {
	font-size: 30px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px 0 0;
}
.signup-link {
	text-align: center;
	font-size: 19px;
	color: #ffffff;
	line-height: 20px;
	padding: 20px 0 0 0;
}
.signup-link a {
	color: #ec9332;
	text-decoration: none;
}
/*Carousel style start*/
carousel {
	display: block;
}
.slider-img {
	width:100%;
}
.slider-video {
	width:100%;
}
.carousel-caption {
	position: absolute;
	right: 15%;
	bottom: 20px;
	left: 15%;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #ff0000;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.carousel-caption .btn {
	text-shadow: none;
}
.slider-image-content .slider-img {
	width: 100%;
	display: block;
}
.slider-image-content .slider-video {
	width: 100%;
	display: block;
}
.banner-content {
	text-align: center;
	padding: 10px 10px 50px 10px;
}
.slide_index {
	display:inline-block;
	color:#ec9332;
	border:2px solid #ec9332;
	border-radius:50%;
	font-size:18px;
	line-height: 27px;
	padding:5px;
	margin:0 0 30px 0;
	width:40px;
	height:40px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align:center;
}
.banner-content h4 {
	color:#ec9332;
	font-size:32px;
	line-height: 36px;
	font-weight: 400;
}
.banner-content .banner_text {
	color:#999999;
	line-height:30px;
}
.slider-content {
	margin: 0 auto;
	background: #f4f4f4;
	padding: 50px 0;
}
.slider-content /deep/ carousel .carousel {
 	margin: 0 auto;
 	max-width: 900px;
}
.slide-content {
	text-align: center;
	font-size: 18px;
	line-height: 24px;
	color: #999999;
	padding: 70px 50px 70px 50px;
	min-height: 270px;
}
.author {
	font-size: 21px;
	line-height: 24px;
	padding: 0;
}
.tagline {
	font-size: 15px;
	font-weight: bold;
	line-height: 18px;
}
.cta-banner {
	font-size: 16px;
	color: #ffffff;
	display: inline-block;
	text-decoration: none;
	vertical-align: top;
	background: #d53b3c;
	padding: 10px 20px;
	-webkit-box-shadow: 0 0 7px 3px rgba(0,0,0,0.2);
	box-shadow: 0 0 7px 3px rgba(0,0,0,0.2);
	text-transform: uppercase;
}
.cta-banner:hover {
	background: #c95f5f;
}
/* =============common style for student, instructor, institution ============================ */
#profile-header {
	padding: 10px 10px 10px 10px;
	background-color: #f4f4f4;
	border-bottom: 1px solid #cccccc;
}
#profile-header > div {
	color: #02b2b8;
	display: inline-block;
	font-size: 15px;
	line-height: 17px;
	vertical-align: top;
	width: 66%;
}
#profile-header > div.profile-picture {
	max-width: 84px;
	width: 29%;
	margin: 0 4% 0 0;
	text-align: center;
}
#profile-header > div a .fa {
	color: #222222;
}
#profile-header > div a:hover .fa {
	color: #ed9639;
}
#profile-header h2 {
	font-size: 22px;
	line-height: 24px;
	padding: 0 0 10px 0;
	color: #fc6a02;
}
.profile-picture img {
	display: block;
	width: 100%;
	margin: 0 0 10px 0;
}
.social-icon a {
	color: #222222;
	font-size: 25px;
	line-height: 1em;
	display: inline-block;
	vertical-align: top;
	margin: 0 3% 5px 3%;
}
#profile-header .rating {
	text-align: left;
	padding: 19px 0 0 0;
	max-width: 191px;
}
#profile-header > div a {
	color: #02b2b8;
	text-decoration: underline;
	display: inline-block;
	vertical-align: top;
	margin: 0 2px 0 2px;
}
#profile-header > div a:hover {
	text-decoration: none;
}
.tab_content_para {
	font-family: Arial, Helvetica, sans-serif;
	padding:10px;
	font-size:14px;
	line-height: 21px;
}
.card-box {
	padding: 0 0 10px 0;
	background-color: #ffffff;
}
.img-ctn {
	position: relative;
}
.img-ctn figure {
	margin:0;
    height: 280px;
    overflow: hidden;
    position: relative;
    border: 1px solid #f7f7f7;
    box-sizing: border-box;
}
.img-ctn figure img {
	display:block;
    margin:0;
    width:100%;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari */
	transform: translate(-50%, -50%);
	min-width: 400px;
}
.price {
	background-color: #e7aa62;
	color: #272625;
	font-size: 16px;
	padding: 3px 20px 3px 5px;
	position: absolute;
	top: 20px;
	right: 0;
	z-index: 9;
}
.price.free {
    background: #448a58;
    color: #ffffff;
}
.group_rating {
	float: right;
}
.date_stamp, .with-box, .location a {
	font-size:12px;
	line-height: 14px;
	color:#229bcb;
}
.with-box span {
	color: #414141;
}
.card-info {
	padding: 10px;
}
.card-info p {
	padding: 0 0 5px 0;
}
.img-ctn h3 {
	background: rgba(0, 0, 0, 0.5);
	bottom: 8px;
	box-sizing: border-box;
	color: #ffffff;
	font-size: 18px;
	left: 0;
	line-height: 22px;
	padding: 10px;
	position: absolute;
	width: 100%;
}
.page-cta {
	background-color: #484848;
	border: none;
	-webkit-box-shadow: 0 0 7px 3px rgba(0,0,0,0.2);
	box-shadow: 0 0 7px 3px rgba(0,0,0,0.2);
	color: #ffffff;
	cursor: pointer;
	display: block;
	font-family: 'Helvetica Neue';
	font-size: 18px;
	line-height: 18px;
	text-decoration: none;
	margin: 10px auto;
	max-width: 150px;
	padding:7px 10px;
	text-align: center;
	width: 100%;
	text-transform: uppercase;
}
.page-cta:hover {
	background-color: #757575;
	text-decoration: none;
}
#reviews {
	padding: 20px 10px 20px 10px;
}
.reviews-rating {
	text-align: center;
	font-size: 15px;
	color: #272625;
	line-height: 14px;
	padding: 0 0 30px 0;
}
.reviews-rating a {
    color: #272625;
    text-decoration: underline;
}
.reviews-rating a:hover {
    text-decoration: none;
}
#reviews dl {
	display: table;
	margin: 0 0 20px 0;
	width: 100%;
}
#reviews dl dt, #reviews dl dd {
	display: table-cell;
	vertical-align: top;
	margin: 0;
	font-size: 14px;
	color: #272625;
	line-height: 16px;
	padding: 8px;
}
#reviews dl dt {
	padding: 0 20px 0 0;
	max-width:93px;
	min-width: 92px;
	text-align: center;
	width:93px;
}
#reviews dl dt img {
	display: block;
	margin: 0 auto 10px auto;
}
#reviews dl dd {
	border: 2px solid #eeeeee;
	border-radius: 4px;
}
#reviews dl dd h2 {
	font-size: 14px;
	color:#229bcb;
	line-height: 16px;
	padding: 0 0 10px 0;
}
.seeall-link {
	text-align: center;
}
.seeall-link a {
	font-size: 16px;
	color: #ff3c00;
	text-decoration: underline;
	position: relative;
	display: inline-block;
}
.seeall-link a:after {
	content: "\f0dd";
	font-family: FontAwesome;
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
	left: 0;
	line-height: 1em;
	position: absolute;
	right: 0;
	text-decoration: none;
	top: 10px;
}
.seeall-link a:hover {
	text-decoration: none;
}
.contact_box {
	padding: 10px;
}
.contact_box address {
	padding: 0 0 20px 0;
}
.contact_box address:first-child {
	border-bottom: 1px solid #e5e5e6;
	margin: 0 0 20px 0;
}
.contact_instructor a {
	color:#222222;
}
.contact_instructor a:hover {
	color:#ed9639;
}
.review_items_rating {
	color:#666666;
	font-size:12px;
	line-height:14px;
	display:block;
	padding:10px 0 0 0;
	font-style: italic;
}
.review_star {
	width:95px;
}
.location a {
    text-decoration:none;
}
.location a:hover {
    color:#e7aa62;
}
/*** Popup ***/
.lightbox {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.7);
	z-index: 99999;
}
.pop-up{
	position: relative;
}
.pop-up a.close{
	background-color: #fafafa;
	border: 1px solid #ccc;
	border-radius: 20px;
	cursor: pointer;
	display: block;
	position: absolute;
	top: 5px;
	right: 5px;
	line-height: 22px;
	height: 25px;
	text-align: center;
	width: 25px;
}
.pop-up a.close:hover{
	background-color: #fff;
}
/*header sort by*/
.group-filter-row {
	margin:0 0 16px 0;
	text-align: center;
	padding: 0 10px 0 10px;
}
.sort-option {
    font-size:11px;
	color:#cccccc;
	float: left;
}
.sort-option a {
    display:inline-block;
    vertical-align: middle;
    padding:10px;
    color:#cccccc;
    border: 2px solid #cccccc;
    background-color:#f4f4f4;
    text-transform: uppercase;
    text-decoration: none;
    font-size:12px;
    line-height: 14px;
    text-align: center;
    width:60px;
    margin:0 2px;
}
.sort-option a:nth-child(1){
    margin:0 2px 0 7px;
}
.sort-option a:hover {
    border:2px solid #259ccb;
    background-color:#259ccb;
    color:#ffffff;
    text-decoration:none;
}
.like-count {
    float: right;
    width:36px;
    height: 36px;
    position: relative;
    color:#ffffff;
    font-size:16px;
    line-height: 19px;
    text-align: center;
    
}
.like-count a {
	text-decoration: none;
	color: #ffffff;
}
.like-count .fa {
    color:#ce292a;
    position: absolute;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
    font-size:36px;
}
.like-count span {
    display:inline-block;
    vertical-align: middle;
    position:relative;
    padding:6px 0 0 0;
    width:100%;
 }
/* =============================================================================
   Medium SCREEN STYLES [Tab VIEW] START
  ============================================================================= */
/* 768px */
@media only screen and (min-width: 768px) {
/*** Google Places Dropdown ***/
.pac-container {
	position: relative;
	z-index: 99999;
}
.pac-logo:after {
	background-image: none !important;
	height: auto !important;
	padding: 0 !important;
}
/*header sort by*/
.group-filter-row {
	margin:0 0 16px 0;
	text-align: center;
	padding: 0 10px 0 10px;
}
.sort-option {
    font-size:11px;
	color:#cccccc;
	float: left;
}
.sort-option a {
    width:80px;
}
.sort-option a:nth-child(1){
    margin:0 2px 0 15px;
}
/* =============Marketing Pages Start ============================ */
/*features Banner start*/
.features-banner {
	text-align: right;
}
.features-banner-text {
	padding: 30px 10px 20px 10px;
	margin: 0 10% 0 0;
	width: 43%;
}
.features-banner-image {
	display: inline-block;
	vertical-align: middle;
	width: 40%;
	margin: 30px 5% 0 0;
}
/*features nav start*/
.features-nav ul {
	text-align: center;
}
.features-nav ul li {
	display: inline-block;
	padding: 0 10px 29px;
	vertical-align: top;
	width: 29%;
	min-width: none;
	max-width: none;
}
.features-nav ul li a img {
	display: block;
	margin: 0 auto 15px;
	max-height: 45px;
	max-width: 59px;
}
/*List Your Business start*/
.list-your-business-banner {
	text-align: left;
}
.list-your-business-text, .list-your-business-image {
	display: inline-block;
	vertical-align: middle;
	width: 50%;
}
.list-your-business-image {
	width: 42%;
}
/*List Your Business start*/
.jointhenetwork-block {
	text-align: left;
}
.jointhenetwork-content, .jointhenetwork-image {
	display: inline-block;
	vertical-align: middle;
	width: 57%;
	padding: 20px 6%;
}
.jointhenetwork-image {
	width: 42%;
	padding: 0;
}
/*Form start*/
.inner-form-wrap {
	margin: 0 auto;
	max-width: 600px;
	padding: 80px 40px 48px;
}
/*Form start*/
.inner-form-wrap h2 {
	font-size: 40px;
	line-height: 45px;
}
.inner-form-wrap form > div {
	float: left;
	width: 49%;
}
.inner-form-wrap form > div:nth-of-type(2n) {
	margin: 0 0 10px 2%;
}
.inner-form-wrap form > div.fullwidth {
	width: 100%;
	margin: 0 0 10px 0;
}
/*Slider*/
.slider-image-content {
	text-align: right;
}
.carousel-item {
	display: block;
	position: relative;
}
.slider-image-content .slider-img {
	display: inline-block;
	vertical-align: middle;
	width: 44%;
}
.slider-image-content .slider-video {
	display: inline-block;
	vertical-align: middle;
	padding: 50px 0 50px 0;
	width: 44%;
}
.banner-content {
	left: 10%;
	position: absolute;
	text-align: left;
	top: 50%;
	transform: translateY(-50%);
	width: 40%;
}
.slide-content {
	padding: 70px 70px 70px 70px;
}
/* =============common style for student, instructor, institution ============================ */
#desktopcourses {
	padding: 50px 10px 30px 10px;
}
#desktopcourses h2 {
	font-size:25px;
	line-height: 27px;
	color: #484848;
	padding: 0 0 5px 0;
	margin: 0 0 20px 0;
	border-bottom: 1px solid #cccccc;
	text-transform: uppercase;
}
#desktopcourses > h3 {
	font-size: 18px;
	color: #818181;
	line-height: 22px;
	padding: 0 0 20px 0;
}
.card-box {
	display: inline-block;
	margin: 0 1.5% 20px;
	max-width: 444px;
	vertical-align: top;
	width: 30%;
}
#reviews {
	border-top: 2px solid #cccccc;
}
.contact_box address {
	display: inline-block;
	padding: 0 5% 0 0;
	vertical-align: top;
}
.contact_box address:first-child {
	border-bottom: none;
	margin: 0;
}
#profile-header > div.profile-picture {
	max-width:200px;
	text-align: center;
}
.review_items_rating {
	float: right;
	padding:0;
}
.review_star {
	width:110px;
}
/*Course Card*/
.course-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-box {
    background-color: #fff;
    box-shadow: 0 0 4px 2px #cccccc;
    border: 1px solid #cccccc;
    margin: 0 2% 20px 0;
    width: 32%;
    max-width: none;
    box-sizing: border-box;
    color: #818181;
    padding: 0 0 60px 0;;
    position: relative;
    flex: 1 1 1;
}
.card-box:nth-of-type(3n) {
    margin: 0 0 20px 0;
}
.img-ctn {
    position: relative;
    margin: 8px 8px 0 8px;
}
.img-ctn figure {
    margin:0;
    height: 210px;
    overflow: hidden;
    position: relative;
    border: 1px solid #f7f7f7;
    box-sizing: border-box;
}
.img-ctn figure img {
    display:block;
    margin:0;
    width:100%;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari */
    transform: translate(-50%, -50%);
    min-width: 400px;
}
.price{
    background-color: #e7aa62;
    color: #272625;
    font-size: 16px;
    padding: 3px 20px 3px 5px;
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 9;
    display: none;
}
.price.free {
    background: #448a58;
    color: #ffffff;
}
.card-info {
	padding: 2px 18px 0 18px;
}
.group_name {
    font-size:12px;
    line-height: 14px;
}
.group_rating {
    float: right;
}
.card-info h3 {
    font-size: 16px;
    line-height: 18px;
    min-height: 45px;
    padding: 5px 0 0 0;
}
.card-info h3 a {
    color:#707070;
    text-decoration: none;
}
.card-info h3 a:hover {
    color:#ed9639;
}
.location-wrap {
    position: relative;
} 
.location {
    padding:0;
}
.location a, .date_stamp {
    font-size:12px;
    line-height: 14px;
    color:#818181;
}
.like_action {
   border: 2px solid #707070;
   display: flex;
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%; 
}
.like_action > div {
    padding: 10px;
    text-align: center;
    width: 50%;
}
.like_action > div:first-child {
    border-right: 2px solid #707070;
}
.hollow-icon {
    color: #707070;
    cursor: pointer;
}
.hollow-icon .fa-heart, .hollow-icon:hover .fa-heart-o {
    display: none;
}
.hollow-icon.like .fa-heart, .hollow-icon:hover .fa-heart {
    display: block;
    margin: 2px 0 0 0;
}
.hollow-icon.like .fa-heart-o {
    display: none;
}
.thumbUp:hover {
    color: #448a58;
}
.thumbDown:hover {
    color:#d03233; 
}
}
/* =============================================================================
   LARGE SCREEN STYLES [DESKTOP VIEW] START
  ============================================================================= */
/* 960px */
@media only screen and (min-width: 960px) {
main {
	position: relative;
}
main .inner-wrap {
	padding:0 10px;
}
.page-conent-area {
	padding:40px 0 40px 0;
}
a[href*="tel:"] {
	pointer-events: none;
	cursor:default;
	text-decoration: none;
}

/* =============Marketing Pages Start ============================ */
/*features nav start*/
.features-nav ul {
	display: flex;
}
.features-nav ul li {
	min-width: 86px;
	width: 13%;
}
/* =============common style for student, instructor, institution ============================ */
#desktopcourses {
	padding: 50px 0 30px 0;
}
}
/* =============================================================================
         Font Embeed
*  ============================================================================= */
@font-face {
	font-family:'coco gothic';
	src:url('assets/fonts/coco-gothic-regular-trial.eot');
	src:url('assets/fonts/coco-gothic-regular-trial.eot?#iefix') format('embedded-opentype'), url('assets/fonts/coco-gothic-regular-trial.woff2') format('woff2'), url('assets/fonts/coco-gothic-regular-trial.woff') format('woff'), url('assets/fonts/coco-gothic-regular-trial.ttf') format('truetype'), url('assets/fonts/coco-gothic-regular-trial.svg') format('svg');
	font-weight:normal;
	font-style:normal
}
@font-face {
	font-family:'coco gothic bold';
	src:url('assets/fonts/coco-gothic-bold-trial.eot');
	src:url('assets/fonts/coco-gothic-bold-trial.eot?#iefix') format('embedded-opentype'), url('assets/fonts/coco-gothic-bold-trial.woff2') format('woff2'), url('assets/fonts/coco-gothic-bold-trial.woff') format('woff'), url('assets/fonts/coco-gothic-bold-trial.ttf') format('truetype'), url('assets/fonts/coco-gothic-bold-trial.svg') format('svg');
	font-weight:normal;
	font-style:normal
}
@font-face {
	font-family:'circularstd book';
	src:url('assets/fonts/circularstd-book.eot');
	src:url('assets/fonts/circularstd-book.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('assets/fonts/circularstd-book.woff2') format('woff2'), url('assets/fonts/circularstd-book.woff') format('woff'), url('assets/fonts/circularstd-book.ttf') format('truetype'), url('assets/fonts/circularstd-book.svg') format('svg');
	font-weight:normal;
	font-style:normal
}
@font-face {
	font-family:'circularstd medium';
	src:url('assets/fonts/circularstd-medium.eot');
	src:url('assets/fonts/circularstd-medium.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('assets/fonts/circularstd-medium.woff2') format('woff2'), url('assets/fonts/circularstd-medium.woff') format('woff'), url('assets/fonts/circularstd-medium.ttf') format('truetype'), url('assets/fonts/circularstd-medium.svg') format('svg');
	font-weight:normal;
	font-style:normal
}
@font-face {
	font-family:'circularstd bold';
	src:url('assets/fonts/circularstd-bold.eot');
	src:url('assets/fonts/circularstd-bold.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('assets/fonts/circularstd-bold.woff2') format('woff2'), url('assets/fonts/circularstd-bold.woff') format('woff'), url('assets/fonts/circularstd-bold.ttf') format('truetype'), url('assets/fonts/circularstd-bold.svg') format('svg');
	font-weight:normal;
	font-style:normal
}
@font-face {
	font-family:'circularstd black';
	src:url('assets/fonts/circularstd-black.eot');
	src:url('assets/fonts/circularstd-black.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('assets/fonts/circularstd-black.woff2') format('woff2'), url('assets/fonts/circularstd-black.woff') format('woff'), url('assets/fonts/circularstd-black.ttf') format('truetype'), url('assets/fonts/circularstd-black.svg') format('svg');
	font-weight:normal;
	font-style:normal
}
@font-face {
	font-family:'Helvetica Neue';
	src:url('assets/fonts/helveticaneue.eot');
	src:url('assets/fonts/helveticaneue.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('assets/fonts/helveticaneue.woff2') format('woff2'), url('assets/fonts/helveticaneue.woff') format('woff'), url('assets/fonts/helveticaneue.ttf') format('truetype'), url('assets/fonts/helveticaneue.svg') format('svg');
	font-weight:normal;
	font-style:normal
}
.btn{display:inline-block;margin-bottom:0;font-weight:normal;text-align:center;vertical-align:middle;touch-action:manipulation;cursor:pointer;background-image:none;border:1px solid transparent;white-space:nowrap;padding:6px 12px;font-size:14px;line-height:1.42857143;border-radius:4px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.btn:focus,.btn:active:focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn.active.focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}.btn:hover,.btn:focus,.btn.focus{color:#333;text-decoration:none}.btn:active,.btn.active{outline:0;background-image:none;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);box-shadow:inset 0 3px 5px rgba(0,0,0,0.125)}.btn.disabled,.btn[disabled],fieldset[disabled] .btn{cursor:not-allowed;opacity:.65;filter:alpha(opacity=65);-webkit-box-shadow:none;box-shadow:none}a.btn.disabled,fieldset[disabled] a.btn{pointer-events:none}.btn-default{color:#333;background-color:#fff;border-color:#ccc}.btn-default:focus,.btn-default.focus{color:#333;background-color:#e6e6e6;border-color:#8c8c8c}.btn-default:hover{color:#333;background-color:#e6e6e6;border-color:#adadad}.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default{color:#333;background-color:#e6e6e6;border-color:#adadad}.btn-default:active:hover,.btn-default.active:hover,.open>.dropdown-toggle.btn-default:hover,.btn-default:active:focus,.btn-default.active:focus,.open>.dropdown-toggle.btn-default:focus,.btn-default:active.focus,.btn-default.active.focus,.open>.dropdown-toggle.btn-default.focus{color:#333;background-color:#d4d4d4;border-color:#8c8c8c}.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default{background-image:none}.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled.focus,.btn-default[disabled].focus,fieldset[disabled] .btn-default.focus{background-color:#fff;border-color:#ccc}.btn-default .badge{color:#fff;background-color:#333}.btn-primary{color:#fff;background-color:#337ab7;border-color:#2e6da4}.btn-primary:focus,.btn-primary.focus{color:#fff;background-color:#286090;border-color:#122b40}.btn-primary:hover{color:#fff;background-color:#286090;border-color:#204d74}.btn-primary:active,.btn-primary.active,.open>.dropdown-toggle.btn-primary{color:#fff;background-color:#286090;border-color:#204d74}.btn-primary:active:hover,.btn-primary.active:hover,.open>.dropdown-toggle.btn-primary:hover,.btn-primary:active:focus,.btn-primary.active:focus,.open>.dropdown-toggle.btn-primary:focus,.btn-primary:active.focus,.btn-primary.active.focus,.open>.dropdown-toggle.btn-primary.focus{color:#fff;background-color:#204d74;border-color:#122b40}.btn-primary:active,.btn-primary.active,.open>.dropdown-toggle.btn-primary{background-image:none}.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled.focus,.btn-primary[disabled].focus,fieldset[disabled] .btn-primary.focus{background-color:#337ab7;border-color:#2e6da4}.btn-primary .badge{color:#337ab7;background-color:#fff}.btn-success{color:#fff;background-color:#5cb85c;border-color:#4cae4c}.btn-success:focus,.btn-success.focus{color:#fff;background-color:#449d44;border-color:#255625}.btn-success:hover{color:#fff;background-color:#449d44;border-color:#398439}.btn-success:active,.btn-success.active,.open>.dropdown-toggle.btn-success{color:#fff;background-color:#449d44;border-color:#398439}.btn-success:active:hover,.btn-success.active:hover,.open>.dropdown-toggle.btn-success:hover,.btn-success:active:focus,.btn-success.active:focus,.open>.dropdown-toggle.btn-success:focus,.btn-success:active.focus,.btn-success.active.focus,.open>.dropdown-toggle.btn-success.focus{color:#fff;background-color:#398439;border-color:#255625}.btn-success:active,.btn-success.active,.open>.dropdown-toggle.btn-success{background-image:none}.btn-success.disabled:hover,.btn-success[disabled]:hover,fieldset[disabled] .btn-success:hover,.btn-success.disabled:focus,.btn-success[disabled]:focus,fieldset[disabled] .btn-success:focus,.btn-success.disabled.focus,.btn-success[disabled].focus,fieldset[disabled] .btn-success.focus{background-color:#5cb85c;border-color:#4cae4c}.btn-success .badge{color:#5cb85c;background-color:#fff}.btn-info{color:#fff;background-color:#5bc0de;border-color:#46b8da}.btn-info:focus,.btn-info.focus{color:#fff;background-color:#31b0d5;border-color:#1b6d85}.btn-info:hover{color:#fff;background-color:#31b0d5;border-color:#269abc}.btn-info:active,.btn-info.active,.open>.dropdown-toggle.btn-info{color:#fff;background-color:#31b0d5;border-color:#269abc}.btn-info:active:hover,.btn-info.active:hover,.open>.dropdown-toggle.btn-info:hover,.btn-info:active:focus,.btn-info.active:focus,.open>.dropdown-toggle.btn-info:focus,.btn-info:active.focus,.btn-info.active.focus,.open>.dropdown-toggle.btn-info.focus{color:#fff;background-color:#269abc;border-color:#1b6d85}.btn-info:active,.btn-info.active,.open>.dropdown-toggle.btn-info{background-image:none}.btn-info.disabled:hover,.btn-info[disabled]:hover,fieldset[disabled] .btn-info:hover,.btn-info.disabled:focus,.btn-info[disabled]:focus,fieldset[disabled] .btn-info:focus,.btn-info.disabled.focus,.btn-info[disabled].focus,fieldset[disabled] .btn-info.focus{background-color:#5bc0de;border-color:#46b8da}.btn-info .badge{color:#5bc0de;background-color:#fff}.btn-warning{color:#fff;background-color:#f0ad4e;border-color:#eea236}.btn-warning:focus,.btn-warning.focus{color:#fff;background-color:#ec971f;border-color:#985f0d}.btn-warning:hover{color:#fff;background-color:#ec971f;border-color:#d58512}.btn-warning:active,.btn-warning.active,.open>.dropdown-toggle.btn-warning{color:#fff;background-color:#ec971f;border-color:#d58512}.btn-warning:active:hover,.btn-warning.active:hover,.open>.dropdown-toggle.btn-warning:hover,.btn-warning:active:focus,.btn-warning.active:focus,.open>.dropdown-toggle.btn-warning:focus,.btn-warning:active.focus,.btn-warning.active.focus,.open>.dropdown-toggle.btn-warning.focus{color:#fff;background-color:#d58512;border-color:#985f0d}.btn-warning:active,.btn-warning.active,.open>.dropdown-toggle.btn-warning{background-image:none}.btn-warning.disabled:hover,.btn-warning[disabled]:hover,fieldset[disabled] .btn-warning:hover,.btn-warning.disabled:focus,.btn-warning[disabled]:focus,fieldset[disabled] .btn-warning:focus,.btn-warning.disabled.focus,.btn-warning[disabled].focus,fieldset[disabled] .btn-warning.focus{background-color:#f0ad4e;border-color:#eea236}.btn-warning .badge{color:#f0ad4e;background-color:#fff}.btn-danger{color:#fff;background-color:#d9534f;border-color:#d43f3a}.btn-danger:focus,.btn-danger.focus{color:#fff;background-color:#c9302c;border-color:#761c19}.btn-danger:hover{color:#fff;background-color:#c9302c;border-color:#ac2925}.btn-danger:active,.btn-danger.active,.open>.dropdown-toggle.btn-danger{color:#fff;background-color:#c9302c;border-color:#ac2925}.btn-danger:active:hover,.btn-danger.active:hover,.open>.dropdown-toggle.btn-danger:hover,.btn-danger:active:focus,.btn-danger.active:focus,.open>.dropdown-toggle.btn-danger:focus,.btn-danger:active.focus,.btn-danger.active.focus,.open>.dropdown-toggle.btn-danger.focus{color:#fff;background-color:#ac2925;border-color:#761c19}.btn-danger:active,.btn-danger.active,.open>.dropdown-toggle.btn-danger{background-image:none}.btn-danger.disabled:hover,.btn-danger[disabled]:hover,fieldset[disabled] .btn-danger:hover,.btn-danger.disabled:focus,.btn-danger[disabled]:focus,fieldset[disabled] .btn-danger:focus,.btn-danger.disabled.focus,.btn-danger[disabled].focus,fieldset[disabled] .btn-danger.focus{background-color:#d9534f;border-color:#d43f3a}.btn-danger .badge{color:#d9534f;background-color:#fff}.btn-link{color:#337ab7;font-weight:normal;border-radius:0}.btn-link,.btn-link:active,.btn-link.active,.btn-link[disabled],fieldset[disabled] .btn-link{background-color:transparent;-webkit-box-shadow:none;box-shadow:none}.btn-link,.btn-link:hover,.btn-link:focus,.btn-link:active{border-color:transparent}.btn-link:hover,.btn-link:focus{color:#23527c;text-decoration:underline;background-color:transparent}.btn-link[disabled]:hover,fieldset[disabled] .btn-link:hover,.btn-link[disabled]:focus,fieldset[disabled] .btn-link:focus{color:#777777;text-decoration:none}.btn-lg,.btn-group-lg>.btn{padding:10px 16px;font-size:18px;line-height:1.3333333;border-radius:6px}.btn-sm,.btn-group-sm>.btn{padding:5px 10px;font-size:12px;line-height:1.5;border-radius:3px}.btn-xs,.btn-group-xs>.btn{padding:1px 5px;font-size:12px;line-height:1.5;border-radius:3px}.btn-block{display:block;width:100%}.btn-block+.btn-block{margin-top:5px}input[type="submit"].btn-block,input[type="reset"].btn-block,input[type="button"].btn-block{width:100%}.btn-group,.btn-group-vertical{position:relative;display:inline-block;vertical-align:middle}.btn-group>.btn,.btn-group-vertical>.btn{position:relative;float:left}.btn-group>.btn:hover,.btn-group-vertical>.btn:hover,.btn-group>.btn:focus,.btn-group-vertical>.btn:focus,.btn-group>.btn:active,.btn-group-vertical>.btn:active,.btn-group>.btn.active,.btn-group-vertical>.btn.active{z-index:2}.btn-group .btn+.btn,.btn-group .btn+.btn-group,.btn-group .btn-group+.btn,.btn-group .btn-group+.btn-group{margin-left:-1px}.btn-toolbar{margin-left:-5px}.btn-toolbar .btn,.btn-toolbar .btn-group,.btn-toolbar .input-group{float:left}.btn-toolbar>.btn,.btn-toolbar>.btn-group,.btn-toolbar>.input-group{margin-left:5px}.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle){border-radius:0}.btn-group>.btn:first-child{margin-left:0}.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle){border-bottom-right-radius:0;border-top-right-radius:0}.btn-group>.btn:last-child:not(:first-child),.btn-group>.dropdown-toggle:not(:first-child){border-bottom-left-radius:0;border-top-left-radius:0}.btn-group>.btn-group{float:left}.btn-group>.btn-group:not(:first-child):not(:last-child)>.btn{border-radius:0}.btn-group>.btn-group:first-child:not(:last-child)>.btn:last-child,.btn-group>.btn-group:first-child:not(:last-child)>.dropdown-toggle{border-bottom-right-radius:0;border-top-right-radius:0}.btn-group>.btn-group:last-child:not(:first-child)>.btn:first-child{border-bottom-left-radius:0;border-top-left-radius:0}.btn-group .dropdown-toggle:active,.btn-group.open .dropdown-toggle{outline:0}.btn-group>.btn+.dropdown-toggle{padding-left:8px;padding-right:8px}.btn-group>.btn-lg+.dropdown-toggle{padding-left:12px;padding-right:12px}.btn-group.open .dropdown-toggle{-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);box-shadow:inset 0 3px 5px rgba(0,0,0,0.125)}.btn-group.open .dropdown-toggle.btn-link{-webkit-box-shadow:none;box-shadow:none}.btn .caret{margin-left:0}.btn-lg .caret{border-width:5px 5px 0;border-bottom-width:0}.dropup .btn-lg .caret{border-width:0 5px 5px}.btn-group-vertical>.btn,.btn-group-vertical>.btn-group,.btn-group-vertical>.btn-group>.btn{display:block;float:none;width:100%;max-width:100%}.btn-group-vertical>.btn-group>.btn{float:none}.btn-group-vertical>.btn+.btn,.btn-group-vertical>.btn+.btn-group,.btn-group-vertical>.btn-group+.btn,.btn-group-vertical>.btn-group+.btn-group{margin-top:-1px;margin-left:0}.btn-group-vertical>.btn:not(:first-child):not(:last-child){border-radius:0}.btn-group-vertical>.btn:first-child:not(:last-child){border-top-right-radius:4px;border-top-left-radius:4px;border-bottom-right-radius:0;border-bottom-left-radius:0}.btn-group-vertical>.btn:last-child:not(:first-child){border-top-right-radius:0;border-top-left-radius:0;border-bottom-right-radius:4px;border-bottom-left-radius:4px}.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn{border-radius:0}.btn-group-vertical>.btn-group:first-child:not(:last-child)>.btn:last-child,.btn-group-vertical>.btn-group:first-child:not(:last-child)>.dropdown-toggle{border-bottom-right-radius:0;border-bottom-left-radius:0}.btn-group-vertical>.btn-group:last-child:not(:first-child)>.btn:first-child{border-top-right-radius:0;border-top-left-radius:0}.btn-group-justified{display:table;width:100%;table-layout:fixed;border-collapse:separate}.btn-group-justified>.btn,.btn-group-justified>.btn-group{float:none;display:table-cell;width:1%}.btn-group-justified>.btn-group .btn{width:100%}.btn-group-justified>.btn-group .dropdown-menu{left:auto}[data-toggle="buttons"]>.btn input[type="radio"],[data-toggle="buttons"]>.btn-group>.btn input[type="radio"],[data-toggle="buttons"]>.btn input[type="checkbox"],[data-toggle="buttons"]>.btn-group>.btn input[type="checkbox"]{position:absolute;clip:rect(0, 0, 0, 0);pointer-events:none}.popover{width:100%;position:absolute;top:0;left:0;z-index:1060;display:none;max-width:276px;padding:1px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-style:normal;font-weight:normal;letter-spacing:normal;line-break:auto;line-height:1.42857143;text-align:left;text-align:start;text-decoration:none;text-shadow:none;text-transform:none;white-space:normal;word-break:normal;word-spacing:normal;word-wrap:normal;font-size:14px;background-color:#fff;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0,0,0,0.2);border-radius:6px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);box-shadow:0 5px 10px rgba(0,0,0,0.2)}.popover.top{margin-top:-10px}.popover.right{margin-left:10px}.popover.bottom{margin-top:10px}.popover.left{margin-left:-10px}.popover-title{margin:0;padding:8px 14px;font-size:14px;background-color:#f7f7f7;border-bottom:1px solid #ebebeb;border-radius:5px 5px 0 0}.popover-content{padding:9px 14px}.popover>.arrow,.popover>.arrow:after{position:absolute;display:block;width:0;height:0;border-color:transparent;border-style:solid}.popover>.arrow{border-width:11px}.popover>.arrow:after{border-width:10px;content:""}.popover.top>.arrow{left:50%;margin-left:-11px;border-bottom-width:0;border-top-color:#999999;border-top-color:rgba(0,0,0,0.25);bottom:-11px}.popover.top>.arrow:after{content:" ";bottom:1px;margin-left:-10px;border-bottom-width:0;border-top-color:#fff}.popover.right>.arrow{top:50%;left:-11px;margin-top:-11px;border-left-width:0;border-right-color:#999999;border-right-color:rgba(0,0,0,0.25)}.popover.right>.arrow:after{content:" ";left:1px;bottom:-10px;border-left-width:0;border-right-color:#fff}.popover.bottom>.arrow{left:50%;margin-left:-11px;border-top-width:0;border-bottom-color:#999999;border-bottom-color:rgba(0,0,0,0.25);top:-11px}.popover.bottom>.arrow:after{content:" ";top:1px;margin-left:-10px;border-top-width:0;border-bottom-color:#fff}.popover.left>.arrow{top:50%;right:-11px;margin-top:-11px;border-right-width:0;border-left-color:#999999;border-left-color:rgba(0,0,0,0.25)}.popover.left>.arrow:after{content:" ";right:1px;border-right-width:0;border-left-color:#fff;bottom:-10px}.fade{opacity:0;-webkit-transition:opacity .15s linear;-o-transition:opacity .15s linear;transition:opacity .15s linear}.fade.in{opacity:1}.collapse{display:none}.collapse.in{display:block}tr.collapse.in{display:table-row}tbody.collapse.in{display:table-row-group}.collapsing{position:relative;height:0;overflow:hidden;-webkit-transition-property:height,visibility;transition-property:height,visibility;-webkit-transition-duration:.35s;transition-duration:.35s;-webkit-transition-timing-function:ease;transition-timing-function:ease}.tour-backdrop{position:absolute;z-index:1100;background-color:#000;opacity:.8;filter:alpha(opacity=80)}.popover[class*="tour-"]{z-index:1102}.popover[class*="tour-"] .popover-navigation{padding:9px 14px;overflow:hidden}.popover[class*="tour-"] .popover-navigation *[data-role="end"]{float:right}.popover[class*="tour-"] .popover-navigation *[data-role="prev"],.popover[class*="tour-"] .popover-navigation *[data-role="next"],.popover[class*="tour-"] .popover-navigation *[data-role="end"]{cursor:pointer}.popover[class*="tour-"] .popover-navigation *[data-role="prev"].disabled,.popover[class*="tour-"] .popover-navigation *[data-role="next"].disabled,.popover[class*="tour-"] .popover-navigation *[data-role="end"].disabled{cursor:default}.popover[class*="tour-"].orphan{position:fixed;margin-top:0}.popover[class*="tour-"].orphan .arrow{display:none}