/*features Banner start*/
.features-banner {
    background-image: url(../../../assets/img/marketing-site-header.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
    height: 500px;
}

.features-banner-text {
    padding: 155px 10px 20px 10px;
    max-width: 470px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
}
.features-banner-text h1 {
    color: #ffffff;
    font-size: 35px;
    line-height: 35px;
    padding: 0 0 5px 0;
}
.features-banner-text p {
    font-size: 17px;
    line-height: 22px;
    color: #ffffff;
    padding: 0 0 20px 0;

}
:host /deep/ app-marketing-nav .features-nav ul li:nth-of-type(1) a {
    color: #852176;
}
.list-your-business-image {
    background: url('../../../assets/img/video-bg-marketing.jpg') no-repeat center center;
}
.list-your-business-image.active {
    background: none;
}
.list-your-business-image video {
    opacity: 0;
}
.list-your-business-image.active video {
    opacity: 1;
}
/*================================================
769px tablet media start
================================================*/
@media only screen and (min-width: 769px) {
    /*features Banner start*/
.features-banner-text {
    margin: 0 2% 0 0;
}
}
/*================================================
960px Desktop media start
================================================*/
@media only screen and (min-width: 960px) {
  /*features Banner start*/
.features-banner {
    background-size: cover;
}      
}