<section id="persoanl-demo">Schedule a Demo or Join <a href="/marketing#scheduledemo">Now</a></section><!-- request persoanl demo -->
<section class="features-banner">
  <div class="features-banner-text">
    <h1>Shrpr’s Education Platform and Marketplace</h1>
    <p>Connecting the world of Face to Face Learning</p>
    <a class="cta-banner" href="javascript:void(0);">Schedule a Demo</a>
  </div>
</section>
<!-- features banner end-->
<app-marketing-nav></app-marketing-nav>
<!-- features nav end-->
<section class="slider-image-content">
<carousel [interval]="NextPhotoInterval" [noWrap]="noLoopSlides">
  <slide *ngFor="let slidez of slides; let index=index"
         [active]="slidez.active">
         <img [src]="slidez.image" style="margin:auto;" class="slider-img">
      <div class="banner-content">
        <span class="slide_index">{{index + 1}}</span>
        <h4>{{slidez.title}}</h4>
        <p class="banner_text">{{slidez.detail}}</p>
      </div>
    <!--<div class="carousel-caption">
      <h3 style="background-color: transparent;color: white;">Slide {{index + 1}}</h3>
      <p  style="background-color: transparent;color: white;">{{slidez.text}}</p>
    </div>-->
  </slide>
</carousel>
</section>
<!-- Slider End -->
<section class="list-your-business-banner">
    <div class="list-your-business-image">
        <video width="320" height="240" controls>
          <source src="../../../assets/video/continuing-ed-intro.mp4" type="video/mp4">
        </video> 
      </div>
  <div class="list-your-business-text">
    <h2>The Direct Mail Course Catalogue<br> 1970-2017</h2>
      <p>The Direct Mail Course Catalogue peacefully passed away in his home this winter. He was 47.</p>  
      <p>For years, marketing local classes was done in the direct mail catalogue. Though costly, he produced tremendous results and was the only marketing tool education providers needed. Though he will be dearly missed by all that knew him, his purpose has been graciously and inexpensively replaced by shrpr. </p>
      <p>A private memorial service was already help. In lieu of flowers, the family requests that you list your course offerings on shrpr.</p>
  </div>
 
</section>
<!-- List your business end-->
<section class="jointhenetwork-block">
    <div class="jointhenetwork-content">
      <h2>Join shrpr</h2>
      <p>Host your course on shrpr and immediately show it to our community of passionate learners. People in your community, and from all over the world, will be able to find your course.</p>
<p><a class="jointhenetwork-link" href="#">Join Now <i class="fa fa-chevron-right" aria-hidden="true"></i></a></p>
    </div>
    <div class="jointhenetwork-image">
        <img src="../../../assets/img/jointhenetwork-img.jpg"  alt=" ">
      </div>
</section>
<!--<section class="slider-content">
    <carousel [interval]="NextPhotoInterval" [noWrap]="noLoopSlides">
      <slide *ngFor="let content of slidescontent; let index=index"
             [active]="content.active">
          <div class="slide-content">
            <p>{{content.detail}}</p>
            <p class="author">{{content.author}}</p>
            <p class="tagline">{{content.tagline}}</p>
            
          </div>-->
        <!--<div class="carousel-caption">
          <h3 style="background-color: transparent;color: white;">Slide {{index + 1}}</h3>
          <p  style="background-color: transparent;color: white;">{{slidez.text}}</p>
        </div>-->
      <!--</slide>
    </carousel>
    </section>-->
    <!-- Slider End -->
<!-- Join the Network end -->
<app-marketing-form></app-marketing-form>
      <!-- Form end -->