
<section class="features-banner" id="my-element">
  <div class="features-banner-text">
    <h1>Shrpr’s Education Platform and Marketplace</h1>
    <p>Connecting the world of Face to Face Learning</p>
    <a class="cta-banner" href="/marketing/digital#scheduledemo">Schedule a Demo</a>
  </div>
</section>
<!-- features banner end-->
<app-marketing-nav></app-marketing-nav>
<!-- features nav end-->
<section class="slider-image-content">
    <carousel [interval]="5000">
        <slide> <img src="../../assets/img/marketing-banner01.jpg" style="margin:auto;" class="slider-img">
          <div class="banner-content"> <span class="slide_index">1</span>
            <h4>Attract New Customers</h4>
            <p class="banner_text">Drive web traffic to your program page, teacher page or individual course offerings</p>
          </div>
        </slide>
        <slide>
        <img src="../../assets/img/marketing-banner02.jpg" style="margin:auto;" class="slider-img">
          <div class="banner-content"> <span class="slide_index">2</span>
            <h4>Digital Marketing Made Easy</h4>
            <p class="banner_text">Find new leads and customers with easy integrations</p>
          </div>
        </slide>
        <slide>
        <img src="../../assets/img/marketing-banner03.jpg" style="margin:auto;" class="slider-img">
          <div class="banner-content"> <span class="slide_index">3</span>
            <h4>Search Engine Optimized</h4>
            <p class="banner_text">Move up the Google Search Rankings and get found by people looking for your offering</p>
          </div>
        </slide>
      </carousel>
</section>
<!-- Slider End -->
<section class="list-your-business-banner">
    <div class="list-your-business-image" [class.active]="isBtnActive" (click)="togglevideo()">
        <video width="320" height="240" controls>
          <source src="../../../assets/video/continuing-ed-intro.mp4" type="video/mp4">
        </video> 
      </div>
  <div class="list-your-business-text" id="my-other-element">
    <h2>The Direct Mail Course Catalogue<br> 1970-2017</h2>
      <p>The Direct Mail Course Catalogue peacefully passed away in his home this winter. He was 47.</p>  
      <p>For years, marketing local classes was done in the direct mail catalogue. Though costly, he produced tremendous results and was the only marketing tool education providers needed. Though he will be dearly missed by all that knew him, his purpose has been graciously and inexpensively replaced by shrpr. </p>
      <p>A private memorial service was already help. In lieu of flowers, the family requests that you list your course offerings on shrpr.</p>
  </div>
 
</section>
<!-- List your business end-->
<section class="jointhenetwork-block">
    <div class="jointhenetwork-content">
      <h2>Join shrpr</h2>
      <p>Host your course on shrpr and immediately show it to our community of passionate learners. People in your community, and from all over the world, will be able to find your course.</p>
<p><a class="jointhenetwork-link" [routerLink]="['/login']">Join Now <i class="fa fa-chevron-right" aria-hidden="true"></i></a></p>
    </div>
    <div class="jointhenetwork-image">
        <img src="../../../assets/img/jointhenetwork-img.jpg"  alt=" ">
      </div>
</section>
<!-- Join the Network end -->
<app-marketing-form></app-marketing-form>
      <!-- Form end -->